<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">



</head>
<body>



<div class="scroll h-400px px-5">
	<div id="mmodal" class="modal fade" role="dialog" th:fragment ="addDailyBurnning">		
   <div  class="modal-dialog " >
    <div class="modal-content">
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
      <h1 class="modal-title" align="center">일일운동량에 추가</h1>
     <div class="modal-header">

<script>

function fncGetUserList(currentPage) {
	
	var exerNo = $("#exerNo").attr("data-exerNo");
	//var routineNo =  $("#routineNo:checked").attr("data-routineNo");
	
	 
 if($("#anExerTime").val() == null ||$("#anExerTime").val().length < 1 ){
		 
		 alert("운동시간을 입력하셔야 합니다.");
			return;
		 
	 }
	 
 $("form").attr("method" , "POST").attr("action" , "/exer/addDailyBurnning?exerNo="+exerNo + "&exerLv=" +$(".exerLv").val() 
		                                                              + "&anExerKcal=" + $("#anExerKcal").html()
		                                                              + "&anExerTime=" + $("#anExerTime").val()  ).submit();
   
 
 
 let self_ = self;
 setTimeout(function(){
     if(confirm("등록되었습니다! 확인하시겠어요?")){
    	 
    	 self.location="../exer/getDailyBurnning";
    	 
     }else{
         $('#mmodal').modal("hide");
         //$('#mmodal').modal("show");
     }
 }, 500)


}


$(function() {

	 
	 $("button.btn.btn-success").on("click" , function() {
		 fncGetUserList(1);
			 
	 
});
});

	 function call(){
		 
	 var exerKcal = [[${exer.exerKcal}]]/10; 
	 var exerLv = $(".exerLv").val();
	 var anExerTime = $("#anExerTime").val();
	 var anExerKcal = $("#anExerKcal").val();
	 
	 
	/*  alert(exerKcal)
	 alert(exerLv)
	 alert(anExerTime)*/
	 
	 //alert(anExerKcal) 
	 
	  if(exerLv == "강"){
		  
		anExerKcal = exerKcal*parseInt(anExerTime) + 30;
		
		//alert(anExerKcal)
		
		
		
	 }if(exerLv == "중"){
		 
		 anExerKcal = exerKcal*parseInt(anExerTime) + 20; 
		 
		//alert(anExerKcal)
		 
	 } if(exerLv == "약"){
		 
		 anExerKcal = exerKcal*parseInt(anExerTime) + 10;
		 
		// alert(anExerKcal)
	 } 
		  
	  $('label').html(anExerKcal); 
	 	  
	// alert(anExerKcal)
	 
	 }
	 
	 

</script>









     </div>
        <div class="modal-body" style="height:500px;">

<form target="iframe1">

<iframe id="iframe1" name="iframe1" style="display:none"></iframe>
<div class="row">
<div class="col-12">
<div align="center">
 		<table class="table table-rounded table-flush">
    <thead>
        <tr class="fw-bold fs-7 text-primary border-bottom border-gray-200 py-4" style="color:#F06445">		
            <th class="min-w-130px">운동명</th>         
            <th class="min-w-80px">운동강도</th>         
            <th class="min-w-150px">운동 소요시간(분)</th>         
            <th class="min-w-150px">소모 칼로리</th>         
          </tr>
        </thead>

       <tbody>
	<tr class="py-5 fw-bolder  border-bottom  border-gray-400 fs-4" >
		<td th:text="${exer.exerName}" id="exerNo" th:attr="data-exerNo=${exer.exerNo}" style="cursor:pointer; text-align: left;"></td>
		<td style="cursor:pointer; text-align: left;">
		 <select style="font-size:15px" id="exerLv" class="exerLv" onchange='call()'>
         <option value="강" >강</option>
         <option value="중" selected="selected">중</option>
         <option value="약">약</option>         
         </select>
		</td>
		<td class="min-w-50px"><input style="width:100px;"  id="anExerTime"  onchange='call()' th:value="${exer.anExerTime}"  class="userExerBurnning" type="number" maxlength="3" name=anExerTime/>분</td>
		<td align="left"><input hidden=""  th:value="${exer.anExerKcal}" name="anExerKcal"/><label id="anExerKcal"></label>Kcal</td>
	</tr>
</tbody>
	<!-- 	<img th:src="${../assets/img/dodbogi.png}" style ="height: 60px; width: 20px;"/>			 -->

	</table>

<br><br><br>
	
</div>
</div>
</div>
</form>


 </div>
 
     <div class="modal-footer">
         <button type="button" class="btn btn-success" >등록</button>
     <button type="button" class="btn btn-default" data-bs-dismiss="modal">이전</button>
     </div>
    </div>
   </div>
  </div>
 
  <script src="assets/plugins/global/plugins.bundle.js"></script>
  	  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
  $('.anExerTime').maxlength({
	    warningClass: "badge badge-warning",
	    limitReachedClass: "badge badge-success"
	});
  
  </script>
  		</div>
=======
         <div class="col-md-10">
         <br>
         <br>
         <ins>
         <div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">일일 운동량 조회</div>
         </ins>
         
         <br><br><br><!-- 
         style="width:900px;height:500px; position: absolute; left: 100px;"  -->
         <div align="center">
         <span  data-text-content="true" style="font-weight:bold;font-size:24px" class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총 운동칼로리 : </span>
         <span  data-text-content="true" style="font-weight: normal; font-size: 24px;" class="">&nbsp;2000kcal</span>
         <span data-text-content="true" style="font-weight:bold;font-size:24px" class="">&nbsp;&nbsp;&nbsp;&nbsp;내 목표 운동 칼로리 : </span>
         <span data-text-content="true" style="font-weight: normal; font-size: 24px;" class="">&nbsp;2500kcal</span>
         <span data-text-content="true" style="font-weight:bold;font-size:24px" class="">&nbsp;&nbsp;&nbsp;&nbsp;초과 칼로리 : </span>
         <span data-text-content="true" style="font-weight: normal; font-size: 24px;" class="">&nbsp;500kcal</span>
         </div>
         <br>
   <!-- ${session.user.userName} -->
<!--     ${burnningRecord.recommendExerKcal} -->
   
   
         <br>
            
         <div align="center" data-text-content="true" style="background-color: rgba(241, 196, 15, 0.4); color: rgb(255, 255, 255); border-width: 0px; border-style: none; " class="">
         <br>
         <button style="width:130px; height:30px; text-align: center; font-weight: bold;" type="button" class="btn btn-secondary">루틴등록</button>&nbsp;         
         <button style="width:130px; height:30px; text-align: center; font-weight: bold;" type="button" class="btn btn-light">검색등록</button>&nbsp;         
         <button style="width:200px; height:30px; text-align: center; color:white; font-weight: bold;" type="button" id="recommandList" class="btn btn-info">운동 추천 리스트</button>         
         
         <br><br>
         <div class="form-group">
         <span  data-text-content="true"  style="color:black; font-size: 16px; font-weight: bold;" id="exerName">운동명 :  
         <input type="text" data-min-width="60" data-min-height="30" data-text-content="true" value=""  readonly style="height:30px;color: rgb(94, 94, 94); text-align: center; font-size: 13px; font-weight: normal;" class="form-inline">
         </span>
         <span  data-text-content="true" style="color:black; font-size: 16px; font-weight: bold;" class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;운동 소요시간 :  
         <input type="text" value="" readonly id="anExerTime" placeholder="운동한 시간을 선택하세요">      
      <!--    onKeyup="inputTimeColon(this);" maxlength="5" style="text-align:center;width:40px;" -->
      <!--    <a href="#"><img src="../assets/img/plus2.png" style ="height: 50px; width: 50px;"/></a> -->
         </span>
         </div>
         
         <div class="form-group" align="center">
           <div class="col-md-12 text-center " style="position:absolute; top:800px; left:500px; width: 753px; height: 266px;">
              <button type="button" id="button1" class="btn btn-primary" >수정하기</button>
           </div>
      </div>
         </div>
            
         </div>
         </div>
         </div>
         </form>
   
 <th:block th:replace="layout/fragments/footer.html :: footer"></th:block>

</body>
</html>