<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>



<script type="text/javascript">
function fncGetUserList(currentPage) {
   //document.getElementById("currentPage").value = currentPage;

      //document.detailForm.submit();
   $("form").attr("method" , "POST").attr("action" , "/exer/addUserService").submit();
}

$(function() {

    
    $("#add").on("click" , function() {
       fncGetUserList(1);
      
});
});


</script>   
   
       <form class="form-inline" name="detailForm">   
<div class="container show-grid">
      <div class="row">
         
         <div class="col-md-10">
         <br>
         <br>
         <ins>
         <div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">운동 서비스 활성화 </div>
         </ins>
         <br>
         <div align="center" data-text-content="true" style="font-weight: bold; font-size: 26px; color: rgba(41, 96, 47, 0.55);" class="">
         <div data-text-content="true" style="font-size: 13px; text-align: center; line-height: 1.4em;" class="">운동 관리 기능 및 운동 관리 기능을 사용하시려면<div>정보가 필요합니다. 
         </div><div>데이터 산출 목적에만 사용되고 그 외 목적에는 사용되지 않습니다.</div></div>   
         </div>
         <br><br><br><br>
               
         <div align="left">
         <span data-text-content="true" style="font-weight: bold; font-size: 24px;" class=""> 정보입력
         <span data-text-content="true" style="font-weight: bold; font-size: 16px; text-decoration: none;" class=""> *필수입력 사항</span>
         </span>
        
     
     <div align="center">
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" class="required form-label">체중 관리 목적</label>
    <input th:value="${user.serviceTrgt}" name="serviceTrgt" style=font-weight:bold; type="text" class="form-control form-control-solid" placeholder="ex)옥수수"/>
</div>

<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" class="required form-label">체중</label>
    <input th:value="${user.weight}" name="weight" type="number" style=font-weight:bold; step="0.1" class="form-control form-control-solid" placeholder="ex)111.1"/>
      
      
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" class="required form-label">키</label>
    <input  th:value="${user.height}" name="height" type="number" style=font-weight:bold; step="0.1"  class="form-control form-control-solid" placeholder="ex)111.1"/>
     
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" >나이</label>
    <input  th:value="${user.age}" name="age" type="number" style=font-weight:bold;   class="form-control form-control-solid" placeholder="ex)11.1"/>
    
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" >성별</label>
    <input  th:value="${user.gender}" name="gender" type="text"  style=font-weight:bold;  class="form-control form-control-solid" />
    
</div>

     
       
     
		     <div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" >목표체중</label>
		    <input  th:value="${user.trgtWeight}" name="trgtWeight" type="number"  style=font-weight:bold; step="0.1"  class="form-control form-control-solid" placeholder="ex)70kg"/>
		      
		</div>
		<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" >현재 골격근량</label>
		    <input name="bodyMuscle"  type="number" step="0.1"  class="form-control form-control-solid" placeholder="ex)11.1"/>
		</div>
		<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" >목표 골격근량</label>
		    <input name="trgtBodyMuscle" type="number" step="0.1"  class="form-control form-control-solid" placeholder="ex)11.1"/>
		</div>
		<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" >*하루 목표 소모칼로리</label>
		    <input name="dailyTrgtBurnningKcal" type="number"step="0.1"  class="form-control form-control-solid" placeholder="ex)11.1"/>
		      
		</div>
		     
		         
         <div align="center">
         <button id="add" type="button" class="btn btn-primary" >등 &nbsp;록</button>
         <button id="cancel" type="button" class="btn btn-primary" >취 &nbsp;소</button>
         </div>
         <br><br>
       
         
         </div>
         </div>
         </div>
         </div>
          </div>
          
         </form>
			
   <th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
   
   
   

</body>
</html>