<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>



<script type="text/javascript">
function fncGetUserList(currentPage) {
   //document.getElementById("currentPage").value = currentPage;

      //document.detailForm.submit();
   $("form").attr("method" , "POST").attr("action" , "/exer/addUserService").submit();
}

$(function() {

    
    $("#add").on("click" , function() {
       fncGetUserList(1);
      
});
});
$(function() {
	
	$("#reset").on("click" , function() {
		
		$("form")[0].reset();
});
	
});
</script>   
   
      <form>   
<div class="container show-grid">
      <div class="row">
         
         <div class="col-md-10">
         <br>
         <br>
         <ins>
         <div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">운동 서비스 활성화 </div>
         </ins>
         <br>
         <div align="center" data-text-content="true" style="font-weight: bold; font-size: 26px; color: rgba(41, 96, 47, 0.55);" class="">
         <div data-text-content="true" style="font-size: 13px; text-align: center; line-height: 1.4em;" class="">운동 관리 기능 및 운동 관리 기능을 사용하시려면<div>정보가 필요합니다. 
         </div><div>데이터 산출 목적에만 사용되고 그 외 목적에는 사용되지 않습니다.</div></div>   
         </div>
         <br><br><br><br>
               
         <div align="left">
         <span data-text-content="true" style="font-weight: bold; font-size: 24px;" class=""> 정보입력
         <span data-text-content="true" style="font-weight: bold; font-size: 16px; text-decoration: none;" class=""> *필수입력 사항</span>
         </span>
        
        
       
         <br><br>
         <div align="center">
         <div  data-text-content="true" style="font-weight:bold;font-size:18px; "  class="">*운동 관리 목적
         &nbsp;&nbsp;&nbsp;
         <select style="font-size:15px">
         <option>체중감량</option>
         <option>체중유지</option>
         <option>체중증량</option>         
         </select>
         </div>
         <br><br>
         <span style=" font-weight:bold;font-size:18px; " class="">체중</span>
          &nbsp;&nbsp;&nbsp;
         <input type="number" step="0.1"  name="weight" th:value="${user.weight}" readonly style="height:30px; width:100px; background-color: rgba(224, 224, 224, 0.43); text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" class="">
         <span style=font-weight:bold;font-size:16px;>kg</span>
         <br><br>
         
         <span style=" font-weight:bold;font-size:18px; "  class="">키</span>
    
          &nbsp;&nbsp;&nbsp;
         <input type="number" step="0.1" name="height" th:value="${user.height}" readonly style="height:30px; width:100px; background-color: rgba(224, 224, 224, 0.43); text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" class="">
         <span style=font-weight:bold;font-size:16px;>cm</span>
         <br><br>
         
         
         <span style=" font-weight:bold;font-size:18px; "  class="">나이</span>
          &nbsp;&nbsp;&nbsp;
         <input type="number" step="0.1" name="age" th:value="${user.age}" readonly style="height:30px; width:100px; background-color: rgba(224, 224, 224, 0.43); text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" class="">
         <span style=font-weight:bold;font-size:16px;>세</span>
         <br><br>
         
         <span style="font-weight:bold;font-size:18px; "  class="">성별</span>      
          &nbsp;&nbsp;&nbsp;
         <input checked readonly style="font-weight:bold; font-size:16px;" type="radio" name="gender" value="0">남성&nbsp;&nbsp;&nbsp;&nbsp; 
         <input readonly style="font-weight:bold; font-size:16px;" type="radio" name="gender" value="1">여성 
         <br><br>
         
         <span style="font-weight:bold;font-size:18px; "  class="">목표체중</span>
 		  &nbsp;&nbsp;&nbsp;
         <input type="number" step="0.1"  name="trgtWeight" th:value="${user.trgtWeight}" readonly style="height:30px; width:100px; background-color: rgba(224, 224, 224, 0.43); text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" class="">
         <span style=font-weight:bold;font-size:16px;>kg</span>
         <br><br>
         
         <span style="font-weight:bold;font-size:18px; "  class="">골격근량</span>
         &nbsp;&nbsp;&nbsp;
         <input type="number" step="0.1"  name="bodyMuscle" style="height:30px; width:100px; text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(0, 0, 0);" class="">
         <span style=font-weight:bold;font-size:16px;>%</span>
         <br><br>
         
         <span style=" font-weight:bold;font-size:18px; "  class="">목표골격근량</span>    
          &nbsp;&nbsp;&nbsp;
         <input type="number" step="0.1" name="trgtBodyMuscle" style="height:30px; width:100px; text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold;  color: rgb(0, 0, 0);" class="">
         <span style=font-weight:bold;font-size:16px;>%</span>
         <br><br>
         
         <span style="font-weight:bold;font-size:18px; "  class="">*하루 목표 소모칼로리</span>
          &nbsp;&nbsp;&nbsp;
         <input type="number" step="0.1"   name="dailyTrgtBurnningKcal" style="height:30px; width:100px; text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold;  color: rgb(0, 0, 0);" class="">
         <span style=font-weight:bold;font-size:16px;>Kcal</span><span style="color:gray; font-size:8px;"></span>
         <br><br><br>
       
       
         <div align="center">
         <button id="add" type="button" class="btn btn-primary" >등 &nbsp;록</button>
         <button id="cancel" type="button" class="btn btn-primary" >취 &nbsp;소</button>
         </div>
         <br><br>
         <div align="center">
         <button id="reset" type="button" class="btn btn-primary" >초기화</button>
         </div>
         
         </div>
         </div>
         </div>
         </div>
          </div>
          
         </form>
			
   <th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
   
   
   

</body>
</html>