<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   
<script type="text/javascript">


function fncGetUserList1(currentPage) {
   
   $("form").attr("method" , "GET").attr("action" , "/exer/recommandExerList").submit();
     
}

function fncGetUserList2(currentPage) {
	   
	   $("form").attr("method" , "GET").attr("action" , "/exer/getExerList").submit();
	     
	}
	
function fncGetUserList3(currentPage) {
	   
	   $("form").attr("method" , "GET").attr("action" , "/exer/getRoutineList").submit();
	     
	}
	
	
$(function() {
    
    $( "#recommandList" ).on("click" , function() {
      //Debug..
      //alert(  $( "td.ct_btn01:contains('검색')" ).html() );
      fncGetUserList1(1);
   });
    
    
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    document.getElementById("current_date").innerHTML = year + "/" + month + "/" + day;
    
    $( "#getExerList" ).on("click" , function() {
        //Debug..
        //alert(  $( "td.ct_btn01:contains('검색')" ).html() );
        fncGetUserList2(1);
     });
    
    $( "#addRoutine" ).on("click" , function() {
        //Debug..
        //alert(  $( "td.ct_btn01:contains('검색')" ).html() );
        fncGetUserList3(1);
     });
    
});





</script>
   <form class="form-inline" name="detailForm">
   
   <div class="container show-grid">
      <div class="row">
        
         <div class="col-md-10">
         <br>
         <br>
         <ins>
         <div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">일일 운동량 조회</div>
         </ins>
         
         <br><br><br><!-- 
         style="width:900px;height:500px; position: absolute; left: 100px;"  -->
          <div align="center">
         <span data-text-content="true" style="font-weight:bold;font-size:24px" class="">&nbsp;&nbsp;&nbsp;&nbsp;목표 운동 칼로리: </span>
         <span data-text-content="true" style="font-weight: normal; font-size: 24px;" class="" th:utext="|<b>${exerServ.dailyTrgtBurnningKcal}Kcal<b>|">&nbsp;</span>
         </div>
         <div align="center">
         <span  data-text-content="true" style="font-weight:bold;font-size:24px" class="">일일 총 운동칼로리: </span>
         <span  data-text-content="true" style="font-weight: normal; font-size: 24px;"  class=""  th:utext="|<b>${userExerBurnning}Kcal<b>|">&nbsp;</span>
         </div>
          <div align="center">
         <span data-text-content="true" style="font-weight:bold;font-size:24px" class="" >&nbsp;&nbsp;&nbsp;&nbsp;일일 초과 칼로리: </span>
         <span data-text-content="true" style="font-weight: bold; font-size: 24px; color: red;" class="" th:utext="|<b>${overKcal}Kcal<b>|" >&nbsp;</span>
         </div>
         <br>
   <!-- ${session.user.userName} -->
<!--     ${burnningRecord.recommendExerKcal} -->
   
   
         <br>
            
         <div align="center">
         <br>
         <button style="width:130px; height:30px; text-align: center; font-weight: bold;" type="button" class="btn btn-secondary" id = "addRoutine">루틴등록</button>&nbsp;         
         <button style="width:130px; height:30px; text-align: center; font-weight: bold;" type="button" class="btn btn-light" id= "getExerList" >검색등록</button>&nbsp;         
         <button style="width:200px; height:30px; text-align: center; color:white; font-weight: bold;" type="button" id="recommandList" class="btn btn-info">운동 추천 리스트</button>         
         </div>
         
         <br><br>
           <div align="right"><button th:if="${radio}!=1" class="btn btn-danger" id="deleteview">운동삭제</button>
         <button th:if="${radio}==1" class="btn btn-success">취소</button>
         <button th:if="${radio}==1" class="btn btn-danger" id="delete">삭제하기</button>
         </div>
         
  <!--  <table style="width:400px; position:absolute; top:38px; left:100px; " class="table table-hover table-striped" >			
  		<thead>
          <tr>     
            <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">번호</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">운동명</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);" align="center">운동 소요시간</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);" align="center">소모된 칼로리</th>         
          </tr>
        </thead> -->
        <div class="card card-dashed" align="center">
    <div class="card-header">
        <h3 class="card-title" align="center" id="current_date"></h3>
        <div class="card-toolbar">
         <br><br></div></div>
            <div class="card-body">
<table class="table">
        
          <!--   <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">번호</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">운동명</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);" align="center">운동 소요시간</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);" align="center">소모된 칼로리</th
         -->
       <tbody>
	<tr th:each="data, i : ${list}">
		<td></td>
		<td th:text="${i.count}" style="cursor:pointer; text-align: left;"></td>
		<td th:text="${data.exerName}"   style="cursor:pointer; text-align: left;"></td>
		<td th:text="${data.anExerTime}" style="cursor:pointer; text-align: left;"></td>
		<td th:utext="|소모된 칼로리 : <b>${data.userExerBurnning}Kcal<b>|" style="cursor:pointer; text-align: left;"></td>
		
	</tr>
</tbody>
	<!-- 	<img th:src="${../assets/img/dodbogi.png}" style ="height: 60px; width: 20px;"/>			 -->

	</table>
         </div>
         <div class="form-group" align="center">
           <div class="col-md-12 text-center " style="position:absolute; top:800px; left:500px; width: 753px; height: 266px;">
              <button type="button" id="button1" class="btn btn-primary" >이전</button>
           </div>
      </div>
         </div>
          
         </div>
         </div>
         </div>
         </form>
   
 <th:block th:replace="/layout/fragments/footer.html :: footer"></th:block>
</body>
</html>