<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
   <!--  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>  -->
   <!--  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css"/>  -->

<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>


   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
    
     <!-- ### listPayment resources Start ### -->
   <!--  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>   -->  
<!--     <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>    --> 
  
    <script type="text/javascript">
              
      $(document).ready(function(){ 
      
                        
         var table = $("#myTable").DataTable({
				
             
             
          /*    "columnDefs": [{
                 "defaultContent": "-",
                 "targets": "_all"
               }],  */
               "language": {
            	   "lengthMenu": "Show _MENU_",
            	  },
            	  "dom":
            	   "<'row'" +
            	   "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
            	   "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
            	   ">" +

            	   "<'table-responsive'tr>" +

            	   "<'row'" +
            	   "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            	   "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            	   ">",
           /*  footerCallback:function(){
            	
                alert('홍진호2') 
                
               var api = this.api(), data;
               var result = 0; 

               api.column(4, {search:'applied'}).data().each(function(data,index){
                   result += parseFloat(data);
               });
               $(api.column(4).footer()).html(result.toLocaleString());        
            
            },

            columnDefs: [
               { targets: 0,  width: 80 },
               { targets: 1,  width: 250 },
               { targets: 2,  width: 250 },
               { targets: 3,  width: 250 },
              
            ],  */
            
            "ajax" : {
                "url": "/exer/rest/getExerListJSON",
                "type" : "POST",
                "dataSrc": "",
                "lengthMenu": "Show _MENU_",
                
            },
           
          //  th:href="@{/exer/getExer(exerNo=${exer.exerNo})}"
            columns : [
                {"data" : "exerNo"
                	/* "render": function ( data, type, row, meta ) {
      	           	  
                        data= '<a href="@{/exer/getExer(exerNo='+exerNo+'})}"></a>';
                       
                    }	 */
                },
                {"data" : "exerName"},     
                {"data" : "exerCate"},
                {"data" : "exerKcal"}
          
            ]
         
         });
         
         /* Column별 검색기능 추가 */
         $('#myTable_filter').prepend(
               '<select id="select"></select>');
         
         $('#myTable > thead > tr').children().each(function (indexInArray, valueOfElement) { 
            $('#select').append('<option>'+valueOfElement.innerHTML+'</option>');
         });
            
         $('.dataTables_filter input').unbind().bind('keyup', function () {
              var colIndex = document.querySelector('#select').selectedIndex;
              table.column(colIndex).search(this.value).draw();
          });
         
         $.fn.dataTable.ext.search.push(
              
             function(settings, data, dataIndex){
              
                var min = Date.parse($('#fromDate').val());
                  var max = Date.parse($('#toDate').val());
                  
                  var targetDate = Date.parse(data[6]);
           
                  if( (isNaN(min) && isNaN(max) ) || 
                      (isNaN(min) && targetDate <= max )|| 
                      ( min <= targetDate && isNaN(max) ) ||
                      ( targetDate >= min && targetDate <= max) ){ 
                          return true;
                  }
                  return false;
             }
          )
          
          $('#toDate, #fromDate').unbind().bind('keyup',function(){
              table.draw();
          })

           
      });
      

   </script>
     <!-- ### listPayment resources End ### -->
     
     
     <!-- 버튼 Start -->
     <script type="text/javascript">     

      
   </script>
   <!-- 버튼 End -->        

   <style>
       body > div.container-fluid{
           margin-top: 20px;
       }
       
       .form-horizontal .control-label{
           text-align: left;
       }
   
   </style>   


</head>

<body>

<div class="container-fluid">   
   <div class="col-xs-1">
   </div>
   <div class="col-xs-10">
      <form role="form">
         
         <!-- 상단 Start -->
         <div class="row">  
            <h1 class="col-sm-2 mb-0">&nbsp;&nbsp;&nbsp;&nbsp;운동리스트</h1>           
         </div>
         <!-- 상단 End -->
            
         <hr class="divider-w mt-10 mb-20">
         
         <!-- 목록 Start -->            
         <div class="row">
      
         <table id="myTable" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
            
            <thead>
                <tr class="fw-bolder fs-6 text-gray-800 px-7">          
                  <th>번호</th>
                  <th>운동이름</th>
                  <th>운동종류</th>
                  <th>운동 소모 칼로리(10분당)</th>
                  <th class="text-end min-w-100px">상세정보 보기</th>
               </tr>
            </thead>
	          <!--   <tbody>
	      
	      <div class="container pt-1">
	       <div class="col-sm-6 col-md-4 p-1"  class="row">
	   <tr class="col-sm-6 col-md-4 p-1" th:each="exer ,i: ${list}">
	      
	      <td th:text="${i.count}"  style="cursor:pointer; text-align: left;"></td>
	      <td th:hidden="${exer.exerNo}"  style="cursor:pointer; text-align: left;"></td>      
	      <td> 
	      <a  th:href="@{/exer/getExer(exerNo=${exer.exerNo})}" th:text="${exer.exerName}" style="cursor:pointer; text-align: left;" ></a></td>
	      <td th:text="${exer.exerCate}" style="cursor:pointer; text-align: left;"></td>
	      <td th:text="${exer.exerKcal}" style="cursor:pointer; text-align: left;"></td>
	   </tr>
	   </tbody> -->
            
            <tfoot>
               <tr>
				<!-- <td th:hidden="${exer.exerNo}" id="exerNo"  style="cursor:pointer; text-align: left;"></td>	
                -->   <!-- 하단 합계 -->
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
         
               </tr>
            </tfoot>
            
         </table>      
                  
         </div>
         <!-- 목록 End -->      
   
      </form>
      </div>
   <div class="col-xs-1">
   </div>         
</div>
<th:block th:replace="/layout/fragments/footer.html :: footer"></th:block>
</body>
</html>