<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="/layout/fragments/sidebar.html :: sidebar"></th:block>



<script type="text/javascript">
function fncGetUserList(currentPage) {
	//document.getElementById("currentPage").value = currentPage;

   	//document.detailForm.submit();
	$("form").attr("method" , "GET").attr("action" , "/exer/getExer").submit();
}


$(function() {
	
	 
	 $(".routineName").on("click" , function() {
		 
	
		 
		   $(opener.location).attr("href","/exer/getRoutine?routineNo="+$(this).attr("data-routineNo"));
		   
			/* open.parent.location.href="/exer/getRoutine?routineNo="+$(this).attr("data-routineNo");			
			 */window.close();
});
});

</script>
	
<table style="width:400px; position:absolute; top:38px; left:100px; " class="table table-hover table-striped" >			
  		<thead>
          <tr>
            <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">선택</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">번호</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">루틴명</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);" align="center">루틴시간</th>         
          </tr>
        </thead>
        
       <tbody>
	<tr th:each="data, i : ${list}">
		<td></td>
		<td th:text="${i.count}" style="cursor:pointer; text-align: left;"></td>
		<td th:text="${data.routineName}" class="routineName" th:attr="data-routineNo=${data.routineNo}" style="cursor:pointer; text-align: left;"></td>
		<td th:text="${data.routineTime}" style="cursor:pointer; text-align: left;"></td>
		
	</tr>
</tbody>
	<!-- 	<img th:src="${../assets/img/dodbogi.png}" style ="height: 60px; width: 20px;"/>			 -->

	</table>
	
	         <button style="width:130px; height:30px; text-align: center; font-weight: bold;" type="button" class="btn btn-secondary">루틴등록</button>&nbsp; 
	<!-- 	<div style="position:absolute; top:0px;left:20px"><button type="button" class="btn btn-success">일일운동량 등록</button></div>
			<div style="position:absolute; top:0px; left:197px; "><button type="button" class="btn btn-warning">루틴명수정</button></div>
			<div style="position:absolute; top:0px; left:336px;"><button type="button" class="btn btn-danger" th:onClick="|location.href='@{../exer/addRoutine}'|">루틴생성</button></div>
			<div style="position:absolute; top:0px;	left:460px; "><button type="button" class="btn btn-primary">루틴삭제</button></div>


	 -->
		
   <th:block th:replace="/layout/fragments/footer.html :: footer"></th:block>
	</th:block>
	
	
</body>
</html>

   
   
   
