<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="/layout/fragments/sidebar.html :: sidebar"></th:block>



<script type="text/javascript">
function fncUpdateProduct(){
	
	$("form").attr("method" , "POST").attr("action" , "/exer/aa").submit();
	
}


$(function() {
	
	$( "button.btn.btn-primary").on("click" , function() {
		
 		history.go(-1);
 		
	});	
		
	 $( "#plusKcal"  ).on("click" , function() {
			//Debug..
			//alert(  $( "td.ct_btn01:contains('수정')" ).html() );
			fncUpdateProduct();
		});
	
});

</script>
	
<div class="container show-grid">
		<div class="row">
			
			<div class="col-md-10">
			<br>
			<br>		
			<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">루틴 상세정보</div>
			<br><br><br>
			
			<div data-text-content="true" style="font-weight:bold;font-size:32px;" class="" align="center" th:text=${routine.routineName}></div>
			
			
			<br><br><br>
			<div style="text-align:right;">
			
			<!--Manager로 로그인 시에만 출력  -->
			<a th:href="@{../exer/getRoutine?routineNo=}+${routine.routineNo}" >수정하기</a>
			<a th:href="@{../exer/deleteRoutine?routineNo=}+${routine.routineNo}" >삭제하기</a>
			
			</div>
			
			<br><br>
			<div data-text-content="true" style="font-size:16px;" class="">  
   		 
   		 <table class="table table-hover table-striped" >			
  		<thead>
          <tr>
            <th style="	background-color: rgba(51, 132, 86, 0.62);" align="center">번호</th>         
            <th style="	background-color: rgba(51, 132, 86, 0.62);" align="center">운동명</th>         
            <th style="	background-color: rgba(51, 132, 86, 0.62);" align="center">각 운동별 시간</th>           
            <th style="	background-color: rgba(51, 132, 86, 0.62);" align="center">소모한 칼로리</th>                       
          </tr>
        </thead>
        
	
      <tbody>
	<tr th:each="data,i: ${list}">
		
		<td th:text="${i.count}"  style="cursor:pointer; text-align: left;"></td>
		<!-- <td th:text="${data.exerName}" style="cursor:pointer; text-align: left;"></td>
	 -->	
		<td> 
		<a  th:href="@{/exer/getExer(exerNo=${data.exerNo})}" th:text="${data.exerName}" style="cursor:pointer; text-align: left;" ></a></td>
		<td th:text="${data.anExerTime}" style="cursor:pointer; text-align: left;"></td>
		<td th:text="${data.anExerKcal}" style="cursor:pointer; text-align: left;"></td>
	</tr>
	</tbody>
	<!-- 	<img th:src="${../assets/img/dodbogi.png}" style ="height: 60px; width: 20px;"/>	 -->		

	</table>
			<span data-text-content="true"style="font-weight: bold; font-size: 23px; color: rgb(255, 102, 178); position: absolute; left: 150px; top: 500px;" class="" >운동 총 소요시간 
			<span data-text-content="true" style="font-size:30px;" class=""  th:text=${routine.routineTime}>			
			</span>		
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span  data-text-content="true" style="font-weight: bold; font-size: 23px; color: rgb(255, 102, 178);" class="" >총 소모 칼로리 			
			<span data-text-content="true" style="font-size:30px;" class=""  th:text=${routine.routineKcal}>	
			</span>  
	  		</span>
			</span>
	
	<br><br>
	
	  		
	  		  	  		  
			<br><br><br><br>
			<div class="form-group">
	  		<div class="col-md-12 text-center ">
	  			<button type="button" class="btn btn-primary">이전</button>
	  		</div>
		</div>
		<br/>
		
 	</div>
			<br><br>
			</div>
			</div>
			</div>

   <th:block th:replace="/layout/fragments/footer.html :: footer"></th:block>
   
   
   

</body>
</html>