<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>



<script type="text/javascript">
function fncGetUserList(currentPage) {
	
	$("form").attr("method" , "GET").attr("action" , "/exer/updateUserService").submit();
}

$(function() {

	 
	 $("#update").on("click" , function() {
		 fncGetUserList(1);
		
});
});

</script>   
 
      <form>   
<div class="container show-grid">
      <div class="row">
         
         <div class="col-md-10">
         <br>
         <br>
         <ins>
         <div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">운동 서비스 활성화 조회</div>
         </ins>
         <br>
         <div align="center" data-text-content="true" style="font-weight: bold; font-size: 26px; color: rgba(41, 96, 47, 0.55);" class="">
         <div data-text-content="true" style="font-size: 13px; text-align: center; line-height: 1.4em;" class="">운동 관리 기능 및 운동 관리 기능을 사용하시려면<div>정보가 필요합니다. 
         </div><div>데이터 산출 목적에만 사용되고 그 외 목적에는 사용되지 않습니다.</div></div>   
         </div>
         <br><br><br><br>
               
         <div align="left">
         <span data-text-content="true" style="font-weight: bold; font-size: 24px;" class=""> 정보입력
         <span data-text-content="true" style="font-weight: bold; font-size: 16px; text-decoration: none;" class=""> *필수입력 사항</span>
         </span>
        
       
		 <div align="center">
		<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" class="required form-label">체중 관리 목적</label>
		    <input th:value="${session.user.serviceTrgt}" name="serviceTrgt" type="text" style=font-weight:bold;font-size:16px; class="form-control form-control-solid" />
		</div>
		
		   <div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" class="required form-label">체중</label>
		    <input th:value="${session.user.weight}" name="weight" type="number" step="0.1" style=font-weight:bold;font-size:16px;  class="form-control form-control-solid" />		   
		</div>
		
		<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" class="required form-label">키</label>
		    <input  th:value="${session.user.height}" name="height" type="number" step="0.1"  style=font-weight:bold;font-size:16px; class="form-control form-control-solid" />
		</div>
		<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" >나이</label>
		    <input  th:value="${session.user.age}" name="age" type="number" style=font-weight:bold;font-size:16px;  class="form-control form-control-solid" />		  
		</div>
		<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" >성별</label>
		    <input  th:value="${session.user.gender}" name="gender" type="text" style=font-weight:bold;font-size:16px;  class="form-control form-control-solid" />
		      
		</div>
		
		         
		            <!--   <label class="required fw-bold fs-6 mb-5">성별</label>
				<div align="center">
				      <div class="d-flex flex-column fv-row" align="center">
		            begin::Radio
		            <div class="form-check form-check-custom form-check-solid mb-5">
		                begin::Input
		                <input class="form-check-input me-3" name="radio_input" type="radio" value="0" id="kt_docs_formvalidation_radio_option_1" />
		                end::Input
		
		                begin::Label
		                <label class="form-check-label" for="kt_docs_formvalidation_radio_option_1">
		                    <div class="fw-bolder text-gray-800" align="center">남자</div>
		                </label>
		                end::Label
		            </div>
		            end::Radio
		
		            begin::Radio
		            <div class="form-check form-check-custom form-check-solid mb-5">
		                begin::Input
		                <input class="form-check-input me-3" name="radio_input" type="radio" value="1" id="kt_docs_formvalidation_radio_option_2" />
		                end::Input
		
		                begin::Label
		                <label class="form-check-label" for="kt_docs_formvalidation_radio_option_2">
		                    <div class="fw-bolder text-gray-800">여자</div>
		                </label>
		                end::Label
		            </div>
		            </div>
		        	</div> -->
		        	
		        	<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" >목표체중</label>
		    <input  th:value="${session.user.trgtWeight}" style=font-weight:bold;font-size:16px; name="trgtWeight" type="number" step="0.1"  class="form-control form-control-solid" placeholder="ex)11.1"/>
		</div>
		<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" >골격근량</label>
		    <input  name="bodyMuscle" th:value="${exerServ.bodyMuscle}" readonly  style=font-weight:bold;font-size:16px;  type="number" step="0.1"  class="form-control form-control-solid" placeholder="ex)11.1"/>		   
		</div>
		<div class="mb-10" style="max-width:300px;">
		    <label for="exampleFormControlInput1" >목표골격근량</label>
		    <input  name="trgtBodyMuscle" th:value="${exerServ.trgtBodyMuscle}" style=font-weight:bold;font-size:16px; readonly   type="number" step="0.1"  class="form-control form-control-solid" placeholder="ex)11.1"/>		 
		</div>
		<div class="mb-10" style="max-width:300px;" >
		    <label for="exampleFormControlInput1"  class="required form-label" >하루 목표 소모칼로리</label>
		    <input   name="dailyTrgtBurnningKcal"  th:value="${exerServ.dailyTrgtBurnningKcal}"style=font-weight:bold;font-size:16px; readonly  type="number"step="0.1"  class="form-control form-control-solid" placeholder="ex)11.1"/>
		</div>
		        	
		        	
		        	 	
 
       
         <div align="center">
         <button id="update" type="button" class="btn btn-primary" >수 &nbsp;정</button>

         </div>
         <br><br>        
         
         </div>
         </div>
         </div>
         </div>
       
          
         </form>
			
   <th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
   
   
   
   

</body>
</html>