<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
         
<div class="container show-grid">
      <div class="row">
         
            <div class="col-md-10">
            <br>
            <br>      
         <div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">운동장소 찾기</div>
         <br><br><br>
         
         <div align="right">
             <form class="form-inline" name="detailForm">
                      
                 <div align="right" class="form-group">
         
      <!--    <a href="#" title="공원"><img src="../assets/img/park.png" style ="height: 50px; width: 50px;">    </a>
         <a href="#" title="체육관"><img src="../assets/img/gym.png" style ="height: 50px; width: 50px;">   </a>
       -->   <!-- <a href="#" title="체육시설"><img src="../assets/img/">   </a> -->
         </div>
         </form>
         
   
            <div id="map" style="width:900px;height:500px; position: absolute; left: 100px;" ></div>
            </div>
      
         <button type="button" class="btn btn-lg btn-primary" id="getMyPositionBtn" onclick="getCurrentPosBtn()" style="width: 100px; height: 50px;  position: absolute; left: 400px; top: 700px; ">현위치</button>
         <button type="button" class="btn btn-lg btn-primary"  onclick="getCurrentPosByPickBtn()" style="width: 200px; height: 50px;  position: absolute; left: 550px; top: 700px; ">위치 직접 선택</button>
         
      <!--    <input type="text" class="form-control" id="keyword" value="공원"  style="width: 100px; height: 100px;">
         <button type="button" class="btn btn-lg btn-primary" onclick="keywordSearch()">검색</button>
         
         
    -->   
         </div>      
         </div>
         </div>
          <th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f06ca8d510968c283e5370ce403e280d&libraries=services">
</script>

 <script>

 var mapContainer = document.getElementById('map'), // 지도를 표시할 div
 mapOption = {
     center: new kakao.maps.LatLng(37.57079976471135, 126.98534554229963), // 지도의 중심좌표
     level: 4, // 지도의 확대 레벨
    /*  mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류 */
 };

//지도를 생성한다
var map = new kakao.maps.Map(mapContainer, mapOption);

var infowindow = new kakao.maps.InfoWindow({zIndex:1});


// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places(); 

// 키워드로 장소를 검색합니다
ps.keywordSearch('공원', placesSearchCB); 

// 키워드 검색 완료 시 호출되는 콜백함수 입니다
function placesSearchCB (data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        var bounds = new kakao.maps.LatLngBounds();

        for (var i=0; i<data.length; i++) {
            displayMarker(data[i]);    
            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }       

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    } 
}

// 지도에 마커를 표시하는 함수입니다
function displayMarker(place) {
    
    // 마커를 생성하고 지도에 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(place.y, place.x) 
    });

    // 마커에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function() {
        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
        infowindow.open(map, marker);
    });
}

   
function locationLoadSuccess(pos){
 // 현재 위치 받아오기
 var currentPos = new kakao.maps.LatLng(pos.coords.latitude,pos.coords.longitude);

 // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
 map.panTo(currentPos);
 
 // 마커 생성
 var marker = new kakao.maps.Marker({
     position: currentPos
 });

 // 기존에 마커가 있다면 제거
 marker.setMap(null);
 marker.setMap(map);
};

function locationLoadError(pos){
 alert('위치 정보를 가져오는데 실패했습니다.');
};

//위치 가져오기 버튼 클릭시
function getCurrentPosBtn(){
 navigator.geolocation.getCurrentPosition(locationLoadSuccess,locationLoadError);
};
var infowindow = new kakao.maps.InfoWindow({
    content: '<div style="width:150px;text-align:center;padding:6px 0;">' +
        '위치가 부정확하다면 드래그를 통해 정확한 위치로 옮겨주세요!</div>'
});
infowindow.open(map, marker);

// 기존에 마커가 있다면 제거
marker.setMap(null);
marker.setMap(map);

// 마우스를 마커에 올릴 시 인포윈도우 삭제
kakao.maps.event.addListener(marker, 'mouseover', function() {
    infowindow.close();
});


// 마커의 드래그가 끝나면 현재 위치 갱신
kakao.maps.event.addListener(marker, 'dragend', function() {
    currentPos = marker.getPosition();
});

function getCurrentPosByPickBtn(){
    var userInput = prompt('주소를 입력하세요!');

    // 주소 - 좌표 변환 객체 생성
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(userInput, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords,
                draggable: true
            });

            // 현재 위치 갱신
            currentPos = coords;

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">' +
                    '드래그를 통해 정확한 위치로 옮겨주세요!</div>'
            });
            infowindow.open(map, marker);
            
            
            // 마우스를 마커에 올릴 시 인포윈도우 삭제
            kakao.maps.event.addListener(marker, 'mouseover', function() {
                infowindow.close();
            });

            // 마커의 드래그가 끝나면 현재 위치 갱신
            kakao.maps.event.addListener(marker, 'dragend', function() {
                currentPos = marker.getPosition();
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
}

</script>         

</body>
</html>