<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="/layout/fragments/sidebar.html :: sidebar"></th:block>



<script type="text/javascript">

$(function() {
	
	$( "#button2").on("click" , function() {
		
 		history.go(-1);
 		
	});	
	
});
function fncUpdateProduct(){
	//Form 유효성 검증
 	//var name = document.detailForm.prodName.value;
	//var detail = document.detailForm.prodDetail.value;
	//var manuDate = document.detailForm.manuDate.value;
	//var price = document.detailForm.price.value;
	
	var name = $("input[name='prodName']").val();
	var video = $("input[name='prodDetail']").val();
	var kcal = $("input[name='manuDate']").val();
	var time = $("input[name='price']").val();
	var lv = $("input[name='price']").val();
	var link = $("input[name='price']").val();
	var cate = $("input[name='price']").val();
	
	
	/*  if(name == null || name.length<1){
		alert("상품명은 반드시 입력하여야 합니다.");
		return;
	}
	
	if(kcal == null || kcal.length<1){
		alert("제조일자는 반드시 입력하셔야 합니다.");
		return;
	}
	
	if( time  == null || time .length<1){
		alert("가격은 반드시 입력하셔야 합니다.");
		return;
	}
	
	if( lv == null ||  lv.length<1){
		alert("가격은 반드시 입력하셔야 합니다.");
		return;
	}
	
	
	if( cate == null || cate.length<1){
		alert("가격은 반드시 입력하셔야 합니다.");
		return;
	}
	
	if( link == null || video == null || link.length < 1 || video.length < 1 ){
		alert("둘 중에 하나는 반드시 입력하셔야 합니다.");
		return;
	} 
	 */
	
	$("form").attr("method" , "POST").attr("action" , "/exer/postUpdateExer").attr('enctype','multipart/form-data').submit();
	
	
}

$(function() {
	
	 $( "#button1"  ).on("click" , function() {
		//Debug..
		//alert(  $( "td.ct_btn01:contains('수정')" ).html() );
		fncUpdateProduct();
	});
});


</script>   
   <form class="form-inline" name="detailForm">
<div class="container show-grid">
		<div class="row">
			
			<div class="col-md-10">
			<br>
			<br>		
			<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">운동정보 수정</div>
			<br><br><br>
			
<!-- 			<div data-text-content="true" style="font-weight:bold;font-size:32px;" class="" align="center" th:text=${exer.exerName}></div>
 -->			
			<div class="form-group" align="center">
		    <label for="exerName" class="col-sm-offset-1 col-sm-3 control-label" style="font-weight:bold;font-size:32px;" >운동명</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" id="exerName" name="exerName" th:value=${exer.exerName} readonly>
		      <span id="helpBlock" class="help-block">
		      	<strong class="text-danger">운동명은 수정불가</strong>
		      </span>	 
		    </div>
		  </div>
			
			<div class="form-group" align="center">
		    <label for="exerVideoName" class="col-sm-offset-1 col-sm-3 control-label" style="font-weight:bold;font-size:32px;" >운동영상</label>
		    <div class="col-sm-4">
		      <input type="file" class="form-control" id="exerVideoName" name="exerFile" th:value=${exer.exerVideoName}>
		      <span id="helpBlock" class="help-block">
		      	<strong class="text-danger">15분 이내에 영상만 업로드 해주세요</strong>
		      </span>
		    </div>
		  </div>
			
			<div class="form-group" align="center">
		    <label for="exerVideoTime" class="col-sm-offset-1 col-sm-3 control-label" style="font-weight:bold;font-size:32px;" >운동영상 시간</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" id="exerVideoTime" name="exerVideoTime" th:value=${exer.exerVideoTime} placeholder="영상시간 변경">
		    </div>
		  </div>
			
			<div class="form-group" align="center">
		    <label for="exerLv" class="col-sm-offset-1 col-sm-3 control-label" style="font-weight:bold;font-size:32px;" >운동강도</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" id="exerLv" name="exerLv" th:value=${exer.exerLv} placeholder="운동강도 변경">
		    </div>
		  </div>
			
			<div class="form-group" align="center">
		    <label for="exerKcal" class="col-sm-offset-1 col-sm-3 control-label" style="font-weight:bold;font-size:32px;" >소모칼로리</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" id="exerKcal" name="exerKcal" th:value=${exer.exerKcal} placeholder="소모칼로리 변경">
		    </div>
		  </div>
			
			<div class="form-group" align="center">
		    <label for="exerLink" class="col-sm-offset-1 col-sm-3 control-label" style="font-weight:bold;font-size:32px;" >운동영상 링크</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" id="exerLink" name="exerLink" th:value=${exer.exerLink} placeholder="운동영상 링크 변경">
		      <span id="helpBlock" class="help-block">
		      	<strong class="text-danger">영상주소를 입력해주세요</strong>
		      </span>
		    </div>
		  </div>
		  
			<div class="form-group" align="center">
		    <label for="exerCate" class="col-sm-offset-1 col-sm-3 control-label" style="font-weight:bold;font-size:32px;" >운동카테고리</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" id="exerCate" name="exerCate" th:value=${exer.exerCate} placeholder="운동카테고리 변경">
		    </div>
		  </div>
			
			<br><br><br>
			
			<div class="form-group">
	  		<div class="col-md-12 text-center ">
	  			<button type="button" id="button1" class="btn btn-primary">수정완료</button>
	  			<button type="button" id="button2" class="btn btn-primary">이전</button>
	  		</div>
		</div>
		
			</div>
			</div>
			</div>
			</form>
   <th:block th:replace="/layout/fragments/footer.html :: footer"></th:block>
   
   
   

</body>
</html>