<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- BootStrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="index/toolbar :: toolbar"></div>
<style>
	body {
		text-align: center;
	}
</style>

<!-- 목표습관관리 -->
<div class="container">
	<h2>나의 습관 관리</h2>
	<h3 class="mt-4">목표 습관</h3>
		<div class="row mb-6">
		    <div class="col-4 themed-grid-col"></div>
		    <div class="col-1 themed-grid-col">커피 끊기</div>
		    <div class="col-1 themed-grid-col">금주</div>
		    <div class="col-1 themed-grid-col">금연</div>
		    <div class="col-1 themed-grid-col">사용자설정 항목</div>
		    <div class="col-4 themed-grid-col"></div>
		</div>
		<div class="row mb-3">
		    <div class="col-md-2 themed-grid-col"></div>
		    <div class="col-md-8 themed-grid-col">총 <span th:text="${trgtHabit.trgtHabitSuccDayCount}"></span>일차</div>
		    <div class="col-md-2 themed-grid-col"></div>
		</div>
		<div class="row mb-3">
		    <div class="col-md-2 themed-grid-col"></div>
		    <div class="col-md-8 themed-grid-col"><span th:text="|${time.hour}:${time.min}:${time.sec}|"></span></div>
		    <div class="col-md-2 themed-grid-col"></div>
		</div>
		<div class="row mb-4">
		    <div class="col-4 themed-grid-col"></div>
		    <div class="col-2 themed-grid-col"><a class="btn btn-primary" href="#" role="button">시작</a></div>
		    <div class="col-2 themed-grid-col"><a class="btn btn-default" href="#" role="button">초기화</a></div>
		    <div class="col-4 themed-grid-col"></div>		    
		</div>
</div>

<!-- 수분섭취량 관리 -->
<div class="container">
	<h3 class="mt-4">오늘의 물 마시기 기록</h3>
	<p th:text="|${session.user.userName}님의 일일 권장 수분 섭취량은 ${session.user.strdWtrIntake}L입니다.|"></p>
		<div class="row mb-3">
		    <div class="col-md-2 themed-grid-col"></div>
		    <div class="col-md-8 themed-grid-col">그림 삽입</div>
		    <div class="col-md-2 themed-grid-col"></div>
		</div>
		<div class="row mb-3">
		    <div class="col-md-2 themed-grid-col"></div>
		    <div class="col-md-8 themed-grid-col" th:text="|오늘 총 ${userWtrIntake}L를 마셨어요!|"></div>
		    <div class="col-md-2 themed-grid-col"></div>
		</div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:inline="javascript">

$(function(){
	time();
	setInterval(time, 1000);
});

$(function(){
	
	$("body > div:nth-child(3) > div.row.mb-6 > div:nth-child(2)").on("Click", function(){
		console.log("커피끊기 조회");
		/*<![CDATA[*/
			const today = new Date(+new Date() + 3240 * 10000).toISOString().split("T")[0];
			var data = {userId: $("body > div:nth-child(3) > div:nth-child(4) > div.col-md-8.themed-grid-col > span").val(),
						date: today,
						trgtHabitCateNo: 1};			
		/*]]*/	
		$.ajax({
			url: "/trgtHabit/json/getTrgtHabit",
			type: "POST",
			data: JSON.stringyfy(data)
		}).done(function(trgtHabit){
			console.log("커피끊기 조회 성공");
			$("body > div:nth-child(3) > div:nth-child(4) > div.col-md-8.themed-grid-col > span").html(trgtHabit.trgtHabitSuccDayCount);
		})
			
	})	
});

function time(){
/*<![CDATA[*/
	$.ajax({
				url: "/trgtHabit/json/getCurrentTime",
				type: "GET",
				}).done(function(time){					
					$("body > div:nth-child(3) > div:nth-child(5) > div.col-md-8.themed-grid-col > span").html(time.hour+":"+time.min+":"+time.sec);
				});
/*]]*/
};
</script>
</body>
</html>