<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- BootStrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="index/toolbar :: toolbar"></div>

<style>
	body {
		text-align: center;
	}
</style>
<!-- 목표습관관리 -->
<div class="container">
	<h2>나의 습관 관리</h2>
	<h3 class="mt-4">목표 습관</h3>
		<div class="row mb-6">
		    <div class="col-4 themed-grid-col"></div>
		    <div class="col-1 themed-grid-col" th:onclick="javascript:fncGetTrgtHabit(1)">커피 끊기</div>
		    <div class="col-1 themed-grid-col" th:onclick="javascript:fncGetTrgtHabit(2)">금주</div>
		    <div class="col-1 themed-grid-col" th:onclick="javascript:fncGetTrgtHabit(3)">금연</div>
		    <div class="col-1 themed-grid-col" th:onclick="javascript:fncGetTrgtHabit(4)" th:text="${userHabitName}"></div>
		    <div class="col-4 themed-grid-col"></div>
		</div>
		<div class="row mb-6">
		    <div class="col-4 themed-grid-col"></div>
		    <div class="col-1 themed-grid-col"></div>
		    <div class="col-1 themed-grid-col"></div>
		    <div class="col-1 themed-grid-col"></div>
		    <div class="col-1 themed-grid-col" th:onclick="javascript:fncAddUserHabitName()">+ 추가</div>
		    	<input type="text" style="display:none"/>
		    <div class="col-4 themed-grid-col"></div>
		</div>
		<div class="row mb-6" th:replace="trgtHabit/getATrgtHabitInfo.html :: trgtHabitInfo">
		</div>
</div>

<!-- 수분섭취량 관리 -->
<div class="container">
	<h3 class="mt-4">오늘의 물 마시기 기록</h3>
	<p th:text="|${session.user.userName}님의 일일 권장 수분 섭취량은 ${session.user.strdWtrIntake}L입니다.|"></p>
	<div class="row mb-6" th:replace="trgtHabit/getWtrIntake.html :: getWtrIntake">
	</div>
</div>

</body>
</html>