<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <meta charset="utf-8">


<head th:replace="index/toolbar :: head">

</head>
<body>
	<div th:insert="index/toolbar :: toolbar"></div>

	<div class="container show-grid">
		<div class="row">
			<div class="col-md-2">
				<div data-obj-id="PTjxr" data-obj-type="element"
					data- text-editable="true" class="">
					<div data-text-content="true"
						style="border-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 14px; box-shadow: none; background-color: rgba(31, 108, 28, 0.67);"
						class="">오늘의 추천 음식!</div>
				</div>

				<a href="http://item.gmarket.co.kr/Item?goodscode=2042609688"><img src="../assets/img/salad3.jpg" style ="height:100%; width:100%;"/></a>
			</div>
			<div class="col-md-10">
				<div class="rounded mt-2 text-center">
				<a href="http://bananabd.com/product/detail.html?product_no=7262&cate_no=252&display_group=1&cafe_mkt=naver_ks&mkt_in=Y&ghost_mall_id=naver&ref=naver_open&NaPm=ct%3Dkx201u2w%7Cci%3D1d1f308d28f9903a86c98891e426ce31be0f8efa%7Ctr%3Dsls%7Csn%3D321218%7Chk%3D241b203036cfd4c187f835c7ad525b2a128adb60"><img src="../assets/img/banner1.png" style="width: 1000px;" /></a>
				</div>



			</div>

		</div>
	</div>




</body>
</html>

