<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
	<!-- 怨듯넻 header -->
	<th:block th:replace="/layout/fragments/header.html :: header"></th:block>


	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 怨듯넻 SideBar -->
		<th:block th:replace="/layout/fragments/sidebar.html :: sidebar"></th:block>




		<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
			<div id="kt_content_container" class="container-fluid">
				<span id="kt_typedjs_example_1" class="fs-1 fw-bolder"></span>
			</div>
		</div>

		<div id="mmodalHolder" style="width:200px;"></div>

		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>

		<script>
            var hostUrl = "assets/";

            function timer(){
                popWin = window.open("../exer/exerIndex","popWin","left=300, top=200, width=800, height=600, marginwidth=0, marginheight=0, scrollbars=no, scrolling=no, menubar=no, resizable=no");
            }

		    var typed = new Typed("#kt_typedjs_example_1", {

			    strings: ["칼로리를 알고 먹자.", "정보를 알고 운동하자.", "습관도 관리하자.", "정보를 공유하자.","FineApple"],
			    typeSpeed: 50
			});
		    function listroutine(){
		        popWin = window.open("../exer/getRoutineList","popWin","left=300, top=200, width=800, height=400, marginwidth=0, marginheight=0, scrollbars=no, scrolling=no, menubar=no, resizable=no");
		       	        
		   }  
		    function listcart() {
	            popWin = window.open("../diet/getFavMealList", "popWin", "left=300, top=200, width=600, height=400, marginwidth=0, marginheight=0, scrollbars=no, scrolling=no, menubar=no, resizable=no");
	        }
		   
		 </script>
	</body>
	<!--end::Body-->
</html>