<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
	<resultMap type="Board" id="boardMap">
	
		<result property="postNo" column="post_no" javaType="" jdbcType=""/>
		<result property="user.userId" column="user_id" javaType="" jdbcType=""/>
		<result property="title" column="title" javaType="" jdbcType=""/>
		<result property="content" column="content" javaType="" jdbcType=""/>
		<result property="postDate" column="post_date" javaType="" jdbcType=""/>
		<result property="viewCount" column="view_count" javaType="" jdbcType=""/>
		<result property="cmntCount" column="cmnt_count" javaType="" jdbcType=""/>
		<result property="postLikeCount" column="post_like_count" javaType="" jdbcType=""/>
		<result property="updateStt" column="update_stt" javaType="" jdbcType=""/>
		<result property="cateName" column="post_cate" javaType="" jdbcType=""/>
		<result property="cateName" column="post_cate" javaType="" jdbcType=""/>
		
	</resultMap>
	<insert id="insertPost" parameterType="">
		INSERT INTO BOARD (
		POST_NO, 
		USER_ID,
		GROUP_NO,
		POST_CATE,
		UPDATE_STT,
		TITLE, CONTENT,
		POST_DATE,
		POST_LIKE_COUNT,
		CMNT_COUNT,
		VIEW_COUNT
		)
		VALUES (
		seq_board_post_no.NEXTVAL,
		#{user.userId},
		#{},
		
		)
	</insert>
</mapper>
