<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.fineapple.mapper.ExerMapper">

	<resultMap id="UserServiceMap" type="ExerServ">
		<result property="dailyTrgtBurnningKcal" 			column="DAILY_TRGT_BURNNING_KCAL" 	jdbcType="FLOAT"/>
		<result property="trgtBodyMuscle"	column="TRGT_BODY_MUSCLE" 		jdbcType="FLOAT" />	
		<result property="exerServiceTrgt" 	column="SERVICE_TRGT" 		jdbcType="VARCHAR" />
		<result property="userId" 	column="USER_ID" 		jdbcType="VARCHAR" />	
		<result property="bodyMuscle" 				column="BODY_MUSCLE" 	jdbcType="FLOAT" />	
	</resultMap>
	
	
	
	<resultMap id="BurnningRecordMap" type="BurnningRecord">
		<result property="exer.exerNo" 			column="EXER_NO" 			jdbcType="INTEGER"/>
		<result property="burnningRecordDate"	column="BURNNING_RECORD_DATE" 		jdbcType="DATE" />	
		<result property="exerLv" 	column="EXER_LV" 		jdbcType="INTEGER" />
		<result property="anExerTime" 				column="AN_EXER_TIME" 	  jdbcType="TIMESTAMP" />
		<result property="userExerBurnning" 				column="USER_EXER_BURNNING" 	jdbcType="FLOAT" />
	</resultMap>



	<resultMap id="exerMap" type="Exer">
	     <result property="exerNo" 			column="EXER_NO" 			jdbcType="INTEGER"/>
		<result property="exerCate"	column="EXER_CATE" 		jdbcType="VARCHAR" />
		<result property="exerLv" 	column="EXER_LV" 	javaType="int"	jdbcType="INTEGER" />
		<result property="exerName" 				column="EXER_NAME" 					jdbcType="VARCHAR" />
		<result property="exerKcal" 				column="EXER_KCAL" 					jdbcType="FLOAT" />
		<result property="exerVideoName" 				column="EXER_VIDEO_NAME" 					jdbcType="INTEGER" />
		<result property="exerVideoTime" 				column="EXER_VIDEO_TIME" 					jdbcType="VARCHAR" />	
		<result property="exerLink" 				column="EXER_LINK" 					jdbcType="VARCHAR" />		
	</resultMap>



	<resultMap id="routineInfoMap" type="Routine">
		<result property="routineInfoNo" 			column="ROUTINE_INFO_NO" 			jdbcType="INTEGER"/>
		<result property="routine.routineNo" 			column="ROUTINE_NO" 			jdbcType="INTEGER"/>
		<result property="exer.exerNo"	column="EXER_NO" 		jdbcType="INTEGER" />
		<result property="anExerTime" 	column="AN_EXER_TIME" 		jdbcType="TIMESTAMP" />
		<result property="totalExerSetCount" 				column="TOTAL_EXER_SET_COUNT" 	jdbcType="INTEGER" />
		<result property="aSetTime" 				column="A_SET_TIME" 					jdbcType="TIMESTAMP" />
		<result property="restTime" 				column="REST_TIME" 					jdbcType="TIMESTAMP" />
		<collection property="routine" column="ROUTINE_NO" javaType="java.util.ArrayList">
      </collection>
	</resultMap> 
	
     <!--  <resultMap id ="FavMealMap" type="FavMeal">
      <result property="favMealNo"             column="FOOD_NO"       jdbcType="INTEGER"/>
      <result property="favMealName"    column="USER_ID"       jdbcType="VARCHAR"/>
      <result property="favMealKcal"             column="MEAL"       jdbcType="VARCHAR"/>
      <collection property="food" column="FOOD_NO" javaType="java.util.ArrayList">
      </collection>
      </resultMap>
       -->
      
	<resultMap id="routineMap" type="Routine">	
		<result property="routineNo" 	column="ROUTINE_NO" 		jdbcType="INTEGER" />
		<result property="routineName" 	column="ROUTINE_NAME" 		jdbcType="VARCHAR" />
		<result property="routineTime" 				column="ROUTINE_TIME" 					jdbcType="TIMESTAMP" />
		<result property="routineKcal" 				column="ROUTINE_KCAL" 					jdbcType="FLOAT" />
	</resultMap>


	<insert id="addUserService" parameterType="ExerServ">
	INSERT INTO  USER_SERVICE (USER_SERVICE_NO, USER_ID, DAILY_TRGT_BURNNING_KCAL, TRGT_BODY_MUSCLE, BODY_MUSCLE) 
	VALUES (seq_user_service_no.NEXTVAL,
			#{userId:VARCHAR},
			#{dailyTrgtBurnningKcal:FLOAT},
			#{trgtBodyMuscle:FLOAT},
			#{bodyMuscle:FLOAT},
			)
	
	</insert>
	
	<update id="updateUserService" parameterType="ExerServ">
	UPDATE USER_SERVICE SET 
	DAILY_TRGT_BURNNING_KCAL=#{dailyTrgtBurnningKcal:FLOAT},
	TRGT_BODY_MUSCLE=#{trgtBodyMuscle:FLOAT},
	BODY_MUSCLE=#{bodyMuscle:FLOAT}
	WHERE USER_ID=#{userId:VARCHAR}
	</update>
	
		
	<select	id="getUserService"	 parameterType="String" resultType="ExerServ">
			SELECT * FROM USER_SERVICE WHERE USER_ID=#{value}
	</select>
	
	
	<insert id="addDailyBurnning" parameterType="BurnningRecord">
	INSERT INTO BURNNING_RECORD (BURNNING_RECORD_NO, USER_SERVICE_NO, EXER_NO, BURNNING_RECORD_DATE, EXER_LV, AN_EXER_TIME, USER_EXER_BURNNING) 
	VALUES (seq_burnning_record_no.NEXTVAL,
			(SELECT user_service_no from user_service where user_id =#{userId:VARCHAR}),
			#{exer.exerNo:INTEGER},
			SYSDATE,
			#{exerLv:INTEGER},
			#{anExerTime:TIMESTAMP},
			#{userExerBurnning:FLOAT}
			)
	
	</insert>
	
	
   <update id="updateServiceTrgt" parameterType="ExerServ">
   UPDATE USERS 
   SET SERVICE_TRGT = #{exerServiceTrgt:VARCHAR}
   WHERE USER_ID = #{userId:VARCHAR}
   </update>
	
	
	
	<update id="updateBodyInfo" parameterType="ExerServ">
   UPDATE USER_BODY_INFO
   SET BODY_MUSCLE = #{bodyMuscle:FLOAT}
   WHERE USER_ID = #{userId:VARCHAR}
   	</update>
	
	
		
	<!-- <select  id="getExerList"  parameterType="hashMap"  resultMap="exerMap" >
	  	SELECT *
		FROM (SELECT inner_table.* , ROWNUM AS exer_No
		FROM(SELECT exer_name, exer_cate, exer_kcal
		FROM EXER
		ORDER BY exer_No ) inner_table)
		WHERE exer_No BETWEEN 1 AND 4
	 </select> -->
	 
	 
 	<insert id="addExer"  parameterType="Exer">
	INSERT
	INTO EXER (EXER_NO, EXER_CATE, EXER_LV, EXER_NAME, EXER_KCAL, EXER_VIDEO_NAME, EXER_VIDEO_TIME, EXER_LINK)
	VALUES(10,
    #{exerCate:INTEGER},
    #{exerLv:INTEGER},
	#{exerName:VARCHAR},
    #{exerKcal:FLOAT},
    #{exerVideoName:VARCHAR},
    #{exerVideoTime:VARCHAR},
    #{exerLink:VARCHAR})
	</insert> 
	
	 
	 
	<select  id="getExerList"  parameterType="hashMap"  resultMap="exerMap">
	SELECT *
	FROM (SELECT inner_table.* , ROWNUM AS row_seq
	FROM (SELECT e.exer_no, e.exer_name, e.exer_cate, e.exer_kcal
	FROM EXER e
	<if test="searchCondition != null">
	<where>
	<if test="searchCondition == 0 and searchKeyword !='' ">
	exer_name like '%'||#{searchKeyword:VARCHAR}||'%'
	</if>
	<if test="searchCondition == 1 and searchKeyword !='' ">
	exer_kcal like '%'||#{searchKeyword:VARCHAR}||'%'
	</if>
	</where>
	</if>
	ORDER BY exer_No ) inner_table
	WHERE ROWNUM &lt;= 10)
	WHERE row_seq BETWEEN 1 AND 10
	<!-- WHERE ROWNUM &lt;= #{endRowNum} )
	WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}  -->
	</select>
	 
	 
	<select	id="getExer"	parameterType="Integer"  resultMap="exerMap">
			SELECT EXER_NO, EXER_NAME, EXER_VIDEO_NAME, EXER_VIDEO_TIME, EXER_LV, EXER_KCAL,EXER_LINK, EXER_CATE
			FROM   EXER 
			WHERE  EXER_NO= #{exerNo:INTEGER}
	</select>
	 
	 
	 
	 <update id="updateExer" parameterType="Exer">
	 <!-- <selectKey order="AFTER" 
	 keyProperty="exerName,exerCate,exerVideoName,exerVideoTime,exerLv,exerKcal,exerLink" 
	 keyColumn="EXER_NAME,EXER_CATE,EXER_VIDEO_NAME,EXER_VIDEO_TIME,EXER_LV,EXER_KCAL,EXER_LINK"
	 resultType="hashmap">
	 SELECT * FROM
	 EXER 
	 WHERE exer_no = #{exerNo}
	 </selectKey> -->
	 
     UPDATE EXER
     SET EXER_NAME  = #{exerName:VARCHAR},
      	 EXER_CATE =  #{exerCate:INTEGER},
         EXER_VIDEO_NAME = #{exerVideoName:VARCHAR},
         EXER_VIDEO_TIME = #{exerVideoTime:VARCHAR},
         EXER_LV = #{exerLv:INTEGER},
         EXER_KCAL = #{exerKcal:FLOAT},
         EXER_LINK =  #{exerLink:VARCHAR}
     WHERE EXER_NAME = #{exerName:VARCHAR}
   	</update>
   	
   	
   	<delete id="deleteExer" parameterType="Exer">  
   	DELETE 
   	FROM EXER
   	WHERE EXER_NO = #{exerNo:INTEGER}
   	</delete> 
	
	






	<insert id="addRoutine" parameterType="Routine">
	INSERT INTO ROUTINE(routine_no, user_service_no, routine_name, routine_time , routine_kcal)
	VALUES(seq_routine_routine_no.NEXTVAL,
		(SELECT user_service_no from user_service where user_id =#{userId:VARCHAR} ),
        #{routineName:VARCHAR},
	    #{routineTime:TIMESTAMP},
	    #{routineKcal:FLOAT} )	
	</insert>


	 <update id="updateRoutine"  parameterType="Routine">
     UPDATE ROUTINE
     SET ROUTINE_NAME  = #{routineName:VARCHAR},
         ROUTINE_TIME = #{routineTime:VARCHAR},
         ROUTINE_KCAL = #{routineKcal:FLOAT}
     WHERE ROUTINE_NO = #{routineNo:INTEGER}
   	</update>
   	
   	

	<select	id="getRoutine"	parameterType="Integer"  resultMap="routineMap">
			SELECT routine_no, user_service_no, routine_name, routine_time , routine_kcal
			FROM   ROUTINE
			WHERE  ROUTINE_NO= #{routineNo:INTEGER}
	</select>
	 
	 
 
	<delete id="deleteRoutine" parameterType="Routine">  
   	DELETE 
   	FROM ROUTINE
   	WHERE ROUTINE_NO = #{routineNo:INTEGER}
   	</delete> 



	<select  id="getRoutineList"  parameterType="hashMap"  resultMap="routineMap">
	SELECT *
	FROM (SELECT inner_table.* , ROWNUM AS row_seq
	FROM (SELECT R.routine_no, R.routine_name, R.routine_time
	FROM ROUTINE R
	ORDER BY routine_No ) inner_table
	<!-- WHERE ROWNUM &lt;= 10) -->
	WHERE row_seq BETWEEN 1 AND 10
	<!-- WHERE ROWNUM &lt;= #{endRowNum} )
	WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}  -->
	</select>


	<insert id="addRoutineInfo" parameterType="Routine">
	INSERT INTO ROUTINE_INFO(routine_info_no, routine_no,  exer_no, an_exer_time)
	VALUES(seq_routine_info_no.NEXTVAL,
          #{routineNo:INTEGER},
          #{exer.exerNo:INTEGER},
	      #{anExerTime:TIMESTAMP})	
	</insert>


	<select	id="getRoutineInfo"	parameterType="Integer"  resultMap="routineInfoMap">
			SELECT routine_info_no, routine_no,  exer_no, an_exer_time
			FROM   ROUTINE_INFO
			WHERE  ROUTINE_INFO_NO= #{routineInfoNo:INTEGER}
	</select>
	 


	<delete id="deleteRoutineInfo" parameterType="Routine">  
 	DELETE 
   	FROM ROUTINE_INFO
   	WHERE ROUTINE_INFO_NO = #{routineInfoNo:INTEGER}
   	</delete> 


	<select  id="recommandExerList"  parameterType="hashMap"  resultMap="exerMap">
	SELECT *
	FROM (SELECT inner_table.* , ROWNUM AS row_seq
	FROM (SELECT e.exer_no, e.exer_name, e.exer_cate, e.exer_kcal
	FROM EXER e
	<if test="searchCondition != null">
	<where>
	<if test="searchCondition == 0 and searchKeyword !='' ">
	exer_name like '%'||#{searchKeyword:VARCHAR}||'%'
	</if>
	<if test="searchCondition == 1 and searchKeyword !='' ">
	exer_kcal like '%'||#{searchKeyword:VARCHAR}||'%'
	</if>
	</where>
	</if>
	ORDER BY exer_No ) inner_table
	WHERE ROWNUM &lt;= 10)
	WHERE row_seq BETWEEN 1 AND 10
	<!-- WHERE ROWNUM &lt;= #{endRowNum} )
	WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}  -->
	</select>
	 
	 
	 
	 

	
	

</mapper>