<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">


</head>
<body>
<div th:insert="index/toolbar :: toolbar">
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:inline="javascript">

	$(function(){
		$("#agreementbt").on("click",function(){
			popWin = window.open("/user/agreement.html")
		});
	});
	
	$(function(){
		$("#checkDuplication").on("click",function(){
			var userId = $("#userId").val()
			console.log(userId);
			a.ajax(
					{
						url:"/user/json/checkDuplication"+userId,
						method:"GET",
						dataType:"json",
						headers : {
								"Accept" : "application/json",
								"Content-Type" : "application/json"
						},
						success : function(JSONData,status){
							
						}
						
					
			})
		});
	});
	
   $(function(){
      $("input.addUser").on("click",function(){
         fncAddUser();
      });
   });
   
   function fncAddUser(){
	  console.log("fncAddUser시작");
      var userName=$("#userName").val();
      console.log(userName);
      var password=$("#password").val();
      var cellphone=$("#cellphone").val();
      var age =$("#age").val();
      if($("#male").val() == 'male'){
    	  var gender=$("#male").val();
      }
      if($("#female").val() == 'female'){
    	  var gender=$("#female").val();
      }
      
      if(age == null || userId == null || userName==null || password==null || cellphone==null){
    	  alert("미기입항목이 있습니다.");
    	  return;
      }
  	  console.log(gender);
      console.log("fncAddUser끝");

  
      alert("회원가입에 성공하셨습니다.");
      $("form").attr("method","POST").attr("action","/user/addUser/redirect").submit();
     
      
   }
   
</script>

<ins>
<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">회원가입</div>
</ins>
<br>

<div align="center" data-text-content="true" style="font-size: 10px; color: black;" class="">회원가입은 무료이며</div>
<div align="center" data-text-content="true" style="font-size: 10px; color: black;" class="">기능별 추가 기입사항은 기능 활성화시 요구됩니다.</div>
<br>
<ins>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" class="">정보입력</div>
</ins>
<form method="POST" enctype="multipart/form-data" >
<br>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" class="">이메일</div>
<br>
<p align ="center"><input id ="userId" name="userId" type="text" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="이메일형식으로 작성해주세요." style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204);" required>
<input type="button" id="agreeSend" name ="agreeSend" value="인증번호 받기"/></p>

<br>
<div>
<div align ="center" data-text-content="true" style="font-weight:bold;font-size:18px ;color: rgb(41, 96, 47)" class="">인증번호</div>
<p align = "center"> <input type = "text" id = "agreeNum" name="agreeNum" placeholder ="인증번호를 입력해주세요." class = "agreement"><input type = "button" value = "인증번호 확인 "></p>
</div>
<br>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" >이름</div>
<div align="center">
<input id = "userName" name = "userName" type="text" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="이름" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204);" required>
</div>
<br>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" class="">휴대폰번호(숫자만 입력)</div>
<div align="center">
<input id="cellphone" name="cellphone" type="text" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="휴대폰번호" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204);" required>
</div>
<br>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" class="">비밀번호</div>
<div align="center">
<input id ="password" name = "password" type="password" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="비밀번호 입력" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204);" required>
</div>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" class="">프로필사진</div>
<br>
<p align = "center">
<input type="file" id="userImg1" name = "userImg1" ></p>
<br>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" class="">몸무게</div>
<div align="center">
<input name = "weight" id = "weight" type="text" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="kg" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204);" required>
</div>
<br>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" class="">성별</div>
<div align = "center">
<span><input class = "gender" id="male" type = "radio" name = "gender" value ="male" checked = "checked" style = "font-size : 20px;">남</span>
<span><input class = "gender" id="female" type = "radio" name = "gender" value ="female" style = "font-size : 20px;">여</span>
</div>
<br>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" class="">키</div>
<div align="center">
<input id = "height" name="height" type="text" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="cm" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204);"required>
</div>
<br>
<div align="center" data-text-content="true" style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" class="">나이</div>
<div align="center">
<input id = "age" name="age" type="text" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="세" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204);" required>
</div>
<br>
<div align = "center">
<span style="font-weight : bold; font-size: 15px; color: rgb(41, 96, 47);" >약관동의</span>
<span><input class = "agreement" id = "agree" type = "radio" name = "agreement" checked = "checked" style = "font-size : 20px;">약관동의</span>
<span><input class = "agreement" id = "disagree"type = "radio" name = "agreement" style = "font-size : 20px;">비동의</span>
<span><input type = "button" class="agreement-button" id = "agreementbt"  placeholder = "약관동의서" ></span>
</div>
<br>
<div align = "center">
<input class = "addUser" type = "submit" placeholder = "회원가입" style = "background-color : rgb(21, 119, 210) ; color : white; border : none;border-radius: 10px; padding: 7px 50px">
</div>
</form>
</body>
