<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>
<style>
    form .mb-10 label{
        text-align: left;
        display: block;
    }
    form .input-with-btn input{
        margin-right: 10px;
    }

    form .input-with-btn button{
        white-space: nowrap;
    }
</style>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->



<form method="POST" enctype="multipart/form-data" >
<div align="center">
<div class="text-light-success bg-success" style ="font-size:20px; max-width : 750px;" align="center" data-text-content="true"  >회원가입</div>

<br>

<div align="center" data-text-content="true" style="font-size: 10px; color: black;" class="">회원가입은 무료이며</div>
<div align="center" data-text-content="true" style="font-size: 10px; color: black;" class="">기능별 추가 기입사항은 기능 활성화시 요구됩니다.</div>
<br>
<ins>
</ins>
<br>
<div align="center" data-text-content="true" style="max-width:300px;" class="mb-10">
  <label for="exampleFormControlInput1" >정보입력</label>
</div>
<div class="mb-10" style="max-width:300px;" th:if="${session.user != null }">
    <label for="exampleFormControlInput1" class="required form-label">이메일</label>
    <input name="userId" type="text" id ="userId" class="form-control form-control-solid" th:value = "${session.user.userId}"  required/>
   <p> <span align="center" id = "change" name ="change"></span>
   <input type="button" id="sendMail" name ="sendMail" >인증번호 전송</p>
</div>
<div class="mb-10" style="max-width:300px;" th:if="${session.user == null }">
            <label for="userId" class="required form-label">이메일</label>
            <div class="d-flex flex-stack input-with-btn">
                <input name="userId" type="text" id ="userId" class="form-control form-control-solid" placeholder="이메일 형식으로 작성해주세요." required/>
                <button class="btn btn-primary" type="button" data-kt-element="send" id="sendMail" name="sendMail">전송</button>
            </div>
        </div>
                <span align="center" id = "change" name ="change"></span>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" class="required form-label" th:if ="${session.user == null}">인증번호</label>
   <p> <input id="compare" name ="compare"type="text" class="form-control form-control-solid" placeholder="인증번호 전송버튼을 눌러주세용"/>
   <span align="center" id = "compareEmail" name ="compareEmail"></span></p>
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" class="required form-label">이름(닉네임)</label>
    <input name="userName" id="userName" type="text" class="form-control form-control-solid" placeholder="ex)파인이"required/>
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" >휴대폰번호</label>
    <input name="cellphone" id="cellphone" type="text" class="form-control form-control-solid" placeholder="ex)01012345678"required/>
</div>
<div class="mb-10" style="max-width:300px;" th:if="${session.user == null}">
    <label for="exampleFormControlInput1" >비밀번호</label>
    <input name="password" id="password" type="password" class="form-control form-control-solid" placeholder="ex)비밀번호를 입력해주세요."required/>
    <br>
    <label for="exampleFormControlInput1" >비밀번호 확인</label>
    <input name="checkPassword" id="checkPassword" type="password" class="form-control form-control-solid" placeholder="ex)비밀번호 확인"required/>
    <p> <span align="center" id = "changePassword" name ="changePassword"></span>
    
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" >몸무게</label>
    <input name="weight" id="weight" type="text" class="form-control form-control-solid" placeholder="ex)60"required/>
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" >성별</label>
   <span><input name="gender" id="male" type="radio" checked = "checked" value ="male"  />남</span>
   <span><input name="gender" id="female" type="radio" value ="female" />여</span>
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" >키</label>
    <input name="height" id="height" type="text" class="form-control form-control-solid" placeholder="ex)170"required/>
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" >나이</label>
    <input name="age" id="age" type="text" class="form-control form-control-solid" placeholder="ex)20" required/>
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" >목표체중</label>
    <input id="trgtWeight" name="trgtWeight" type="text" class="form-control form-control-solid" placeholder="ex)57" required/>
</div>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" >프로필사진</label>
    <input id="userImg1" name="userImg1" type="file" class="form-control form-control-solid" placeholder="ex)57" />
</div>
 <div  data-text-content="true" style="max-width:300px;">
     <label for="exampleFormControlInput1" >목표설정</label>
         <select  class="form-select form-select-solid" data-control="select 1" name="serviceTrgt" id="serviceTrgt">
         <option value ="체중감량">체중감량</option>
         <option value ="체중유지">체중유지</option>
         <option value ="체중증량">체중증량</option>         
         </select>
  </div>

<br>
          <button class="btn btn-success" id="submit" style="max-width:100px;">회원가입</button>
         <button class="btn btn-info" style="max-width:100px;" >이전</button>

</div>
<br>
</form>

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
      <!-- 공통 하단 footer -->
<th:block th:replace="/layout/fragments/footer.html :: footer"></th:block>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:inline="javascript">

   $(function(){
      $("#agreementbt").on("click",function(){
         popWin = window.open("/user/agreement.html")
      });
   });
   
  $(function(){
	  $("#checkPassword").keyup(function(){
	  var password= $("#password").val();
	  var checkPassword = $("#checkPassword").val();
	 
		console.log(checkPassword);
		  if(password == checkPassword){
			  $("#changePassword").html("<div>비밀번호가 일치합니다.</div>");
			  $("#changePassword").attr('color', '#31B404');

		  }
		  else if(password != checkPassword){
			  $("#changePassword").html("<div>비밀번호가 일치하지 않습니다.</div>");
			  $("#changePassword").attr('color', '#FF0000');
		  }
	  })
		  
  })
  
  
   $(function(){
      $("#userId").on("keyup",function(){
         console.log("올라갔닝")
         var userId = $("#userId").val()
         console.log(userId);
         data = { 
               userId : userId
               }
         $.ajax(
               {
                  url:"/user/checkDuplication",
                  method:"POST",
                  data: JSON.stringify(data),
                  accept : "application/json",
                  contentType : "application/json"
         }).done(function(result){
            console.log(result);
            if(result == 0){
               if(userId != ""){
                  if(userId.indexOf('@') <1 || userId.indexOf('.') == -1){
                     $("#change").html("<p>올바른 email형식이 아닙니다.</p>");
                  }
                  else{
                     $("#change").html("<p>사용가능한 아이디입니다.</p>");
                     $("#userId").css('color','green');
                  }
               }else{
                  $("#change").html("");
               }
               
            }else{
               $("#change").html("<p>이미 사용중인 아이디 이거나 중복된 아이디 입니다.</p>");
               $("#userId").css('color',"red");
            }
         })
      });
   });
   
   $(function(){
      $("#submit").on("click",function(){
         fncAddUser();
      });
   });
   
   function fncAddUser(){
     console.log("fncAddUser시작");
      var userName=$("#userName").val();
      console.log(userName);
      var password=$("#password").val();
      var cellphone=$("#cellphone").val();
      var age =$("#age").val();
      var height = $("height").val();
      var weight = $("#weight").val();
      var trgtWeight=$("trgtWeight").val();
      var userId = $("#userId").val();
      var textTest = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
      if($("#male").val() == 'male'){
         var gender=$("#male").val();
      }
      if($("#female").val() == 'female'){
         var gender=$("#female").val();
      }
/*       if(userName == ""){
         alert("닉네임을 입력하지 않으셨습니다.");
         return; */
      /* }else */ if(userId == ""){
         alert("이메일을 입력하지 않으셨습니다.");
         return;
      }else if(textTest.test(userId) == false){
         alert("이메일 형식으로 입력해주세요.")
         return;
      }
      else if(password == ""){
         alert("비밀번호를 입력하지 않으셨습니다.");
         return;
      }else if(cellphone == ""){
         alert("전화번호를 입력하지 않으셨습니다.");
         return;
      }else if(age == ""){
         alert("나이를 입력하지 않으셨습니다.");
         return;
      }else if(weight == ""){
         alert("몸무게를 입력하지 않으셨습니다.");
         return;
      }else if(height == ""){
         alert("키를 입력하지 않으셨습니다.");
         return;
      }else if(trgtWeight == ""){
         alert("목표체중을 입력하지 않으셨습니다.");
         return;
      }
      else{
         alert("회원가입에 성공하셨습니다.");
          $("form").attr("method","POST").attr("action","/user/addUser/redirect").submit();
      }
       console.log(gender);
      console.log("fncAddUser끝");

      }


   $(function(){

	      $("#sendMail").on("click",function(){
	    	  
	          var userId = $("#userId").val();
	          var data ={
	        	  userId:userId
	          };
	          if(userId == ""){
	             alert("메일주소가 입력되지 않았습니다.");
	          }else{
	        	 alert("userId:" + userId);
	         	 $.ajax({
	         		type : "POST",
	         		url : "/user/sendMail",
	         		data : JSON.stringify(data),
	         		accept : "application/json",
	         		contentType : "application/json"
	         	 }).done(function(data){
	         		 alert("인증번호를 확인해주세요.");
	         		 isCertifidation = true;
	         		 var key = data;
	         		   $("#compare").on("keyup",function(){
	         			   console.log("인증번호 올라갔닝")
	         			   var compare = $("#compare").val();
	         			   console.log(compare)
	         			   if(compare == key){
	         				   $("#compareEmail").html("<p>인증성공!</p>")
	         				   $("#compareEmail").css('color','green');
	         				   isCertification=true;
	         			   }else{
	         				   $("#compareEmail").html("<p>인증실패!</p>")
	         				   	$("#compareEmail").css('color','red');
	         				   isCertification=false;
	         			   }
	         		   })
	         	 })
	         	 
	  
	          }

          })
   })
   

      

   
</script>

   </body>
   <!--end::Body-->
</html>