<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>
<style>
    form .mb-10 label{
        text-align: left;
        display: block;
    }
    form .input-with-btn input{
        margin-right: 10px;
    }

    form .input-with-btn button{
        white-space: nowrap;
    }
</style>
   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
      <th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
 <form method="POST" enctype="multipart/form-data" >
<div align="center">
<h1 class="fs-2tx fw-bolder mb-8">
											<span class="d-inline-block position-relative ms-2">
												<span class="d-inline-block mb-2">비밀번호 변경</span>
												<span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-success translate rounded"></span>
											</span></h1><br>
<br>
<br>
<div class="mb-10" style="max-width:300px;" >
            <label for="userId" class="required form-label">현재 비밀번호</label>
            <div class="d-flex flex-stack input-with-btn">
                <input name="password" type="password" id ="password" class="form-control form-control-solid" placeholder="현재 비밀번호를 입력해주세요." required/>
                <input type="hidden" th:value = "${session.user.userId}" id="userId" name="userId">
                <button class="btn btn-primary" type="button" data-kt-element="send" id="checkPassword" name="checkPassword">전송</button>
            </div>
        </div>
   <div id="change" name="change"></div>
   </div>   
   </form>   
      
      
      
      
<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:inline="javascript">
   $(function(){
	   $("#checkPassword").on("click",function(){
			var password =$("#password").val();
			var userId = $("#userId").val()
			console.log(password)
			console.log(userId)
			data={
					password:password,
					userId:userId
					
			}
			$.ajax({
				url:"/user/checkPassword/rest",
				method:"POST",
				data:JSON.stringify(data),
				accept:"application/json",
				contentType:"application/json",
			}).done(function(result){
				console.log(result);
				if(result ==1){
                    $("#change").html("<p>비밀번호 일치!</p>");
                    var displayValue="<div class='mb-10' style='max-width:300px;'><input type='password' placeholder='변경할 비밀번호'class='form-control form-control-solid' id='firstPassword'name='firstPassword' ></div>"
                    var displayValuetwo="<div class='mb-10' style='max-width:300px;'><input type='password' placeholder='재확인 비밀번호'class='form-control form-control-solid'id='secondPassword' name='secondPassword'  ></div>"
                   	var buttonValue ="<button class='btn btn-primary' type='button' data-kt-element='send' id='changePassword' name='changePassword'>변경하기</button>"


                    $("#change").append(displayValue);
                    $("#change").append(displayValuetwo);
                    $("#change").append(buttonValue);


				}
				else{
                    $("#change").html("<p>비밀번호 불일치 다시 입력해주세요</p>");

				}
			})
	   });
   });
   
   
   $(function(){
	   $(document).on("click","#changePassword",function(){
		   var firstPassword = $("#firstPassword").val();
		   var secondPassword = $("#secondPassword").val();
		   var userId =$("#userId").val();
		   data={
					password:firstPassword,
					userId:userId
			}
		   if(firstPassword == secondPassword){
		   $.ajax({
			   url:"/user/changePassword",
			   method:"POST",
			   data:JSON.stringify(data),
			   accept:"application/json",
			   contentType:"application/json"
		   }).done(function(){
			   alert("비밀번호 변경이 완료되었습니다.");
			   window.location="/"
		   })
		   }
		   else{
			   alert("재확인 비밀번호가 일치하지 않습니다.");
		   }
	   })
   })
   
   
</script>

   </body>
   <!--end::Body-->
</html>