<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>
<style>
  #toc-content {
    display: none;
  }
 
</style>

   <!--begin::Body-->
<body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
   
<div align="center">
<div class="text-light-success bg-success" style ="font-size:20px; max-width : 750px;" align="center" data-text-content="true"  >FAQ</div>
<br>
<div align="center" data-text-content="true" style="font-size: 10px; color: black;" class="">자주하는 질문</div>
<br>
<div class="card shadow-sm" style="max-width:600px">
    <div class="card-header" onClick="openCloseToc()">
        <h3 class="card-title" >제에목</h3>
        <div class="card-toolbar">
            <button type="button" class="btn btn-sm btn-light">
                Action
            </button>
        </div>
    </div>
    <div class="card-body" id="toc-content">
        내용
    </div>
 </div>
 <br>
 <div class="card shadow-sm" style="max-width:600px">
    <div class="card-header" onClick="openCloseToc()">
        <h3 class="card-title" >제에목</h3>
        <div class="card-toolbar">
            <button type="button" class="btn btn-sm btn-light">
                Action
            </button>
        </div>
    </div>
    <div class="card-body" id="toc-content">
        내용
    </div>
 </div>
 <br>
 <div class="card shadow-sm" style="max-width:600px">
    <div class="card-header" onClick="openCloseToc()">
        <h3 class="card-title" >제에목</h3>
        <div class="card-toolbar">
            <button type="button" class="btn btn-sm btn-light">
                Action
            </button>
        </div>
    </div>
    <div class="card-body" id="toc-content">
        내용
    </div>
 </div>
</div>
<th:block th:replace="/layout/fragments/footer.html :: footer"></th:block>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:inline="javascript">

function openCloseToc() {
  if(document.getElementById('toc-content').style.display === 'block') {
    document.getElementById('toc-content').style.display = 'none';
    document.getElementById('toc-toggle').textContent = '펼치기';
  } else {
    document.getElementById('toc-content').style.display = 'block';
    document.getElementById('toc-toggle').textContent = '접기';
  }
}
</script>

   

   </body>
   <!--end::Body-->
</html>