<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->

<div class="container show-grid">
		<div class="row">
			
			<div class="col-md-10">
<br>
<ins>
<h1 class="fs-2tx fw-bolder mb-8">
<span class="d-inline-block position-relative ms-2">
<span class="d-inline-block mb-2">비밀번호 변경</span>
<span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-success translate rounded"></span>
</span></h1></ins>
<br>
<form method="POST">
<div align="center">

<p>이름(닉네임)</p>
<p><input type="text" id = "userName" name = "userName" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="이름(닉네임)" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px;  border-style: solid; border-color: rgb(204, 204, 204);" class="" required></p>
</div>
<br>
<div align="center">
<p>핸드폰번호</p>
<p><input type="text" id = "cellphone"  name = "cellphone" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="번호만 입력하세요" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-style: solid; border-color: rgb(204, 204, 204);" class="" required></p>
</div>
<br>
<div align="center" id="appendList">
<input type="button" id="getUserList" class="btn btn-warning" name="getUserList" value ="아이디찾기">
</div>
<div>
</div>
		<div id="loginModalHolder" style="width:200px;"></div>
</form>
<br>
</div>
</div>
</div>

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
		<!-- 공통 하단 footer -->
	
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<script>
	$(function(){
		$("#getUserList").on("click",function(){
			var userName = $("#userName").val();
			var cellphone =$("#cellphone").val();
			if(userName == ""){
				alert("닉네임(이름) 입력되지 않았습니다.");
				return;
			}else if(cellphone == ""){
				alert("휴대폰번호가 입력되지 않았습니다.");
				return;
			}else{
				var data = {
					userName : userName,
					cellphone : cellphone
				};
				$.ajax({
					type :"POST",
					url  : "/user/rest/getUserList",
					data : JSON.stringify(data),
					accept : "application/json",
					contentType : "application/json"	
				}).done(function(JSONData){
					console.log(JSONData);
					if(JSONData.length == 0){
						alert("아이디가 없습니다.");
					}
				var result = "<p><h2>검색결과</h2></p>"
				$("#appendList").append(result)
					for(i = 0 ; i < JSONData.length ; i++){
				//var displayValue= "<br><p><h4> 아이디 : " + JSONData[i].userId + "</h4></p>" ; 
				
				 var displayValue = "<div class=\"border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3\">"+
				"<div class=\"fs-6 fw-bolder text-gray-700\">찾으신 아이디</div>" +
				"<div class=\"fw-bold text-gray-400\">"+
				JSONData[i].userId+
				"</div>"+
				"</div>";
				$("#appendList").append(displayValue);
					}
				
				var displayButton = "<p><input type = 'submit' class=\"btn btn-secondary\" value = '로그인' id = 'loginUserId' name ='loginUserId'><p>"
				
				var displayButton = 
				$("#appendList").append(displayButton);
				
				
				})
			}
		});
	});
   

	
	 $(function () {
        // console.log("공통 SIDE");
         $("#appendList").on("click",".new",function () {
        	 alert("function 입짱")
             $.ajax({
                 url: "/user/login",
                 success: function (data) {
                     $("#loginModalHolder").html(data);
                     $("#loginModal").modal("show");
                 }
             });
         });
     });
	
	

</script>

	</body>
	<!--end::Body-->
</html>
