<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
<style>
	*{
	font-family: 'IBM Plex Sans KR', sans-serif;
	}
    form .mb-10 label{
        text-align: left;
        display: block;
    }
    form .input-with-btn input{
        margin-right: 10px;
    }

    form .input-with-btn button{
        white-space: nowrap;
    }
</style>

   <!--begin::Body-->
   <body id="kt_body" class="aside-enabled">
      <!-- 공통 SideBar -->
   <th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<form method="POST" enctype="multipart/form-data" >
<div align="center">
<h1 class="fs-2tx fw-bolder mb-8">
<span class="d-inline-block position-relative ms-2">
<span class="d-inline-block mb-2">비밀번호 찾기(변경)</span>
<span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-success translate rounded"></span>
</span></h1>

<div align="center" class="text-muted" data-text-content="true" style="font-size: 13px;">아이디 입력시 비밀번호 변경이 가능합니다.</div>
<br>
<ins>
</ins>
<br>
<div class="mb-10" style="max-width:300px;">
            <label for="userId" class="required form-label">이메일</label>
            <div class="d-flex flex-stack input-with-btn">
                <input name="userId" type="text" id ="userId" class="form-control form-control-solid" placeholder="이메일 형식으로 작성해주세요." required/>
                <button class="btn btn-primary" type="button" data-kt-element="send" id="sendMail" name="sendMail">전송</button>
            </div>
        </div>

   <span align="center" id = "change" name ="change"></span>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" class="required form-label" >인증번호</label>
   <p> <input id="compare" name ="compare"type="text" class="form-control form-control-solid" placeholder="인증번호 전송버튼을 눌러주세용"/>
   <span id = "compareEmail" name ="compareEmail"></span></p>
</div>
   <span align="center" id = "changetwo" name ="changetwo"></span>

<br>

</div>
</form>
<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:inline="javascript">
$(function(){
    $("#userId").on("keyup",function(){
      // console.log("올라갔닝")
       var userId = $("#userId").val()
      // console.log(userId);
       data = { 
             userId : userId
             }
       $.ajax(
             {
                url:"/user/checkDuplication",
                method:"POST",
                data: JSON.stringify(data),
                accept : "application/json",
                contentType : "application/json"
       }).done(function(result){
        //  console.log(result);
          if(result == 0){
             if(userId != ""){
                if(userId.indexOf('@') <1 || userId.indexOf('.') == -1){
                   $("#change").html("<p>올바른 email형식이 아닙니다.</p>");
                }
                else{
                   $("#change").html("<p>존재하지 않는 아이디입니다.</p>");
                   $("#userId").css('color','red');
                }
             }else{
                $("#change").html("");
             }
             
          }else{
             $("#change").html("<p>이메일인증을 해주세요.</p>");
             $("#userId").css('color',"green");
          }
       })
    });
 });
 
$(function(){
    $("#sendMail").on("click",function(){
        var userId = $("#userId").val();
        var data ={
      	  userId:userId
        };
        if(userId == ""){
           alert("메일주소가 입력되지 않았습니다.");
        }else{
        	$.ajax({
        		url:"/user/kakaoStt",
                method:"POST",
                data: JSON.stringify(data),
                accept : "application/json",
                contentType : "application/json"
        	 }).done(function(result){
                // console.log("kakao:" + result);
        		if(result == 1){
        			//console.log("입장")
        			alert("카카오회원은 비밀번호변경이 불가능합니다.");
        			$("#userId").val("");
                    $("#userId").focus();
        			return
        		}else{
        	       	 $.ajax({
        	        		type : "POST",
        	        		url : "/user/sendMail",
        	        		data : JSON.stringify(data),
        	        		accept : "application/json",
        	        		contentType : "application/json"
        	        	 }).done(function(data){
        	        		 alert("입력하신 이메일로 인증번호를 확인해주세요.");
        	        		 isCertifidation = true;
        	        		 var key = data;
        	        		   $("#compare").on("keyup",function(){
        	        			   $('#changetwo').empty();
        	        			  // console.log("인증번호 올라갔닝")
        	        			   var compare = $("#compare").val();
        	        			  // console.log(compare)
        	        			   if(compare == key){
        	        				   console.log("인증성공/////////////////////////////////////////");
        	        				   $("#compareEmail").html("<p>인증성공!</p>")
        	        				   $("#compareEmail").css('color','green');
        	        				   isCertification=true;
        	        				   
        	        				  
        	                      var displayValue="<label for='password' class='required form-label'>변경할 비밀번호</label><div class='mb-10' style='max-width:300px;'><input type='password' placeholder='변경할 비밀번호'class='form-control form-control-solid' id='firstPassword'name='firstPassword' ></div>"
        	                      var displayValuetwo="<label for='secondPassword' class='required form-label'>재확인 비밀번호</label><div class='mb-10' style='max-width:300px;'><input type='password' placeholder='재확인 비밀번호'class='form-control form-control-solid'id='secondPassword' name='secondPassword'  ></div>"
        	                      var buttonValue ="<button class='btn btn-primary' type='button' data-kt-element='send' id='changePassword' name='changePassword'>변경하기</button>"

        	                      $("#changetwo").append(displayValue);
        	                      console.log("1")
        	                      $("#changetwo").append(displayValuetwo);
        	                      console.log("2")
        	                      $("#changetwo").append(buttonValue);
        	                      console.log("3")
        	 						$(this).off(data);
        	        				   
        	        				   

        	        			   }else{
        	        				   $("#compareEmail").html("<p>인증실패!</p>")
        	        				   	$("#compareEmail").css('color','red');
        	        				   isCertification=false;
        	        			   }
        	        		   })
        	        	 })
        		}
        		
        	})
        	
        	

       	 

        }

     })
})

 $(function(){
	   $(document).on("click","#changePassword",function(){
		   var firstPassword = $("#firstPassword").val();
		   var secondPassword = $("#secondPassword").val();
		   var userId =$("#userId").val();
		   
		   if(firstPassword == ""){
			   alert("비밀번호가 입력되지 않았습니다.");
			   return;
		   }else if(secondPassword == ""){
			   alert("재확인비밀번호가 입력되지 않았습니다.");
			   return;
		   }
		   data={
					password:firstPassword,
					userId:userId
			}
		   if(firstPassword == secondPassword){
		   $.ajax({
			   url:"/user/changePassword",
			   method:"POST",
			   data:JSON.stringify(data),
			   accept:"application/json",
			   contentType:"application/json"
		   }).done(function(){
			   alert("비밀번호 변경이 완료되었습니다.");
			   window.location="/"
		   })
		   }
		   else{
			   alert("재확인 비밀번호가 일치하지 않습니다.");
		   }
	   })
   })

 

</script>

   

   </body>
   <!--end::Body-->
</html>