<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
</head>
<body>
<div th:insert="index/toolbar :: toolbar">
</div>
<div class="container show-grid">
		<div class="row">
			<div class="col-md-2">
				<div data-obj-id="PTjxr" data-obj-type="element"
					data- text-editable="true" class="">
					<div data-text-content="true"
						style="border-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 14px; box-shadow: none; background-color: rgba(31, 108, 28, 0.67);"
						class="">오늘의 추천 음식?</div>
				</div>

				<a href="http://item.gmarket.co.kr/Item?goodscode=2042609688"><img src="../assets/img/salad3.jpg" style ="height: 500px; width: 200px;"/></a>
			</div>
			<div class="col-md-10">
<br>
<ins>
<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">로그인</div>
</ins>
<br>
<form>
<div align="center">
<input type="text" id = "userId" name = "userId" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="이메일" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px;  border-style: solid; border-color: rgb(204, 204, 204);" class="" required>
</div>
<br>
<div align="center">
<input type="password" id = "password"  name = "password" data-min-width="60" data-min-height="30" data-text-content="true" placeholder="비밀번호" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; border-style: solid; border-color: rgb(204, 204, 204);" class="" required>
</div>
</form>
<br>
<div align="center">
<input type="submit" id = "login" name="login" data-text-content="true" style="border : none; padding : 0; font-size: 17px; color: rgb(255, 255, 255); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgba(241, 196, 15, 0.71);  width: 300px; height: 40px;" value = "Login">
</div>
<br>
<div align="center">
<input type = "button" value ="Join" id="join"  data-text-content="true" style="font-size: 17px; color: rgb(64, 64, 64); text-align: center; line-height: 2.5em; border:none ; padding:0; background-color: rgba(224, 224, 224, 0.71);  width: 300px; height: 40px;">
</div>
<br>
<div align="center">
<input type="button" id ="getUserList" name="getUserList" data-text-content="true" style="border : none; padding : 0; font-size: 17px; color: rgb(255, 255, 255); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgba(241, 196, 15, 0.71);  width: 300px; height: 40px;" value = "아이디 찾기" th:onClick="|location.href='@{../user/getUserList}'|">
</div>
<div align = "center">
<br>
<a href= "javascript:kakaoLogin();"><img src = "../assets/img/kakao_login_medium_narrow.png"></a>
<script src = "https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$(function(){
	$("#userId").focus();
	
	$("#login").on("click",function(){
		var userId = $("#userId").val();
		var password =$("#password").val();
		console.log(userId);
		console.log(password);
		
		if(userId == null || userId.length< 1){
			alert("ID를 입력해주세요.")
			$("#userId").focus();
			return;
		}
		
		if(password == null || password.length< 1){
			alert("비밀번호를 입력해주세요.")
			$("#password").focus();
			return;
		}
		$("form").attr("method","POST").attr("action","/user/login/redirect").submit();
	});	
});

$(function(){
	$("#join").on("click",function(){
		self.location = "/user/addUser";
	})
	
})

function kakaoLogin(){
window.Kakao.init("3255273f04f93853debcbfbac9b7ff4c");
	window.Kakao.Auth.login({
		scope:'profile_nickname, profile_image,account_email,gender',
		success : function(authObj){
			console.log(authObj);
			window.Kakao.API.request({
				url:'/v2/user/me',
				success:res => {		
					const kakao_account = res.kakao_account;
					console.log(kakao_account);
					var email =kakao_account.email;
					var gender = kakao_account.gender;
					var profile = kakao_account.profile;
					//var data = {email : email, gender : gender}
					console.log(email);
					console.log(gender);
					console.log(profile);
				
					$.ajax({
				          type : "POST",
		                  url : "/user/loginResult",
		                  cache : false,
		                  data: JSON.stringify({
		                	  email : email,
		                  }),
		                  success : function(value){
		                	 // console.log(data);
		                	 console.log("됐다");
		                	 location.href ="../index/index.html"
		                	  }
		                  
		                  
		               });
					}
					
				
			});
			
		}
		
	})

}
</script>
</div>
</div>
</div>
</div>

</body>
</html>