<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
<style>
	*{
	font-family: 'IBM Plex Sans KR', sans-serif;
	}
	</style>
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">

</head>

<body>
   <div id="loginModal" class="modal fade" role="dialog" th:fragment ="hong">      
   <div  class="modal-dialog " style="max-width:400px">
    <div class="modal-content">
      <h1 class="modal-title" align="center"></h1>
     <div class="modal-header">
     </div>
     
        <div class="modal-body" >
<script src = "https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$(function(){
   $("#userId").focus();
   
   $("#login").on("click",function(){
      var userId = $("#userId").val();
      var password =$("#password").val();
      console.log(userId);
      console.log(password);
      
      if(userId == null || userId.length< 1){
         alert("ID를 입력해주세요.")
         $("#userId").focus();
         return;
      }
      
      if(password == null || password.length< 1){
         alert("비밀번호를 입력해주세요.")
         $("#password").focus();
         return;
      }
   //   $("#loginform").attr("method","POST").attr("action","/user/login/redirect").submit();
   	var data={
   			"userId":userId,
   			"password":password
   	}
   	$.ajax({
		url: "/user/login/rest", //url : 요청 Url
		type: "POST", //type : 데이터를 전송하는 방법 (get, post)
		dataType: "json", //서버측에서 전송받은 데이터의 형식 (default : xml, json, script, text, html) //=> default는 html
		data: JSON.stringify(data), //요청과 함께 서버로 데이터를 전송 할 string 또는 map
		contentType: "application/json",  // 서버에 보내는 데이터의 타입이다.
		success: function(data){ //  요청이 성공 했을 때 호출할 콜백 함수
			console.log("성공" + data);//2
			//console.log("성공" + data.result);//undefined
			if(data == 0){
				self.location="/"
			}else if(data == 1){
				self.location="/user/restoreUser"
			}else if(data == 2){
				alert("비밀번호가 일치하지 않습니다.");
				return;
			}else if(data == 3){
				alert("존재하는 ID가 아닙니다.");
				return;
			}
		
			
			 //$("#loginModal").modal("hide");

			
		}
		
	})
     
   });   


});

$(function(){
   $("#join").on("click",function(){
      self.location = "/user/addUser";
   })
   
})

function kakaoLogin(){
window.Kakao.init("3255273f04f93853debcbfbac9b7ff4c");
   
   window.Kakao.Auth.login({
      scope:'profile_nickname, profile_image,account_email,gender',
      success : function(authObj){
         console.log(authObj);
         window.Kakao.API.request({
            url:'/v2/user/me',
            success:res => {      
               const kakao_account = res.kakao_account;
               console.log(kakao_account);
               var userId =kakao_account.email;
               var gender = kakao_account.gender;
               var userName = kakao_account.profile.nickname;
               var profile = kakao_account.profile.profile_image_url;
               console.log(userId);
               console.log(gender);
               console.log(profile);
               console.log(name);
               var data ={
                     userName :userName,
                     userId: userId,
                     gender : gender,
                     password : "kakaopassword"
               }
               $.ajax({
                  type:"POST",
                  url:"/user/checkDuplication/kakao",
                  data: JSON.stringify(data),
                  accept :"application/json",
                  contentType : "application/json",
                  success : function(map){
                     console.log("return : " + map.result)
                     var userId = map.user.userId;
                     var gender = map.user.gender;
                     var data ={
                           userId: userId,
                           gender : gender,
                           password : "kakaopassword"};
                     if(map.result == 0){
                        var userId = map.user.userId;
                        var gender = map.user.gender;
                        var data ={
                              userId: userId,
                              gender : gender,
                              userName: 'ㄹㄹㄹㄹ',
                              password : "kakaopassword"};
                        
                        $.ajax({
                           type :"POST",
                           url :"/user/addUser/kakao",
                           data : JSON.stringify(data),
                           accept:"application/json",
                           contentType : "application/json",
                        
                        }).done(function(user){
                           alert("첫로그인시 회원가입이 필요합니다.");
                  
                           $.ajax({
                              type :"POST",
                              url :"/user/addUser/rest",
                              data :JSON.stringify({userId : user.userId,
                                    gender : user.gender,
                                    password : "kakaopassword"}),
                              accept:"application/json",
                              contentType : "application/json",
                           }).done(function(user){
                              // alert("회원가입창으로 이동");
                              // $("#kakao #userId", "#kakao #gender, #kakao #password").attr("method","POST")
                               window.location="/user/addUser?userId="+userId;
                           })
                           
                        });
                        
                     }else {
                        var data = {
                           userId : map.user.userId,
                           password : "kakaopassword"
                        }
                        $.ajax({
                           type :"POST",
                           url :"user/login/kakao",
                           data : JSON.stringify(data),
                           accept : "application/json",
                           contentType : "application/json"
                        }).done(function(data){
                           if(data == 1 ){
                        	   self.location="/user/restoreUser";
                           }else if(data == 0){
                        	   self.location="/";
                           }else if(data == 589){
                        	   alert("수상한 접근");
                           }
                           
                        });
                     }
                     
                  }
                  
            
                  
               });
         
               }
            
         
            
   
         });
         
         
      }

      
   })

}
</script>
<div align="center">
<div class="container show-grid" align="center" style="max-width:300px; padding:0px; margin: 0px;" >

<div class="text-center mb-10">
									<!--begin::Title-->
									<h1 class="text-dark mb-3">Login</h1>
									<!--end::Title-->
									<!--begin::Link-->
									<div class="text-gray-400 fw-bold fs-4">처음 오셨나요? 
									<a value ="Join" id="join" th:onClick="|location.href='@{../user/addUser}'|" class="link-primary fw-bolder">회원가입</a></div>
									<!--end::Link-->
								</div>
<br>
<form id="loginform">
<div class="fv-row mb-10 fv-plugins-icon-container">
									<!--begin::Label-->
									<div class="d-flex flex-stack mb-2">
									<label class="form-label fs-6 fw-bolder text-dark">Email</label>
									<!--end::Label-->
									<!--begin::Input-->
									<a th:onClick="|location.href='@{../user/getUserList}'|" class="link-primary fs-6 fw-bolder">Forgot Email ?</a>
									</div>
									<input class="form-control form-control-lg form-control-solid" id="userId" name="userId" autocomplete="off">
									<!--end::Input-->
								<div class="fv-plugins-message-container invalid-feedback">
								</div>
								</div>
<br>
<div class="fv-row mb-10 fv-plugins-icon-container">
									<!--begin::Wrapper-->
									<div class="d-flex flex-stack mb-2">
										<!--begin::Label-->
										<label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
										<!--end::Label-->
										<!--begin::Link-->
										<a th:onClick="|location.href='@{../user/findPassword}'|" class="link-primary fs-6 fw-bolder">Forgot Password ?</a>
										<!--end::Link-->
									</div>
									<!--end::Wrapper-->
									<!--begin::Input-->
									<input class="form-control form-control-lg form-control-solid" type="password" name="password" id="password" autocomplete="off">
									<!--end::Input-->
								<div class="fv-plugins-message-container invalid-feedback">
								</div>
								</div>
</form>
<br><div class="text-center">
									<!--begin::Submit button-->
									<button type="button" id = "login" name="login" class="btn btn-lg btn-primary w-100 mb-5">
										<span class="indicator-label">Come In</span>
										<span class="indicator-progress">Please wait... 
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
									</button>
									<!--end::Submit button-->
									<!--begin::Separator-->
									<div class="text-center text-muted text-uppercase fw-bolder mb-5">or</div>
									<a href= "javascript:kakaoLogin();" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
									<img src = "../assets/media/svg/social-logos/kakao.svg" class="h-20px me-3">Continue with Kakao</a>
								

								</div>
</div>
</div>
</div>
</div>
</div>

    </div>
 
  


</body>
</html>