<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->
<style>
    form .mb-10 label{
        text-align: left;
        display: block;
    }
    form .input-with-btn input{
        margin-right: 10px;
    }

    form .input-with-btn button{
        white-space: nowrap;
    }
</style>

<div align="center">
<div class="container show-grid">
		<div class="row">
			
			<div class="col-md-10">
<br>

<h1 class="fs-2tx fw-bolder mb-8">
<span class="d-inline-block position-relative ms-2">
<span class="d-inline-block mb-2">회원 복구</span>
<span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-success translate rounded"></span>
</span></h1>	
	<p align ="center" class="text-muted" style="font-size: 13px;">해당이메일은 탈퇴한 회원입니다.</p>
	<p align ="center" class="text-muted" style="font-size: 13px;">회원복구하시면 회원의 정보가 모두 복구됩니다.</p>

<br>
<form>

<div class="mb-10" style="max-width:300px;">
            <label for="userId" class="required form-label">이메일</label>
            <div class="d-flex flex-stack input-with-btn">
                <input  type="text" id="userId" name="userId" class="form-control form-control-solid" placeholder="이메일 형식으로 작성해주세요." />
                <button class="btn btn-primary" type="button" data-kt-element="send" id="sendMail" name="sendMail">전송</button>
            </div>
        </div>
 <span align="center" id = "change" name ="change"></span>
 
 <div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" class="required form-label">인증번호</label>
    <div class="d-flex flex-stack input-with-btn">
    <input id="compare" name ="compare"type="text" class="form-control form-control-solid" placeholder="인증번호 전송버튼을 눌러주세용"/>
    <button class="btn btn-primary" type="button" data-kt-element="send" id="sendNum" name="sendNum">확인</button>
   </div>
   <span align="center" id = "compareEmail" name ="compareEmail"></span>
</div>

<div th:if="${session.kakao == null}">
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" class="required form-label">비밀번호</label>
    <input name="password" id="password" type="password"  placeholder ="비밀번호" class = "form-control form-control-solid"/>
</div>
</div>
<div th:unless="${session.kakao == null}">
<div class="mb-10" style="max-width:300px;">
    <input name="password" id="password" type="hidden"  value="kakaopassword" class = "form-control form-control-solid"/>
</div>
</div>
</form>
<br>
<div align="center">
	<input class="btn btn-success" type="button" id="restoreUser" name="restoreUser" value="회원복구">
</div>
</div>
</div>
</div>
</div>
<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<script>
	$(function(){
		$("#userId").focus();
		$("#restoreUser").on("click",function(){
		var compare = $("#compare").val();
		//console.log(compare);
		
		var userId = $("#userId").val();
		var password = $("#password").val();
		
		if(userId == null || userId.length< 1){
			alert("ID를 입력해주세요.")
			$("#userId").focus();
			self.location="/user/restoreUser";
			
			}else if(compare == ""){
				alert("인증번호를 입력해주세요.");
				$("#compare").focus();
				self.location="/user/restoreUser";
				
			}else if(password == null || password.length< 1){
			alert("비밀번호를 입력해주세요.")
			$("#password").focus();
			self.location="/user/restoreUser";
			
		}else{
		$("form").attr("method","POST").attr("action","/user/restoreUserResult").submit();
		}
		})
		
		
	})

	 $(function(){

	      $("#sendMail").on("click",function(){
	    	  
	          var userId = $("#userId").val();
	          var data ={
	        	  userId:userId
	          };
	          if(userId == ""){
	             alert("메일주소가 입력되지 않았습니다.");
	          }else{
	        	// alert("userId:" + userId);
	         	 $.ajax({
	         		type : "POST",
	         		url : "/user/sendMail",
	         		data : JSON.stringify(data),
	         		accept : "application/json",
	         		contentType : "application/json"
	         	 }).done(function(data){
	         		 alert("인증번호를 확인해주세요.");
	         		 isCertifidation = true;
	         		 var key = data;
	         		 $("#sendNum").on("click",function(){
	         			   console.log("인증번호 올라갔닝")
	         			   var compare = $("#compare").val();
	         			   console.log(compare)
	         			   if(compare == key){
	         				   $("#compareEmail").html("<p>인증성공!</p>")
	         				   $("#compareEmail").css('color','green');
	         				   isCertification=true;
	         			   }else{
	         				   $("#compareEmail").html("<p>인증실패!</p>")
	         			    	$("#compareEmail").css('color','red');
	         				   $("#compare").val("");
	         				    $("#compare").focus();
	         				   isCertification=false;
	         			   }
	         		   })
	         	 })
	         	 
	  
	          }

         })
  })
</script>

	</body>
	<!--end::Body-->
</html>
