<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->


<div class="container show-grid">
		<div class="row">
			
			<div class="col-md-10">
<br>

<h1 class="fs-2tx fw-bolder mb-8">
<span class="d-inline-block position-relative ms-2">
<span class="d-inline-block mb-2">회원 복구</span>
<span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-success translate rounded"></span>
</span></h1>	
	<p align ="center">해당이메일은 탈퇴한 회원입니다.</p>
	<p align ="center">회원복구하시면 회원의 정보가 모두 복구됩니다.</p>

<br>
<form>
<div align="center">
	<div align="center" data-text-content="true" style="font-weight:bold;font-size:18px ;color: rgb(41, 96, 47)" class="">이메일</div>
	<input type = "text" id = "userId" name="userId" placeholder ="이메일을 입력해주세요." class = "userId">
</div>
<br>
<div align = "center">
	<div align="center" data-text-content="true" style="font-weight:bold;font-size:18px ;color: rgb(41, 96, 47)" class="">비밀번호</div>
	<p align="center"><input type = "password" id = "password" name="password" placeholder ="비밀번호" class = "password"></p>
</div>
</form>
<br>
<div align="center">
	<input type="submit" id="restoreUser" name="restoreUser" value="회원복구">
</div>
</div>
</div>
</div>

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<script>
	$(function(){
		$("#userId").focus();
		$("#restoreUser").on("click",function(){
		if(userId == null || userId.length< 1){
			alert("ID를 입력해주세요.")
			$("#userId").focus();
			return;
		}
		
		if(password == null || password.length< 1){
			alert("비밀번호를 입력해주세요.")
			$("#password").focus();
			return;
		}
		
		$("form").attr("method","POST").attr("action","/user/restoreUserResult").submit();
		})
		alert("환영합니다~")
	})


</script>

	</body>
	<!--end::Body-->
</html>
