<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->

<div class="container show-grid">
		<div class="row">
			
			<div class="col-md-10">
<br>
<ins>
<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">회원탈퇴</div>
</ins>
<br>
<p align="center" style="font-size:15px">회원탈퇴 후 모든 서비스를 이용하실 수 없게 됩니다.</p>
<br>
<form>
<div align="center">
<p>
<a style="font-weight : bold">아이디 : </a>
<input type="text" id = "userId" name = "userId"  th:value="${session.user.userId}" style="color: rgb(94, 94, 94); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px;border-style: solid; border-color: rgb(204, 204, 204);" readonly>
</p>
</div>
<br>
<div align="center">
<p>
<a style="font-weight :bold">비밀번호 : </a>
<input type="password" id = "password"  name = "password" data-min-width="60" data-min-height="30" data-text-content="true"  style="color: rgb(94, 94, 94); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px;  border-style: solid; border-color: rgb(204, 204, 204);"  required>
</p>
</div>
<br>
<div align="center">
<input type="submit" value="탈퇴하기" id="updateUserLeave" name="updateUserLeave">
</div>
</form>
</div>
</div>
</div>

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
		<!-- 공통 하단 footer -->
		<th:block th:replace="/layout/fragments/footer.html :: footer"></th:block>
<script>
  	$(function(){
  		$("#updateUserLeave").on("click",function(){
  			$("form").attr("method","POST").attr("action","/user/updateUserLeaveResult").submit();
  		});
  		
  	});

</script>
	</body>
	<!--end::Body-->
</html>
