<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

<style>
    form .mb-10 label{
        text-align: left;
        display: block;
    }
    form .input-with-btn input{
        margin-right: 10px;
    }

    form .input-with-btn button{
        white-space: nowrap;
    }
</style>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->
<form method="POST" enctype="multipart/form-data" >

<div align="center">
<h1 class="fs-2tx fw-bolder mb-8">
<span class="d-inline-block position-relative ms-2">
<span class="d-inline-block mb-2">회원 탈퇴</span>
<span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-success translate rounded"></span>
</span></h1>
<br>

<div align="center" data-text-content="true" class="text-muted" style="font-size: 13px;">회원탈퇴 후 모든 서비스 이용이 불가능합니다.</div>
<br>
<ins>
</ins>
<br>

<div class="mb-10" style="max-width:300px;">
            <label for="userId" class="required form-label">이메일</label>
            <div class="d-flex flex-stack input-with-btn">
                <input  type="text" id="userId" name="userId" th:value="${session.user.userId}" class="form-control form-control-solid" placeholder="이메일 형식으로 작성해주세요." readonly/>
                <button class="btn btn-primary" type="button" data-kt-element="send" id="sendMail" name="sendMail">전송</button>
            </div>
        </div>
 <span align="center" id = "change" name ="change"></span>
<br>
<div class="mb-10" style="max-width:300px;">
    <label for="exampleFormControlInput1" class="required form-label" th:if ="${session.user == null}">인증번호</label>
    <div class="d-flex flex-stack input-with-btn">
   <input id="compare" name ="compare"type="text" class="form-control form-control-solid" placeholder="인증번호 전송버튼을 눌러주세용"/>
               <button class="btn btn-primary" type="button" data-kt-element="send" id="sendNum" name="sendNum">확인</button>
   </div>
   <span align="center" id = "compareEmail" name ="compareEmail"></span>
</div>


<div th:if="${session.user.password.equals('kakao!!')}">
<div class="mb-10" style="max-width:300px;">
       <div class="d-flex flex-stack input-with-btn">
                <input  type="hidden" id = "password"  name = "password" value="kakao!!" class="form-control form-control-solid" placeholder="비밀번호를 입력해주세요." required/>
            
            </div>
</div>
       
</div>
<div th:unless="${session.user.password.equals('kakao!!')}">
<div class="mb-10" style="max-width:300px;">
            <label for="userId" class="required form-label">비밀번호</label>
            <div class="d-flex flex-stack input-with-btn">
                <input  type="password" id = "password"  name = "password" class="form-control form-control-solid" placeholder="비밀번호를 입력해주세요." required/>
            
            </div>
</div>
       
</div>
 <button class="btn btn-primary" type="button" data-kt-element="send" id="updateUserLeave" name="updateUserLeave">탈퇴하기</button>


</div>
</form>

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<script th:inline="javascript">
	

	
	 $(function(){
		 

	      $("#sendMail").on("click",function(){
	    	 
	          var userId = $("#userId").val();
	          var data ={
	        	  userId:userId
	          };
	          if(userId == ""){
	             alert("메일주소가 입력되지 않았습니다.");
	          }else{
	        	// alert("userId:" + userId);
	         	 $.ajax({
	         		type : "POST",
	         		url : "/user/sendMail",
	         		data : JSON.stringify(data),
	         		accept : "application/json",
	         		contentType : "application/json"
	         	 }).done(function(data){
	         		 alert("입력한 이메일을 통해 인증번호를 확인해주세요.");
	         		 isCertifidation = true;
	         		 var key = data;
	         		   $("#sendNum").on("click",function(){
	         			//   console.log("인증번호 올라갔닝")
	         			   var compare = $("#compare").val();
	         			 //  console.log(compare)
	         			   
	         			   if(compare == key){
	         				   $("#compareEmail").html("<p>인증성공!</p>")
	         				   $("#compareEmail").css('color','green');
	         				   isCertification=true;
	         			   }else{
	         				   $("#compareEmail").html("<p>인증실패!</p>")
	         				   	$("#compareEmail").css('color','red');
	         				    $("#compare").val("");
	         				    $("#compare").focus();
	         			
	         				   isCertification=false;
	         			   }
	         		   })
	         	 })
	         	 
	  
	          }

         })
  })
  
  $(function(){
	var comparedPassword = [[${session.user.password}]];
	var userId=$("#userId").val();
	$("#updateUserLeave").on("click",function(){
	var compare = $("#compare").val()
	//	console.log(compare);
		//console.log(comparedPassword);
	var password = $("#password").val()
	//	console.log(password)
	//	console.log("클릭이벤트 ")
		if(compare==""){
			alert("인증을 해주세요.");
			self.location="/user/updateUserLeave?userId="+userId
		}else if(password == ""){
			alert("비밀번호를 입력해주세요.");	
			self.location="/user/updateUserLeave?userId="+userId
		}else if(password == comparedPassword){  		
		  		$("form").attr("method","POST").attr("action","/user/updateUserLeaveResult").submit();
		}else{
				alert("비밀번호가 일치하지 않습니다");
				//alert(userId);
				self.location="/user/updateUserLeave?userId="+userId
			}
	});
	

});
</script>
	</body>
	<!--end::Body-->
</html>