<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

<style>
    form .mb-10 label{
        text-align: left;
        display: block;
    }
    form .input-with-btn input{
        margin-right: 10px;
    }

    form .input-with-btn button{
        white-space: nowrap;
    }
</style>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->
<form method="POST" enctype="multipart/form-data" >

<div align="center">
<h1 class="fs-2tx fw-bolder mb-8">
<span class="d-inline-block position-relative ms-2">
<span class="d-inline-block mb-2">회원 탈퇴</span>
<span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-success translate rounded"></span>
</span></h1>
<br>

<div align="center" data-text-content="true" style="font-size: 10px; color: black;" class="">회원탈퇴 후 모든 서비스 이용이 불가능합니다.</div>
<br>
<ins>
</ins>
<br>
<div align="center" data-text-content="true" style="max-width:300px;" class="mb-10">
  <label for="exampleFormControlInput1" >회원탈퇴</label>
</div>
<div class="mb-10" style="max-width:300px;">
            <label for="userId" class="required form-label">이메일</label>
            <div class="d-flex flex-stack input-with-btn">
                <input  type="text" id="userId" name="userId" th:value="${session.user.userId}" class="form-control form-control-solid" placeholder="이메일 형식으로 작성해주세요." readonly/>
            </div>
        </div>

<br>
<div class="mb-10" style="max-width:300px;">
            <label for="userId" class="required form-label">비밀번호</label>
            <div class="d-flex flex-stack input-with-btn">
                <input  type="password" id = "password"  name = "password" class="form-control form-control-solid" placeholder="비밀번호를 입력해주세요." required/>
                            <button class="btn btn-primary" type="submit" data-kt-element="send" id="updateUserLeave" name="updateUserLeave">탈퇴하기</button>
            
            </div>
        </div>
<br>

</div>
</form>


<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<script>
  	$(function(){
  		$("#updateUserLeave").on("click",function(){
  			$("form").attr("method","POST").attr("action","/user/updateUserLeaveResult").submit();
  		});
  		
  	});

</script>
	</body>
	<!--end::Body-->
</html>
