<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<meta charset="utf-8">
<!--<th:block th:replace="/layout/fragments/header.html :: header"></th:block>-->
<body>
<div id="addBattleViewModal" class="modal profile-img-boxfade" role="dialog" th:fragment="addBattleView">
    <style>
        .profile-img-box .profile{
            width: 100px;
            height: 100px;
            border-radius: 70%;
            margin-right: auto;
        }

        .battle-font{
            margin: auto;
            text-align: center;
            font-size: 22px;
            font-weight: 500!important;
            opacity: 0.6;
        }
    </style>
    <div class="modal-dialog modal-dialog-centered mw-400px">
        <div class="modal-content">
            <form class="form" action="#" id="kt_modal_new_address_form">
                <div class="modal-header pt-2 pb-2" id="kt_modal_new_address_header">
                    <h2>승부 요청</h2>
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <span class="svg-icon svg-icon-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"/>
                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"/>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="modal-body py-10 px-lg-17">
                    <div class="scroll-y me-n7 pe-7" id="kt_modal_new_address_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_new_address_header" data-kt-scroll-wrappers="#kt_modal_new_address_scroll" data-kt-scroll-offset="300px">
                        <div class="row mb-5 mt-5">
                            <div class="col-5">
                                <div class="profile-img-box text-center">
                                    <img src="../assets/profile/aaa.jpg" class="profile"/>
                                    차민우
                                </div>
                            </div>
                            <div class="col-2 battle-font">
                                VS
                            </div>
                            <div class="col-5">
                                <div class="profile-img-box text-center">
                                    <img src="../assets/profile/aaa.jpg" class="profile"/>
                                    홍준호
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5 mt-5 pt-5">
                            <div class="col-md-12 fv-row">
                                <label class="required fs-5 fw-bold mb-2">나의 목표 칼로리</label>
                                <input type="text" class="form-control form-control-solid" placeholder="" name="first-name"/>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 fv-row">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span>분류</span>
<!--                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Your payment statements may very based on selected country"></i>-->
                                </label>
                                <select class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option" data-hide-search="true">
                                    <option value="1">칼로리 소모</option>
                                    <option value="2">칼로리 섭취</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 fv-row">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span>기간</span>
                                    <!--                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Your payment statements may very based on selected country"></i>-->
                                </label>
                                <input class="form-control form-control-solid" placeholder="Pick date rage" id="battle_range"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-center">
                    <button type="reset" id="kt_modal_new_address_cancel" class="btn btn-light me-3">닫기</button>
                    <button type="submit" id="kt_modal_new_address_submit" class="btn btn-primary">
                        <span class="indicator-label">요청</span>
                        <span class="indicator-progress">기다려주세요..
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--end::Form-->
    <!--<div id="addBattleViewModal" class="modal fade" role="dialog" th:fragment="addBattleView">-->
    <!--    <div class="modal-dialog " style="height:1300px;">-->
    <!--        <div class="modal-content">-->
    <!--            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">-->
    <!--                <span class="svg-icon svg-icon-2x"></span>-->
    <!--            </div>-->
    <!--            <h1 class="modal-title" align="center">승부생성</h1>-->
    <!--            <div class="modal-header"></div>-->
    <!--            <div class="modal-body">-->
    <!--                <form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">-->
    <!--                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">-->
    <!--                        <span class="required">상대회원 ID </span>-->
    <!--                        <span>aaa@n****.com</span>-->
    <!--                        <div>-->
    <!--                            <span class="required">상대회원 명 </span>-->
    <!--                            <span>김철수</span>-->
    <!--                        </div>-->
    <!--                    </label>-->

    <!--                    <div class="d-flex flex-column mb-5 fv-row">-->
    <!--                        &lt;!&ndash;begin::Label&ndash;&gt;-->
    <!--                        <label class="d-flex align-items-center fs-5 fw-bold mb-2">-->
    <!--                            <span class="required">Country</span>-->
    <!--                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Your payment statements may very based on selected country"></i>-->
    <!--                        </label>-->
    <!--                        &lt;!&ndash;                        <select class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option">&ndash;&gt;-->
    <!--                        &lt;!&ndash;                            <option value="1">칼로리 소모</option>&ndash;&gt;-->
    <!--                        &lt;!&ndash;                            <option value="2">칼로리 섭취</option>&ndash;&gt;-->
    <!--                        &lt;!&ndash;                        </select>&ndash;&gt;-->
    <!--                        <select class="form-select form-select-solid" data-control="select2" data-dropdown-css-class="w-200px" data-placeholder="Select an option" data-hide-search="true">-->
    <!--                            <option></option>-->
    <!--                            <option value="1">Option 1</option>-->
    <!--                            <option value="2" selected>Option 2</option>-->
    <!--                            <option value="3">Option 3</option>-->
    <!--                            <option value="4">Option 4</option>-->
    <!--                            <option value="5">Option 5</option>-->
    <!--                        </select>-->
    <!--                    </div>-->
    <!--                    <div class="mb-10">-->
    <!--                        <label for="" class="form-label">목표칼로리</label>-->
    <!--                        <input class="form-control form-control-solid" placeholder="목표칼로리를 입력해주세요" id="kt_inputmask_4" inputmode="text">-->
    <!--                        <div class="form-text"></div>-->
    <!--                    </div>-->

    <!--                    <select class="form-select form-select-solid" data-control="select2" data-dropdown-css-class="w-200px" data-placeholder="Select an option" data-hide-search="true">-->
    <!--                        <option></option>-->
    <!--                        <option value="1">Option 1</option>-->
    <!--                        <option value="2" selected>Option 2</option>-->
    <!--                        <option value="3">Option 3</option>-->
    <!--                        <option value="4">Option 4</option>-->
    <!--                        <option value="5">Option 5</option>-->
    <!--                    </select>-->

    <!--                </form>-->
    <!--            </div>-->
    <!--            <div class="modal-footer">-->
    <!--                <button type="button" class="btn btn-danger btn-hover-scale me-5">승부생성</button>-->
    <!--                <button type="button" class="btn btn-default" data-bs-dismiss="modal">이전</button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->


    <script>
        Inputmask({
            "mask": "9",
            "repeat": 10,
            "greedy": false
        }).mask("#kt_inputmask_4");

        $(document).ready(function () {
            console.log("ok..");
            $("#battle_range").daterangepicker();
        });
    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
</div>
</body>
</html>