<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
</head>
<body>
<div th:fragment="addCmnt">
<form id="addcmnt">
	<div>
	<div class="d-block">										
	<div class="input-group">
    <span class="input-group-text">댓글입력</span>
    <input type="text" id = "content"  class="form-control form-control-solid border ps-5" name="search" value="" data-kt-autosize="true" placeholder="댓글을 입력하주세요" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 59.9907px;"/>
    <button type="button" class="btn btn-info" th:onclick="javascript:fnAddCmnt()"> 댓글작성</button>
	</div>
	</div>
	</div>
</form>
<script>
	function fnAddCmnt(){
		var data = {
				postNo : $("#postNo").val(),
				cmntContent : $("#content").val()
				};
		console.log(data)
		$.ajax({
			url: "/community/json/addCmnt",
			type: "POST",
			dataType: 'json',
			contentType: "application/json",
			data: JSON.stringify(data),
			success : (function(data){
				console.log(data)
				//$("#postNo").attr("data-cmntList", data.list);
				location.reload();
				
			})
		})
					
	}; 




</script>
</div>
</body>
</html>
