<!DOCTYPE html>
<htmlxmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<div data-obj-id="Tqj6h" data-obj-type="element" data-text-editable="true">
<div data-text-content="true" style="font-weight:bold;font-size:24px" class="">댓글 쓰기</div></div>
<div data-obj-id="lsNse" data-obj-type="element" data-text-editable="true">
<input style="height:50px; width:300px; text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" class="">
<button type="button" class="btn btn-primary">등 &nbsp;록</button>
</div>








</body>
</html>