<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="index/toolbar :: toolbar">
	</div>
	<div class="container show-grid">
		<div class="row">
			<div class="col-md-2">
				<div data-obj-id="PTjxr" data-obj-type="element">
					<div data-text-content="true"
					style="border-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 14px; box-shadow: none; background-color: rgba(31, 108, 28, 0.67);">오늘의 추천 음식?
					</div>
				</div>
				<a href="http://item.gmarket.co.kr/Item?goodscode=2042609688"><img src="../assets/img/salad3.jpg" style ="height: 500px; width: 200px;"/></a>
			</div>
			<div class="col-md-10">
				<br>
				<br>
				
				
				
				
				
				<div style="position: absolute;">
					<div style="font-weight:bold;font-size:32px;" class="">소그룹 생성
					</div>
				</div>
				
				
				
				
				
			</div>
		</div>
	</div>
</body>
</html>