<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
</head>
<body>
	<div th:insert="index/toolbar :: toolbar">
	</div>
	<div class="container show-grid">
		<div class="row">
			<div class="col-md-2">
				<div data-obj-id="PTjxr" data-obj-type="element">
					<div data-text-content="true"
					style="border-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 14px; box-shadow: none; background-color: rgba(31, 108, 28, 0.67);">오늘의 추천 음식?
					</div>
				</div>
				<a href="http://item.gmarket.co.kr/Item?goodscode=2042609688"><img src="../assets/img/salad3.jpg" style ="height: 500px; width: 200px;"/></a>
			</div>
			<div class="col-md-10">
				<br>
				<br>
				
				
				
				
				<form id = "groupForm">
				<div style=" text-align: center;">
					<div style="font-weight:bold;font-size:32px;">소그룹 생성
					</div>
				</div>
				<div style=" text-align: center; height: 300px; width: 1000px; background-color: rgba(241, 196, 15, 0.31);">
					
					<div style="font-weight:bold;font-size:18px; text-align: center;">그룹명</div>
					<span>
						<input name ="groupName" id = "groupName" style="height:50px; width:200px; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);">
						<button style="height:30px; width:100px; font-size: 15px" id = "check" type="button" class="btn btn-primary"> 중복체크</button>
					</span>
					
					<div style="font-weight:bold;font-size:18px;" >그룹소개글</div>
					<span>
						<input name ="groupIntro" id = "groupintro" style="height:100px; width:400px; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);">
					</span>
				</div>
				<div style="text-align: center;">
					<button style="height:80px; width:100px; font-size: 20px" id = "addGroupButton" type="button" class="btn btn-primary">소그룹 등록</button>
				</div>
				</form>
				
				
				
				
				
				
				
			</div>
		</div>
	</div>
	
	
<script type="text/javascript">
$(function(){
	
	$("#addGroupButton").on("click", function(){
		$("#groupForm").attr("method", "POST").attr("action", "/community/addGroup").submit();
	});
	
});
</script>
</body>
</html>