<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
								<div class="card-body">
										<!--begin::Form-->
										<form action="" class="form mb-15 fv-plugins-bootstrap5 fv-plugins-framework" method="post" id="kt_contact_form">
											<!--begin::Title-->
											<div class="d-flex flex-column mb-9 fv-row">
												<h1 class="fw-bolder text-dark mb-7">1:1 문의하기</h1>
												<span class="fs-4 fw-bold text-gray-600 d-block"> 등록하고자하는 문의를 등록하시면 됩니다.</span>
											</div>
											<!--end::Title-->
											<!--begin::Input group-->
											<div class="d-flex flex-column mb-5 fv-row">
												<!--begin::Label-->
												<label class="fs-5 fw-bold mb-2">문의 제목</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input class="form-control form-control-solid" placeholder="" name="subject">
												<!--end::Input-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="d-flex flex-column mb-10 fv-row fv-plugins-icon-container">
												<label class="fs-6 fw-bold mb-2">문의 내용</label>
												<textarea class="form-control form-control-solid" rows="6" name="message" placeholder=""></textarea>
											<div class="fv-plugins-message-container invalid-feedback"></div></div>
											<!--end::Input group-->
											<!--begin::Submit-->
											<button type="submit" class="btn btn-primary" id="kt_contact_submit_button">
												<!--begin::Indicator-->
												<span class="indicator-label">문의등록</span>
												<!--end::Indicator-->
											</button>
											<!--end::Submit-->
										<div></div></form>
										<!--end::Form-->
									
									</div>
		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>

	<!--end::Body-->
</html>