<!DOCTYPE html>
<html>
<meta charset="EUC-KR">
<head th:replace="index/toolbar :: head">
</head>
<body>
<div th:insert="index/toolbar :: toolbar">
</div>
<div data-obj-id="iy5zk" data-obj-type="element" data-text-editable="true" class=""><div data-text-content="true" style="font-weight:bold;font-size:32px;" class="">자유게시판</div></div>
<div data-obj-id="Xmyt7" data-obj-type="element" class=""><div data-image-content="true" style="background-image: url(/static/images/shape/wireframe.svg);"></div></div>
<div data-obj-id="PgjEI" data-obj-type="element" data-text-editable="true" class="" ><div data-text-content="true" style="font-weight:bold;font-size:24px" class="">제목 : </div></div>
<div data-obj-id="3NKAA" data-obj-type="element" data-text-editable="true" class="" >
<input style="height:30px; width:100px; text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" class=""></div>
<div data-obj-id="MM0mp" data-obj-type="element" data-text-editable="true" class="" ><div data-text-content="true" style="font-size: 16px; color: rgb(255, 255, 255); text-align: center; line-height: 2.5em; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(52, 152, 219);" class="">업로드</div></div>

<div data-obj-id="V6OAh" data-obj-type="element" data-text-editable="true" class="">
<input type="text" data-min-width="6000" data-min-height="3000" data-text-content="true" value="내용을 입력해주세요" style="color: rgb(94, 94, 94);"></div>
<div data-obj-id="A4UGK" data-obj-type="element" data-text-editable="true" class="">
<input style="height:300px; width:1000px; text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" class=""></div>
<button type="button" class="btn btn-primary" comm_title="" >등 &nbsp;록</button>
<button type="button" class="btn btn-primary" data-prodNo="$" >취 &nbsp;소</button>




	
</body>
</html>

