<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:replace="index/toolbar :: head">
</head>
<body>
<div th:insert="index/toolbar :: toolbar">
</div>
<div class="container show-grid">
	<div class="row">
<div class="col-md-2">
<div data-obj-id="PTjxr" data-obj-type="element" data- text-editable="true" class="">
<div data-text-content="true" style="border-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 14px; box-shadow: none; background-color: rgba(31, 108, 28, 0.67);"class="">오늘의 추천 음식?</div>
</div>
<a href="http://item.gmarket.co.kr/Item?goodscode=2042609688"><img src="../assets/img/salad3.jpg" style ="height: 500px; width: 200px;"/></a>
</div>
<div class="col-md-10">
<div data-obj-id="iy5zk" data-obj-type="element" data-text-editable="true" class=""><div data-text-content="true" style="font-weight:bold;font-size:32px;" class="">자유게시판</div></div>
<div data-obj-id="Xmyt7" data-obj-type="element" class=""><div data-image-content="true" style="background-image: url(/static/images/shape/wireframe.svg);"></div></div>
<div data-obj-id="PgjEI" data-obj-type="element" data-text-editable="true" class="" ><div data-text-content="true" style="font-weight:bold;font-size:24px" class="">제목 : </div></div>
<div data-obj-id="3NKAA" data-obj-type="element" data-text-editable="true" class="" >
<input style="height:30px; width:100px; text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" class=""></div>
<div data-obj-id="MM0mp" data-obj-type="element" data-text-editable="true" class="" ><div data-text-content="true" style="font-size: 16px; color: rgb(255, 255, 255); text-align: center; line-height: 2.5em; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(52, 152, 219);" class="">업로드</div></div>

<div data-obj-id="V6OAh" data-obj-type="element" data-text-editable="true" class=""></div>
<input type="text" data-min-width="6000" data-min-height="3000" data-text-content="true" value="내용을 입력해주세요" style="color: rgb(94, 94, 94);"></div>
<div data-obj-id="A4UGK" data-obj-type="element" data-text-editable="true" class="">
<input style="height:300px; width:1000px; text-align: center; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" class=""></div>
<button type="button" class="btn btn-primary" title="" content = "" >등 &nbsp;록</button>
<button type="button" class="btn btn-primary">취 &nbsp;소</button>
</div>
</div>
</body>
</html>

