<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:replace="index/toolbar :: head">
</head>
<body>
<div th:insert="index/toolbar :: toolbar">
</div>
<div class="container show-grid">
	<div class="row">
	<div class="col-md-2">
		<div data-obj-id="PTjxr" data-obj-type="element" data- text-editable="true" class="">
			<div data-text-content="true" style="border-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 14px; box-shadow: none; background-color: rgba(31, 108, 28, 0.67);"class="">오늘의 추천 음식?</div>
		</div>
	<a href="http://item.gmarket.co.kr/Item?goodscode=2042609688"><img src="../assets/img/salad3.jpg" style ="height: 500px; width: 200px;"/></a>
	</div>
	<div class="col-md-10">











<form id = "postForm" >
	<div style="font-weight:bold;font-size:32px; text-align : center;">자유게시판</div>
		<div style="background: rgb(255, 255, 204);">
			<div style="font-weight:bold; font-size:24px; text-align : center;">제목 :
			<input name="title" id ="title" style="height:40px; width:500px; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);">
			</div>
			<div style="text-align : center;">
			<input type="text" name="idk" val ="0" style="color: rgb(94, 94, 94);">
			<button style="height:40px; width:60px;" id = "picUpload" type="button" class = "btn btn-danger">업로드</button>
			</div>
			<div style="text-align : center;">
			<input name ="content" id = "content" style="height:300px; width:1000px; line-height: 2.3em; font-size: 16px; font-weight: bold; color: rgb(158, 158, 158);" >
			</div>
			<div style="text-align : center;">
			<button style="height:40px; width:60px;" id = "upload" type="button" class="btn btn-primary">등록</button>
			<button style="height:40px; width:60px;" type="button" class ="btn btn-primary">취소</button>	
			</div>	
		</div>
</div>
</form>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$(function(){
	
	$("#upload").on("click", function(){
		
		
		$("#postForm").attr("method", "POST").attr("action", "/community/addPost").submit();
	});
	
});
</script>
</body>
</html>

