<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<meta charset="utf-8">
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>
<body>
	<div id="reportPostViewModal" class="modal fade" role="dialog"  th:fragment ="reportPostView">
		<div  class="modal-dialog " style="height:1300px;">
			<div class="modal-content">
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
	            	<span class="svg-icon svg-icon-2x"></span>
	            </div>
	            <h1 class="modal-title" align="center">신고하기</h1>
				<div class="modal-header">
				</div>
				<div class="modal-body" style="height:500px;">
					<form id="kt_modal_new_target_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
						<input id="reportCate" name="reportCate" th:value = "${report.reportCate}"  type="hidden">
						<input id="TrgtNo" name="TrgtNo" th:value = "${report.TrgtNo}"   type="hidden">
						<label class="d-flex align-items-center fs-6 fw-bold mb-2">
							<span>신고 날짜 : </span>
							<span id="time" th:value ="${time}" th:text="${time}"></span>
							<span>신고 회원 : </span>
							<span id = "reportedUser" th:value ="${report.reportedUser.userId}" th:text="${report.reportedUser.userId}"></span>
						</label>
						<label class="d-flex align-items-center fs-6 fw-bold mb-2">
							<span class="required">신고사유</span>
						</label>
						<input id = "reportcontent" type="text" name = "content" class="form-control form-control-solid" placeholder="신고 사유를 입력해주세요" >
					</form>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-danger btn-hover-scale me-5" th:onclick="javascript:fnAddReport()">신고완료</button>
					<button type="button" class="btn btn-default" data-bs-dismiss="modal">이전</button>
				</div>
			</div>
		</div>
	
		<script>
		function fnAddReport(){
			//$("form").attr("method", "POST").attr("action" , "/community/addReport").submit();
			
			data = {
					reportCate : $("#reportCate").val(), 
					TrgtNo : $("#TrgtNo").val(),
					time : $("#time").val(),
					reportedUser : $("#reportedUser").val(),
					reportcontent : $("#reportcontent").val()
					};
			
			$.ajax({
				url: "/community/json/addReport", //url : 요청 Url
				type: "POST", //type : 데이터를 전송하는 방법 (get, post)
				dataType: "json", //서버측에서 전송받은 데이터의 형식 (default : xml, json, script, text, html) //=> default는 html
				data: JSON.stringify(data), //요청과 함께 서버로 데이터를 전송 할 string 또는 map
				contentType: "application/json", // 서버에 보내는 데이터의 타입이다.
				success: function(data){ //  요청이 성공 했을 때 호출할 콜백 함수
					console.log("성공");
					

					
				}
				
			})
			
			$('#reportPostViewModal').modal("hide");
		};
		</script>
	</div>
</body>
</html>