<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

<!--begin::Body-->
<body id="kt_body" class="aside-enabled">
<!-- 공통 SideBar -->
<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->
<!-- 얘들아 여기서부터 내가 넣고 싶은 바디 내용을 넣는거야!!!! 헤드는 건드릴거 없음 XXXXXXX -->

<div class="tab-content">
    <!--begin::Tab panel-->
    <div id="kt_billing_months" class="card-body p-0 tab-pane fade show active" role="tabpanel" aria-labelledby="kt_billing_months">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->



            <!--begin::Follow-->
            <a th:href="@{/community/getBattleList}" class="btn btn-sm btn-light">
                <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                <span class="svg-icon svg-icon-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
									<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
								</svg>
							</span>
                <!--end::Svg Icon-->승부 기록</a>
            <!--end::Follow-->


            <!--begin::Follow-->
            <a th:href="@{/community/getBattleRequestList}" class="btn btn-sm btn-light">
                <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                <span class="svg-icon svg-icon-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
									<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
								</svg>
							</span>
                <!--end::Svg Icon-->승부 보낸 리스트</a>
            <!--end::Follow-->


            <!--begin::Follow-->
            <a th:href="@{/community/getBattleReceiveList}" class="btn btn-sm btn-light">
                <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                <span class="svg-icon svg-icon-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
									<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
								</svg>
							</span>
                <!--end::Svg Icon-->승부 받은 리스트</a>
            <!--end::Follow-->
        </div>
    </div>
</div>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-fluid">

        <div class="d-flex flex-wrap flex-stack mb-6 mt-4">
            <h3 class="fw-bolder my-2"></h3>
        </div>

        <div class="row g-6 mb-6 g-xl-9 mb-xl-9 col-sm-12 col-xl-10">
            <div class="col">
                <div class="card p-0">
                	<th:block th:if = "${battle.battleStt} ==2">
                    <div class="btn-sm battle-progress">진행중</div>
                    </th:block>
                    <th:block th:if = "${battle.battleStt} ==3">
                    <div class="btn-sm battle-progress">승부종료</div>
                    </th:block>
                    <th:block th:if = "${battle.battleResultCate}==1">
                    <div class="btn-sm battle-win">승리</div>
                    </th:block>
                    <th:block th:if = "${battle.battleResultCate}==3">
                    <div class="btn-sm battle-lose">패배</div>
                    </th:block>
                                  
                                   
                    <div class="card-body">
                        <div class="row mb-8">
                            <div class="col-xl-12">
                                <div class="d-flex flex-center flex-wrap mb-5">
                                    <div class="border border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
                                    	<th:block th:if = "${battle.battleItemCate} == 1">
                                    	<div  class="fs-6 fw-bolder text-gray-700" >칼로리 소모</div>
                                    	</th:block>
                                        <th:block  th:if = "${battle.battleItemCate} == 2">
                                    	<div class="fs-6 fw-bolder text-gray-700">칼로리 섭취</div>
                                    	</th:block>
                                        <div class="fw-bold text-gray-400">승부 유형</div>
                                    </div>
                                    <div class="border border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
                                        <div class="fs-6 fw-bolder text-gray-700" th:text="|${battle.battlePeriod}일|"></div>
                                        <div class="fw-bold text-gray-400">승부 기간</div>
                                    </div>
                                    <div class="border border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
                                        <div class="fs-6 fw-bolder text-gray-700" th:text = "|${battle.battleStartDate} ~ ${battle.battleEndDate}|"></div>
                                        <div class="fw-bold text-gray-400">승부 기간</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="d-flex flex-column mt-5 mb-5">
                                    <div class="d-flex justify-content-between w-100 fs-4 fw-bolder mb-3">
                                        <span class="mt-auto mb-auto">나의 하루 섭취 칼로리 목표: <span class="comma-3 text-color-green" th:text = "|${battle.userTrgtKcal}Kcal|"></span></span>
                                        <div>
                                            <span th:text = "|${battle.userScore} / ${battle.battlePeriod}|"></span>
                                            <div class="fs-10 opacity-50">성공 / 전체</div>
                                        </div>
                                    </div>
                                    <!-- <div class="h-8px bg-light rounded mb-3">
                                       <div class="bg-success rounded h-8px" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                    <!--                                    <div class="fw-bold text-gray-600">14 Targets are remaining</div>-->
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="d-flex flex-column mt-5 mb-5">
                                    <div class="d-flex justify-content-between w-100 fs-4 fw-bolder mb-3">
                                        <span class="mt-auto mb-auto">상대의 하루 섭취 칼로리 목표: <span class="comma-3 text-color-green" th:text = "|${battle.rivalTrgtKcal}Kcal|"></span></span>
                                        <div>
                                            <span th:text = "|${battle.rivalUserScore} / ${battle.battlePeriod}|"></span>
                                            <div class="fs-10 opacity-50">성공 / 전체</div>
                                        </div>
                                    </div>
                                    <!-- <div class="h-8px bg-light rounded mb-3">
                                        <div class="bg-success rounded h-8px" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                    <!--                                    <div class="fw-bold text-gray-600">14 Targets are remaining</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end py-6" th:if = "${battle.battleStt} == 2">
                        <button type="reset" class="btn btn-light btn-active-light-danger me-2 btn-surrender">기권하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mmodalHolder"></div>

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// -->
<!-- 공통 하단 footer -->
<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<!-- ////////////////////////////////////여기까지 다시 절대 고정 건드리지마셈//////////////////////////////////// -->

<!-- 얘들아 여기서부터 너네가 넣고 싶은 자바스크립트 코드 넣으면돼!!!!!! -->

<script>

    $(document).ready(function () {
        addComma();

        $(".btn-surrender").click(function (e) {
            e.preventDefault();

            let swalWithBootstrapButtons = Swal.mixin({
                confirmButtonText:"닫기",
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            Swal.fire({
                html: "정말 기권하시겠습니까?",
                icon: "warning",
                buttonsStyling: false,
                showCancelButton: true,
                confirmButtonText: "예",
                cancelButtonText: "아니오",
                customClass: {
                    confirmButton: "btn btn-primary",
                    cancelButton: 'btn btn-danger'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // 예 클릭
                    swalWithBootstrapButtons.fire(
                    	
                        '승부에서 패배하셨습니다.',
                        '',
                        'warning'
                    )
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    // 아니오 클릭
                    console.log("취소클릭");
                }
            })
        })
    });


    function addComma() {
        if ($(".comma-3").length > 0) {
            $(".comma-3").each(function () {
                let number_ = $(this).text();
                $(this).text(number_.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });
        }
    }

</script>

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// -->
</body>
<!--end::Body-->
</html>