<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>



										<div class="m-0" align="center">
											<!--begin::Heading-->
											<div class="mb-9">
												<!--begin::Title-->
												<h1 class="fw-bolder text-dark mb-3" th:text = "${group.groupName}"></h1>
												<!--begin::Title-->
												<!--begin::Description-->
												<span class="fs-5 fw-bold text-muted" th:text = "${group.groupIntro}" ></span>
												<!--begin::Description-->
											</div>
											<!--end::Heading-->
											<!--begin::Members-->
											<div class="d-flex flex-wrap w-100 mw-xxl-800px" >
												<!--begin::Member-->
												<div class="d-flex flex-column text-center mb-11 me-5 me-lg-15"th:each="data : ${group.groupUsers}">
													<!--begin::Photo-->
													<div class="symbol symbol-100px symbol-lg-150px mb-4">
														<img src="/good/assets/media/avatars/300-11.jpg" class="" alt="">
													</div>
													<!--end::Photo-->
													<!--begin::Info-->
													<div class="text-center">
														<!--begin::Info-->
														<div th:if = "${data.captainStt == 1}">그룹장</div>
														<div th:if = "${data.captainStt} == 2">그룹회원</div>
														<a href="/good/pages/user-profile/overview.html" class="text-dark fw-bolder text-hover-primary fs-4" th:text="${data.user.userName}"></a>
														<!--end::Info-->
														<!--begin::Position-->
														<span class="text-muted d-block fw-bold" th:text="${data.user.userId}"></span>		
														<!--end::Position-->
													</div>
													<!--end::Info-->
												</div>
												<!--end::Member-->
											</div>
											<!--end::Members-->
										</div> 
		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
		
	</body>
	<!--end::Body-->
</html>