<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
											

<div align="center">
<h1 class="fs-2tx fw-bolder mb-8">
<span class="d-inline-block position-relative ms-2">
<span class="d-inline-block mb-2">소그룹 게시판</span>
<span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-success translate rounded"></span>
</span>
</h1>
</div>





									<div align="left" class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
										<div class="row g-10">

											<!--begin::Col-->
											<div class="col-md-4" th:each="data:${list}">
											
												<!--begin::Feature post-->
												<div class="card-xl-stretch me-md-6">						
													<!--begin::Body-->
													<div class="mt-5">
														<!--begin::Title-->
														<a  class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base" th:text="${data.groupName}"th:onclick="|javascript:fnSubmiGroupNo(${data.groupNo})|" ></a>
														<!--end::Title-->
														<!--begin::Text-->
														<div class="fw-bold fs-5 text-gray-600 my-3"th:text="${data.groupIntro}"></div>
														<!--end::Text-->
														<!--begin::Content-->
														<div class="d-flex justify-content-between align-items-center">
															<div class="fs-6 fw-bolder">
																<!--begin::Date-->
																<span class="text-gray-500"th:text="${data.groupBirth}"></span>
																<!--end::Date-->
															</div>
															<!--end::Content-->	
														</div>
													</div>
													<!--end::Body-->
												</div>
												<!--end::Feature post-->
											</div>
											<!--end::Col-->
									
										
										</div>
									</div>








































											
											
											
											
											
											
		<!-- 공통 하단 footer -->
		
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<script type="text/javascript">

function fnSubmiGroupNo(data){
	console.log(data);
	
	//var data = $("#" + id).attr("data-groupNo");
	
	//$("#form").attr("method", "GET").attr("action", '/community/getGroup?groupNo='+ data ).submit();
	location.href='/community/groupBoard?groupNo='+ data;

	 
	
}
</script>
	</body>
	<!--end::Body-->
</html>