<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<div class="card bg-body mb-9 mb-xl-0 me-lg-9">
									<div class="card-body">
										<!--begin::Faq content-->
										<div class="m-0">
											<!--begin::Intro-->
											<div class="mb-9">
												<!--begin::Title-->
												<h4 class="fs-2qx text-gray-800 w-bolder mb-6">내 문의 리스트</h4>
												<!--end::Title-->

											</div>
											<!--end::Intro-->
											<!--begin::Items-->
											
											<div class="m-0">
												<!--begin::Item-->
												<div class="mb-12">
													<!--begin::Title-->
													<h3 class="text-gray-800 fw-bolder mb-2">+버튼을 클릭해주세요</h3>
													<!--end::Title-->
													<!--begin::Accordion-->
													<!--begin::Section-->
													<th:block  th:each ="data ,i : ${list}">
													<div class="m-0">
														<!--begin::Heading-->
														<div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed" data-bs-toggle="collapse" th:attr="data-bs-target=|#kt_job_1_${i.count}|" aria-expanded="false">
															<!--begin::Icon-->
															<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"></rect>
																		<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="black"></rect>
																	</svg>
																</span>
																<!--end::Svg Icon-->
																<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																<span class="svg-icon toggle-off svg-icon-1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"></rect>
																		<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="black"></rect>
																		<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="black"></rect>
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</div>
															<!--end::Icon-->
															<!--begin::Title-->
															<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0" th:text="${data.mtmQnaTitle}"></h4>
															<!--end::Title-->
														</div>
														<!--end::Heading-->
														<!--begin::Body-->
														<div th:id = "|kt_job_1_${i.count}|" class="fs-6 ms-1 collapse">
															<!--begin::Text-->
															<!-- <img th:src="@{../assets/profile/}+${session.user.userImg}" alt="image"> -->
															<div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
																<img th:src="@{../assets/mtmqna/}+${data.imgName}"  width="30%" height="40%;">

															</div>
															
															<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10" th:text="${data.mtmQnaCntnt}"></div>
																
																
																
																
																<div  th:if="${false}" class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#kt_job_2_1" aria-expanded="false">
																	<!--begin::Icon-->
																	<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																		<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																		<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																				<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"></rect>
																				<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="black"></rect>
																			</svg>
																		</span>
																		<!--end::Svg Icon-->
																		<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																		<span class="svg-icon toggle-off svg-icon-1">
																			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																				<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"></rect>
																				<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="black"></rect>
																				<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="black"></rect>
																			</svg>
																		</span>
																		<!--end::Svg Icon-->
																	</div>
																	<!--end::Icon-->
																	<!--begin::Title-->
																	<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0"></h4>
																	<!--end::Title-->
																</div>
																<div th:if="${false}" id="kt_job_2_1" class="fs-6 ms-1 collapse" >
																<!--begin::Text-->
																	<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>	
																</div>
																
																
																
																
																

														</div>
														
														<!--end::Svg Icon-->
														<!--end::Content-->
														<!--begin::Separator-->
														<div class="separator separator-dashed"></div>
														<!--end::Separator-->
													</div>
													<!--end::Section-->
												
													
													<!--end::Accordion-->
												</div>
												<!--end::Item-->
												
											</div>
											</th:block>
											<!--end::Items-->
										</div>
										<!--end::Faq content-->
									</div>
								</div>
		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>

	</body>
	<!--end::Body-->
</html>