<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<meta charset="utf-8">
<head th:replace="index/toolbar :: head">
</head>
<body>
<div th:insert="index/toolbar :: toolbar">
</div>
<div class="container show-grid"></div>
	<div class="row">
	<div class="col-md-2">
		<div data-obj-id="PTjxr" data-obj-type="element" data- text-editable="true" class="">
			<div data-text-content="true" style="border-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 14px; box-shadow: none; background-color: rgba(31, 108, 28, 0.67);"class="">오늘의 추천 음식?</div>
		</div>
	<a href="http://item.gmarket.co.kr/Item?goodscode=2042609688"><img src="../assets/img/salad3.jpg" style ="height: 500px; width: 200px;"/></a>
	</div>
	<div class="col-md-10">
	
	
	
	
	

	
	
	
	
	
	
	

<div>
	<div style="font-weight:bold;font-size:32px; text-align : center;">자유게시판</div>
	<input id="postNo" type="hidden" name="postNo" th:value="${map.board.postNo}" th:attr="data-postLikeStt=${map.board.postLikeStt}">
	<div style="text-align: left;">
	<span th:if="${false}" >
	<button id="updateButton" type="button">수정하기</button>
	<button id="deleteButton" type="button">삭제하기</button>
	</span>
	<button id="reportButton" type="button" style="text-align: right;">신고하기</button>
	</div>
	
	<div style="background-color: rgb(198, 198, 198); width: 1000px; height: 10px; text-align: center;"></div>
	
	<div>
	<div style="font-size: 40px; text-align: left;" th:text="${map.board.title}"> </div>
	</div>
	
	<div>
	<span th:text="${map.board.user.userId}"></span>
	
	<span th:text="${map.board.postDate}"></span>
	</div>
	
	<div style="background-color: rgb(198, 198, 198); width: 1000px; height: 10px; text-align: center;"></div>
	

	<div style="text-align: center;">
		<div style=" height:300px; width:1000px; background: rgb(); font-size: 100px; text-align: r; color:   rgb(255, 255, 204); background-color: rgb(176, 155, 155);">사진</div>
	
	
		<div>
		<div style=" height:300px; width:1000px; font-size:16px; text-align: center;"><p th:text="${map.board.content}"></p></div>

		<button  class = "likeStt" th:if="${map.board.postLikeStt == 0}" style="height: 100px; width: 100px; border-radius: 50%" type="button"  th:text="${map.board.postLikeCount}" th:onclick="javascript:fnUpdatePostLike()"></button>		
		<button class = "likeStt" th:if="${map.board.postLikeStt == 1}" style="height: 100px; width: 100px; border-radius: 50%" type="button"  th:text="${map.board.postLikeCount}" th:onclick="javascript:fnUpdatePostLike()"></button>
		
		</div>	
	
		<div style="text-align: left;" th:insert="community/addcmnt :: addCmnt"></div>
		<div style="text-align: left;" th:insert="community/getCmnt :: getCmnt"></div>
	</div>
</div>



</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:inline="javascript">
/* $(function(){
	function fnUpdatePostLike(){
		var data = {postNo : $("#postNo").val(),
			        likeStt : $("likeStt").val()
			       };
		
		$.ajax({
			url: "/community/json/updatePostLike",
			type: "POST",
			data: JSON.stringify(data),
			contentType: "application/json"
		})
	}
}); */
/* https://minchoi0912.tistory.com/66 */
/* $(function(){ */
	function fnUpdatePostLike(){
		var data = {postNo : $("#postNo").val(),
				postLikeCount : $(".likeStt").text(),
				postLikeStt : $("#postNo").attr("data-postLikeStt")
		       };
		$.ajax({
			url: "/community/json/updatePostLike",
			type: "POST",
			dataType: 'json',
			contentType: "application/json",
			data: JSON.stringify(data),
			/* data: {
				postLikeCount : $(".likeStt").text(),
				postLikeStt : $("#postNo").attr("data-postLikeStt")
			}, */
			success : (function(data){
				console.log(data)
				$(".likeStt").text(data.postLikeCount);
				$("#postNo").attr("data-postLikeStt", data.postLikeStt);
			}) 
			
		})/* .done(function(data){
			console.log(data)
			$(".likeStt").text(data.postLikeCount);
			$("#postNo").attr("data-postLikeStt", data.postLikeStt);
		}) */
	};
/* }); */
</script>
</body>
</html>