<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->


		<!-- 예시를 보고 싶다면 diary 아래 getDiary.html 보셈  -->
		<!-- 얘들아 여기서부터 내가 넣고 싶은 바디 내용을 넣는거야!!!! 헤드는 건드릴거 없음 XXXXXXX -->

<!-- 

		이런식으로 걍 냅다 넣으면돼 아래가 예시
		
		<div class="container">
		
			<div class="row mb-3">
			    <div class="col-md-2 themed-grid-col"></div>
			    <div class="col-md-8 themed-grid-col"><div id='calendar'></div></div>
			    <div class="col-md-2 themed-grid-col"></div>
			</div>
			
		</div>

-->
<input id="postNo" type="hidden" name="postNo" th:value="${map.board.postNo}" th:attr="data-000=${map.board.postLikeStt}">
<div class="card-body">
	
	<div class="d-flex align-items-center">
		<!--begin::Avatar-->
		<div class="symbol symbol-50 me-4">
			<span class="symbol-label" style="background-image:url(/good/assets/media/avatars/150-1.jpg);"></span>
		</div>
		<!--end::Avatar-->
		<div class="pe-5">
			<!--begin::Author details-->
			<div class="d-flex align-items-center flex-wrap gap-1">
				<a href="#" class="fw-bolder text-dark text-hover-primary" th:text="${map.board.user.userId}" ></a>
			</div>
		</div>
	</div>
	<div>
	
	<h2 class="fw-bold me-3 my-1" th:text="${map.board.title}"></h2>
	<span class="fw-bold text-muted text-end me-3" th:text="${map.board.postDate}"></span>
	<span style="text-align: right;">
	<a href="#" class="btn btn-warning btn-hover-rotate-start">수정하기</a>
	<a href="#" class="btn btn-success btn-hover-rotate-end">삭제하기</a>
	<a href="#" class="btn btn-danger btn-hover-scale me-5" th:onclick="javascript:fcReportPost()" >신고하기</a>
	</span>
	</div>
	<div class="separator border-5 my-10"></div>
	<div class="py-5" th:text="${map.board.content}">
	</div>
	<div class="separator border-5 my-10"></div>
	<div style="text-align: left;" th:insert="community/addcmnt :: addCmnt"></div>
	<div style="text-align: left;" th:insert="community/getCmnt :: getCmnt"></div>
</div>

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
		<!-- 공통 하단 footer -->
<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<!-- ////////////////////////////////////여기까지 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 		
			
		<!-- 얘들아 여기서부터 너네가 넣고 싶은 자바스크립트 코드 넣으면돼!!!!!! -->
		
<!-- 	
	
		이런식으로 필요한 거 잇으면 script srt 하고 link rel도 해도 돼!!! 아래가 예시!!!
		
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/locales-all.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/locales-all.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.css">
		<script>
		      document.addEventListener('DOMContentLoaded', function() {
		        var calendarEl = document.getElementById('calendar');
		        var calendar = new FullCalendar.Calendar(calendarEl, {
		          initialView: 'dayGridMonth'
		        });
		        calendar.render();
		      });
		</script>
	
-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>		
<script type="text/javascript">
function fcReportPost(){
	var data = $("#postNo").val();
	$.ajax({
		url: "/community/reportPost",
		success : (function(data){
			console.log(data)
			$(".likeStt").text(data.postLikeCount);
			$("#postNo").attr("data-postLikeStt", data.postLikeStt);
		})
		
	})
};	
</script>
<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 	
	</body>
	<!--end::Body-->
</html>