<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->

	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->






<input id="postNo" type="hidden" name="postNo" th:value="${map.board.postNo}" th:attr="data-postLikeStt=${map.board.postLikeStt},data-cmntList=${map.list}">

<div class="card card-dashed">

	    <div class="card-header">
	    		<div>
		        <h3 class="card-title" th:text="${map.board.title}"></h3>
		        <div th:text="${map.board.postDate}" ></div>
		       	<div th:text="${map.board.user.userId}" ></div>
		       	</div>
		        <div class="card-toolbar">
		            <button th:id="postReport" type="button" th:attr="data-trgtNo=${map.board.postNo},data-userId=${map.board.user.userId}" class="btn btn-sm btn-light" th:onClick="javascript:fcReportPost(1,this.id)">
		                신고하기
		            </button>
		            <button type="button" class="btn btn-sm btn-light">
		                수정하기
		            </button>
		            <button type="button" class="btn btn-sm btn-light" >
		                삭제하기
		            </button>
		        </div>
		        
	    </div>
    <div class="card-body">
   		 <div th:if = "${map.board.img} != null">
			<div th:each = "data : ${map.board.img}">
			<div align="center">
				<img th:src="@{../assets/mtmqna/}+${data.imgName}">
			</div>
			</div>
		</div>
        <div class="card-body py-5" th:text="${map.board.content}">
    	</div>
	    <div class="card-footer">
	    <button  class="btn btn-primary btn-hover-rise me-5" id ="postLikeCount" type="button"  th:text="${map.board.postLikeCount}" th:onClick="javascript:fnUpdatePostLike()"></button>		
	    </div>
	    <div class="separator border-5 my-10"></div>
		<div style="text-align: left;" th:insert="community/addcmnt :: addCmnt"></div>
		<div class="separator border-5 my-10"></div>
		
		
		<div style="text-align: left;" th:insert="community/getCmnt :: getCmnt"></div>
		<div class="separator border-5 my-10"></div>
	</div>
</div>





<div id="mmodalHolder"></div>



<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
		<!-- 공통 하단 footer -->
<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<!-- ////////////////////////////////////여기까지 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 		
			

 
<script>
function fcReportPost(cate, id){
	
	console.log(cate);
	console.log(id);
	
	
	var reportedTrgtNoData = $('#'+ id).attr("data-trgtNo");
	var cateNoData = cate
	var reportedUserData  = $('#'+ id).attr("data-userId");
	console.log(reportedTrgtNoData);
	console.log(reportedUserData);
	
	
	var data = {"TrgtNo" : reportedTrgtNoData, "reportCate" : cateNoData, "userId" : reportedUserData};
	console.log(data);
	$.ajax({
		url: "/community/reportPostView", //url : 요청 Url
		type: "POST", //type : 데이터를 전송하는 방법 (get, post)
		dataType: "html", //서버측에서 전송받은 데이터의 형식 (default : xml, json, script, text, html) //=> default는 html
		data: JSON.stringify(data), //요청과 함께 서버로 데이터를 전송 할 string 또는 map
		contentType: "application/json",  // 서버에 보내는 데이터의 타입이다.
		success: function(data){ //  요청이 성공 했을 때 호출할 콜백 함수
			console.log("성공" + data);
			
			$("#mmodalHolder").html(data);
            $("#reportPostViewModal").modal("show");
			
		}
		
	})
};






















/* $(function(){
function fnUpdatePostLike(){
	var data = {postNo : $("#postNo").val(),
		        likeStt : $("likeStt").val()
		       };
	
	$.ajax({
		url: "/community/json/updatePostLike",
		type: "POST",
		data: JSON.stringify(data),
		contentType: "application/json"
	})
}
}); */
/* https://minchoi0912.tistory.com/66 */
/* $(function(){ */
	function fnUpdatePostLike(){
		var data = {postNo : $("#postNo").val(),
				postLikeCount : $("#postLikeCount").text(),
				postLikeStt : $("#postNo").attr("data-postLikeStt")
		       };
		console.log(data);
		$.ajax({
			url: "/community/json/updatePostLike",
			type: "POST",
			dataType: 'json',
			contentType: "application/json",
			data: JSON.stringify(data),
			
			/* data: {
				postLikeCount : $(".likeStt").text(),
				postLikeStt : $("#postNo").attr("data-postLikeStt")
			}, */
			success : (function(data){
				console.log(data)
				$("#postLikeCount").text(data.postLikeCount);
				$("#postNo").attr("data-postLikeStt", data.postLikeStt);
			}) 
			
		})/* .done(function(data){
			console.log(data)
			$(".likeStt").text(data.postLikeCount);
			$("#postNo").attr("data-postLikeStt", data.postLikeStt);
		}) */
	};
/* }); */
</script>
<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 	
	</body>
	<!--end::Body-->
</html>