<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		
		<th:block th:replace="/layout/fragments/sidebar.html :: sidebar"></th:block>
		
		
		
		
	
    
<th:block th:replace="/layout/fragments/footer.html :: footer"></th:block>
<script type="text/javascript">

</script>
	</body>
	<!--end::Body-->
</html>