<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
											<div class="card card-flush bg-transparent card-p-0 border-0 shadow-0 mb-9">
												<!--begin::Card header-->
												<div class="card-header">
													<h4 class="card-title fw-bolder text-dark">Categories</h4>
												</div>
												<!--end::Card header-->
												<!--begin::Card body-->
												<div class="card-body pt-2">
													<!--begin::Item-->
													<div class="d-flex flex-stack fw-bold fs-5 text-gray-500 mb-4">
														<!--begin::Text-->
														<a href="#" class="text-gray-500 text-hover-primary pe-2">SaaS Solutions</a>
														<!--end::Text-->
														<!--begin::Number-->
														<div class="m-0">24</div>
														<!--end::Number-->
													</div>
													<!--end::Item-->
												</div>
												<!--end::Card body-->
											</div>
		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<!-- ////////////////////////////////////여기까지 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 		
			
		<!-- 얘들아 여기서부터 너네가 넣고 싶은 자바스크립트 코드 넣으면돼!!!!!! -->
		
<!-- 	
	
		이런식으로 필요한 거 잇으면 script srt 하고 link rel도 해도 돼!!! 아래가 예시!!!
		
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/locales-all.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/locales-all.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.css">
		<script>
		      document.addEventListener('DOMContentLoaded', function() {
		        var calendarEl = document.getElementById('calendar');
		        var calendar = new FullCalendar.Calendar(calendarEl, {
		          initialView: 'dayGridMonth'
		        });
		        calendar.render();
		      });
		</script>
	
-->

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 	
	</body>
	<!--end::Body-->
</html>