<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="/layout/fragments/sidebar.html :: sidebar"></th:block>
	
	
	<div class="container show-grid">
		<div class="row">
			
			<div class="col-md-10">
			<br>
			<br>
			<ins>
			<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">일일 섭취 식단</div>
			</ins>
			
			<br><br><br>
			<div align="left">
			<span  data-text-content="true" style="font-weight:bold;font-size:24px" class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총 섭취칼로리 : </span>
			<span  data-text-content="true" style="font-weight: normal; font-size: 24px;" class="">&nbsp;2000kcal</span>
			<span data-text-content="true" style="font-weight:bold;font-size:24px" class="">&nbsp;&nbsp;&nbsp;&nbsp;잔여 칼로리 : </span>
			<span data-text-content="true" style="font-weight: normal; font-size: 24px;" class="">&nbsp;500kcal</span>
			<span data-text-content="true" style="font-weight:bold;font-size:24px" class="">&nbsp;&nbsp;&nbsp;&nbsp;내 목표 섭취 칼로리 : </span>
			<span data-text-content="true" style="font-weight: normal; font-size: 24px;" class="">&nbsp;2500kcal</span>
			</div>
			
			<br><br><div align="center" data-text-content="true" style="font-size: 21px; font-weight: bold;" class="" spellcheck="false">아침</div>
			<br>
			<div align="center" data-text-content="true" style="background-color: rgba(241, 196, 15, 0.4); color: rgb(255, 255, 255); border-width: 0px; border-style: none; position:absolute; left:500px; width: 753px; height: 266px; " class="">
			<br>
			<button style="width:130px; height:30px; text-align: center; font-weight: bold;" type="button" class="btn btn-secondary">즐겨찾기등록</button>&nbsp;			
			<button style="width:130px; height:30px; text-align: center; font-weight: bold;" type="button" class="btn btn-light">검색등록</button>&nbsp;			
			<button style="width:130px; height:30px; text-align: center; color:white; font-weight: bold;" type="button" class="btn btn-info">직접등록</button>			
			
			<br><br>
			<span  data-text-content="true" style="color:black; font-size: 16px; font-weight: bold;" class="">식품명 :  <input type="text" data-min-width="60" data-min-height="30" data-text-content="true" value="" style="height:30px;color: rgb(94, 94, 94); text-align: center; font-size: 13px; font-weight: normal;" class=""></span>
			<span  data-text-content="true" style="color:black; font-size: 16px; font-weight: bold;" class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;섭취량 :  <input type="text" data-min-width="60" data-min-height="30" data-text-content="true" value="" style="height:30px;color: rgb(94, 94, 94); text-align: center; font-size: 13px; font-weight: normal;" class=""></span>
			
			
			
			</div>
			
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<div align="center" data-text-content="true" style="font-size: 21px; font-weight: bold;" class="" spellcheck="false">점심</div>
			<br>
			<div align="center" data-text-content="true" style="background-color: rgba(224, 224, 224, 0.4); color: rgb(255, 255, 255); border-width: 0px; border-style: none; position:absolute; left:500px; width: 753px; height: 266px; " class="">
			<br>
			<button style="width:130px; height:30px; text-align: center; font-weight: bold;" type="button" class="btn btn-secondary">즐겨찾기등록</button>&nbsp;			
			<button style="width:130px; height:30px; text-align: center; font-weight: bold;" type="button" class="btn btn-light">검색등록</button>&nbsp;			
			<button style="width:130px; height:30px; text-align: center; color:white; font-weight: bold;" type="button" class="btn btn-info">직접등록</button>			
			
			<br><br>
			<span  data-text-content="true" style="color:black; font-size: 16px; font-weight: bold;" class="">식품명 :  <input type="text" data-min-width="60" data-min-height="30" data-text-content="true" value="" style="height:30px;color: rgb(94, 94, 94); text-align: center; font-size: 13px; font-weight: normal;" class=""></span>
			<span  data-text-content="true" style="color:black; font-size: 16px; font-weight: bold;" class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;섭취량 :  <input type="text" data-min-width="60" data-min-height="30" data-text-content="true" value="" style="height:30px;color: rgb(94, 94, 94); text-align: center; font-size: 13px; font-weight: normal;" class=""></span>
			
			
			
			</div>
			
			
			</div>
			</div>
			</div>
			
	

</body>
</html>