<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
	<div id="getalarm" class="modal fade" role="dialog" th:fragment ="getalarm">		
   <div  class="modal-dialog " >
    <div class="modal-content">
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
      <h1 class="modal-title" align="center"><span th:text="|${session.user.userName}님의 알림함|"></span></h1>
  
        <div class="modal-body" style="max-height:500px;">
		
		
	<div class="scroll h-400px px-5">
		
<table class="table">
    <thead>
        <tr class="fw-bolder fs-6 text-gray-800">
            <th class="min-w-40px">번호</th>
            <th>알람종류</th>
            <th class="min-w-100px">알람내용</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr  th:each="data, i : ${list}">
            <td th:text="${i.count}" ></td>
            <td >
            <span th:if="${data.alarmTitle}==게시글" class="badge badge-light-primary">게시글</span>
            <span th:if="${data.alarmTitle}==승부" class="badge badge-light-danger">승부</span>
            <span th:if="${data.alarmTitle}==팔로우" class="badge badge-light-success">팔로우</span>
            <span th:if="${data.alarmTitle}==블랙리스트" class="badge badge-light-dark">블랙리스트</span>
            <span th:if="${data.alarmTitle}==일대일문의" class="badge badge-light-warning">일대일문의</span>
            <span th:if="${data.alarmTitle}==소그룹" class="badge badge-light-info">소그룹</span>
            </td>
            <td th:text ="${data.alarmCntnt}"></td>
            <td th:text= "${data.alarmTime}"></td>
            <td style="font-size:20px;"><a href="#" th:onclick="|javascript:alarm()|" class="delete" th:attr="data-alarmNo=${data.alarmNo}" >&#128465;</a></td>
        </tr>
      
        </tbody>
        </table>
        </div>
        </div>
        <div class="modal-footer">
     <button type="button" id="deleteAll" class="btn btn-danger" data-bs-dismiss="modal">전부 삭제</button>
     <button type="button" class="btn btn-default" data-bs-dismiss="modal">이전</button>
   
     </div>
     </div>
     </div>
     	
     <script>
	        function alarm() {
				var alarmNo = $(".delete").attr("data-alarmNo");
	        	
	        	 $("#getalarm").modal("hide");
	            $.ajax({
	                url: "../diet/deleteAlarm?alarmNo="+alarmNo,
	                success: function (data) {
	                    $("#loginModalHolder").html(data);
	                    $("#getalarm").modal("show");
	                }
	            });
	        };
	        
	        
	        $(function () {
		        $("#deleteAll").on("click", function () {
		        	 $("#getalarm").modal("hide");
		            $.ajax({
		                url: "../diet/deleteAllAlarm",
		                success: function (data) {
		                	console.log(data)
		                    $("#loginModalHolder").html(data);
		                    $("#getalarm").modal("show");
		                }
		            });
		        });
		    });
	   
	    
     </script>
     
        
        
  </div>
</body>
</html>