<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 

</head>
<body>

	<div id="favMealList" class="modal fade" role="dialog" th:fragment ="getFavMealList">		
   <div  class="modal-dialog" style="width:800px; height:1300px;">
    <div class="modal-content">
    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
      <h1 class="modal-title" align="center">즐겨찾기리스트</h1>
     <div class="modal-header">
    

	
	
<script type="text/javascript">
function fncGetUserList(currentPage) {
	//document.getElementById("currentPage").value = currentPage;

   	//document.detailForm.submit();
	$("form").attr("method" , "POST").attr("action" , "/diet/getFood").submit();
}

$(function() {

	 
	 $(".foodName").on("click" , function() {
			self.location="/diet/getFood?foodCd="+$(this).attr("data-foodCd");		
});
});

</script>	
	
			 </div>
     <div class="modal-body"style="height:500px;">
				

			
			
	<table class="table table-rounded table-flush">
  		<thead>
        <tr class="fw-bold fs-7 text-info border-bottom border-gray-200 py-4" >		
     <th align="left">선택</th>         
            <th align="left">번호</th>         
            <th align="center">즐겨찾기명</th>         
            <th align="center">총합칼로리</th>        
          </tr>
        </thead>
        
	
       <tbody class="py-5 fw-bold  border-bottom border-gray-300 fs-6">
	<tr th:each="data, i : ${list}">
		<td><input type="checkbox" class="checkedfav" name="favCheck"  onclick='Chk();'></td>
		<td th:text="${i.count}"   style="cursor:pointer; text-align: left;"></td>
		<td th:text="${data.favMealName}" th:attr="data-favMealNo=${data.favMealNo}"  style="cursor:pointer; text-align: left;"></td>
		<td th:text="${data.totalKcal}" style="cursor:pointer; text-align: left;"></td>
		<td></td>
	</tr>
</tbody>
	<!-- 	<img th:src="${../assets/img/dodbogi.png}" style ="height: 60px; width: 20px;"/>			 -->

	</table>
	




     </div>
     <div class="modal-footer">
     				<div align="center"><button type="button" class="btn btn-success">일일섭취식단에 추가</button></div>
			<button th:if="${menu}!=0" type="button" class="btn btn-warning">즐겨찾기명수정</button>
			<button th:if="${menu}!=0" type="button" class="btn btn-danger" th:onClick="|location.href='@{../user/addUser}'|">즐겨찾기생성</button>
		<button th:if="${menu}!=0" type="button" class="btn btn-primary">즐겨찾기삭제</button>
     <button type="button" class="btn btn-default" data-bs-dismiss="modal">이전</button>
     </div>
    </div>
   </div>
  </div>		







		
</body>
</html>