<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="/layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="/layout/fragments/sidebar.html :: sidebar"></th:block>



<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">식품 상세정보</div>
<br><br>

<div class="card card-stretch-25 card-bordered mb-5">
    <div class="card-header">
     <div data-text-content="true" style="font-weight:bold;font-size:30px;" class="" align="center" th:text=${food.foodName}></div>
        <div class="card-toolbar">
            
        </div>
    </div>
    <div class="card-body">
        <div id="foodCd" style="font-weight:bold;font-size:25px;" th:attr="data-foodCd=${food.foodCd}" align="center">1회제공량 : <span th:text="${food.servingSize}+g" ></span></div>
			<br><br>
			<div style="font-size:20px;" align="center">칼로리 : <span th:text="|${food.foodKcal}(kcal)(1회제공량당)|"></span></div>
			<div style="font-size:20px;" align="center">탄수화물 : <span th:text="|${food.foodCarb} (g)(1회제공량당)|"></span></div>
			<div style="font-size:20px;" align="center">단백질 : <span th:text="|${food.foodProtein} (g)(1회제공량당)|"></span></div>
			<div style="font-size:20px;" align="center">지방 : <span th:text="|${food.foodFat} (g)(1회제공량당)|"></span></div>
			<div style="font-size:20px;"align="center">콜레스테롤 : <span th:text="|${food.foodCholesterol} (mg)(1회제공량당)|"></span></div>
			<div style="font-size:20px;" align="center">포화지방산 : <span th:text="|${food.foodSaturatedFattyAcid} (g)(1회제공량당)|"></span></div>
			<div style="font-size:20px;"align="center">당류 : <span th:text="|${food.foodSugar} (g)(1회제공량당)|"></span></div>
			<div style="font-size:20px;" align="center">나트륨 : <span th:text="|${food.foodSodium} (mg)(1회제공량당)|"></span></div>
			<br><br><br>
    </div>
    <div class="card-footer">
     <button type="button" class="btn btn-success"  data-bs-toggle="modal">일일섭취식단에 추가</button>
			<button type="button" class="btn btn-danger" data-bs-toggle="modal">즐겨찾는식단에 추가</button>
			<button type="button" class="btn btn-warning" th:onclick="|location.href='@{../diet/getPurchaseFoodList?searchKeyword={searchKeyword}(searchKeyword=${food.foodName})}'|">유사상품 검색하기</button>
    </div>
</div>

		
			
			
   		  	
			
			<br><br><br><br>
			<div class="form-group">
	  		<div class="col-md-12 text-center ">
	  			<button type="button" class="btn btn-primary">이전</button>
	  		</div>
		</div>
		<br/>
		
			<br><br>
			<div id="mmodalHolder" style="width:200px;">
			
			</div>
			 
	<th:block th:replace="/layout/fragments/footer.html :: footer">

	</th:block>
			
			
	 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>		
	<script type="text/javascript">

	
	
$(function() {
	
	$( "button.btn.btn-primary").on("click" , function() {
		
 		history.go(-1);
 		
	});	
	
});

$(function() {
	//==> DOM Object GET 3가지 방법 ==> 1. $(tagName) : 2.(#id) : 3.$(.className)
	//==> 1 과 3 방법 조합 : $("tagName.className:filter함수") 사용함.	
	 $( "button.btn.btn-danger" ).on("click" , function() {
		//Debug..
		//alert(  $( "td.ct_btn01:contains('가입')" ).html() );
		
		
	
		var foodCd = $("#foodCd").attr("data-foodCd");
	
	
	
		
		  $.ajax({
				url: "/diet/addFavMealItem?checkarray="+foodCd,
				success:function(data){
					$("#mmodalHolder").html(data);
					$("#mmodal").modal("show");			
					
				}  
				  
			  });
		
		
		 
	});
});	


$(function() {
	//==> DOM Object GET 3가지 방법 ==> 1. $(tagName) : 2.(#id) : 3.$(.className)
	//==> 1 과 3 방법 조합 : $("tagName.className:filter함수") 사용함.	
	 $( "button.btn.btn-success" ).on("click" , function() {
		//Debug..
		//alert(  $( "td.ct_btn01:contains('가입')" ).html() );
		
		
	
		var foodCd = $("#foodCd").attr("data-foodCd");
	
	
	
		
		  $.ajax({
				url: "/diet/getaddDailyIntakeMeal?checkarray="+foodCd,
				success:function(data){
					$("#mmodalHolder").html(data);
					$("#mmodal").modal("show");			
					
				}  
				  
			  });
		
		
		 
	});
});	




</script>		
			
			
			
</body>
</html>