<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 

</head>
<body>



	
	
<script type="text/javascript">
function fncGetUserList(currentPage) {
	//document.getElementById("currentPage").value = currentPage;

   	//document.detailForm.submit();
	$("form").attr("method" , "POST").attr("action" , "/diet/getFood").submit();
}

$(function() {

	 
	 $(".foodName").on("click" , function() {
			self.location="/diet/getFood?foodCd="+$(this).attr("data-foodCd");		
});
});

</script>	
	
			
			
			
 		<table style="width:400px; position:absolute; top:38px; left:100px; " class="table table-hover table-striped" >			
  		<thead>
          <tr>
            <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">선택</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">번호</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);"  align="center">즐겨찾기명</th>         
            <th style="	background-color: rgba(51, 255, 255, 0.62);" align="center">총합칼로리</th>         
          </tr>
        </thead>
        
	
       <tbody>
	<tr th:each="data, i : ${list}">
		<td></td>
		<td th:text="${i.count}"   style="cursor:pointer; text-align: left;"></td>
		<td th:text="${data.favMealName}" th:attr="data-favMealNo=${data.favMealNo}"  style="cursor:pointer; text-align: left;"></td>
		<td></td>
	</tr>
</tbody>
	<!-- 	<img th:src="${../assets/img/dodbogi.png}" style ="height: 60px; width: 20px;"/>			 -->

	</table>
	
		<div style="position:absolute; top:0px;left:20px"><button type="button" class="btn btn-success">일일섭취식단에 추가</button></div>
			<div style="position:absolute; top:0px; left:197px; "><button type="button" class="btn btn-warning">즐겨찾기명수정</button></div>
			<div style="position:absolute; top:0px; left:336px;"><button type="button" class="btn btn-danger" th:onClick="|location.href='@{../user/addUser}'|">즐겨찾기생성</button></div>
			<div style="position:absolute; top:0px;	left:460px; "><button type="button" class="btn btn-primary">즐겨찾기삭제</button></div>


</body>
</html>