<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 

</head>
<body>

	<div id="favMealList" class="modal fade" role="dialog" th:fragment ="getFavMealList">		
   <div  class="modal-dialog" style=" height:1300px;">
    <div class="modal-content">
    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
      <h1 class="modal-title" align="center">즐겨찾기리스트</h1>
     <div class="modal-header">
    			 </div>
     <div class="modal-body"style="height:500px;">

	
	
<script type="text/javascript">
function fncGetUserList(currentPage) {
	//document.getElementById("currentPage").value = currentPage;

   	//document.detailForm.submit();
	$("form").attr("method" , "POST").attr("action" , "/diet/getFood").submit();
}

$(function() {

	 
	 $(".favMealName").on("click" , function() {
		 $("#favMealList").modal("hide");	
		 
		 
	  $.ajax({
			url: "/diet/getFavMealItem?favMealNo="+$(this).attr("data-favMealNo")+"&favMealName="+$(this).attr("data-favMealName"),
			success:function(data){
				$("#mmodalHolder").html(data);
				$("#favMealItem").modal("show");			
				
			}  
			  
		  });
	
	 
	 
	 
});
});


function addFavMeal() {
	var userInput = prompt("원하시는 즐겨찾는식단명을 입력해주세요");
	
	
	 
	 
	 
	  $.ajax({
			url: "/diet/addFavMeal?favMealName="+userInput,
			type : 'post',
			success:function(data){
				$("#favMealList").modal("hide");	
				$("#mmodalHolder").html(data);
				$("#favMealList").modal("show");			
				
			}  
			  
		  });
	
	

}

$(function() {
	 $( "button.btn.btn-primary" ).on("click" , function() {
	
		 var FavMealNo = $("input[name=chek]:checked").attr("data-favMealNo");
		 
		 $("#favMealList").modal("hide");
		  $.ajax({
				url: "/diet/deleteFavMeal?favMealNo="+FavMealNo,
				type : 'post',
				success:function(data){
						
					$("#mmodalHolder").html(data);
					$("#favMealList").modal("show");			
					
				}  
				  
			  });
		
				
			
		
		
		}		 
		)}
	)


$(function() {
	 $( "button.btn.btn-warning" ).on("click" , function() {
	var userInput = prompt("원하시는 즐겨찾는식단명을 입력해주세요");
	
	 var FavMealNo = $("input[name=chek]:checked").attr("data-favMealNo");
	 
	 
	 
	 $("#favMealList").modal("hide");
	  $.ajax({
			url: "/diet/updateFavMeal?favMealName="+userInput+"&favMealNo="+FavMealNo,
			type : 'post',
			success:function(data){
				console.log(data)
				$("#mmodalHolder").html(data);
				$("#favMealList").modal("show");			
				
			}  
			  
		  });
	
	
	 });
});	
	
</script>	
	
	<table class="table table-rounded table-flush">
  		<thead>
        <tr class="fw-bold fs-7 text-info border-bottom border-gray-200 py-4" >		
            <th align="left">번호</th>         
            <th align="center">즐겨찾기명</th>         
            <th align="center">총합칼로리</th>        
          </tr>
        </thead>
        
	
       <tbody class="py-5 fw-bold  border-bottom border-gray-300 fs-6">
	<tr th:each="data, i : ${list}">
	    	 <td ><input th:attr="data-favMealNo=${data.favMealNo}" type="radio" class="updateName" name="chek"></td> 
		<td th:text="${i.count}"   style="cursor:pointer; text-align: left;"></td>
		<td th:attr="data-favMealNo=${data.favMealNo},data-favMealName=${data.favMealName}" class="favMealName" style="cursor:pointer; text-align: left;"><a href="#"  th:text="${data.favMealName}"></a></td>
		<td th:text="${data.totalKcal}" style="cursor:pointer; text-align: left;"></td>
		<td></td>
	</tr>
</tbody>
	<!-- 	<img th:src="${../assets/img/dodbogi.png}" style ="height: 60px; width: 20px;"/>			 -->

	</table>
	




     </div>
     <div class="modal-footer">
			<button th:if="${menu}!=0" type="button" class="btn btn-warning">즐겨찾기명수정</button>
			<button th:if="${menu}!=0" type="button" class="btn btn-danger" th:onClick="|javascript:addFavMeal()|">즐겨찾기생성</button>
		<button th:if="${menu}!=0" type="button" class="btn btn-primary">즐겨찾기삭제</button>
     <button type="button" class="btn btn-default" data-bs-dismiss="modal">이전</button>
     </div>
    </div>
   </div>
  </div>		

    <div id="mmodalHolder" ></div>






		
</body>
</html>