<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<style>

div.profile{
 width: 100%;
    height: 100%;
    object-fit: cover;
}
div.box{
	width: 200px;
    height: 200px; 
    border-radius: 50%;
    overflow: hidden;
    display:block;
    margin:auto;
  border: 1px solid #eee
}
div.col-sm-6 col-md-3 p-1{
  padding:20px;
	

}
.caption { display: inline-block; width: 300px; white-space: nowrap; overflow: hidden; }




</style>


<script type="text/javascript">
function fncGetUserList(currentPage) {
	//document.getElementById("currentPage").value = currentPage;

   	//document.detailForm.submit();
	$("form").attr("method" , "POST").attr("action" , "/diet/getFood").submit();
}

$(function() {

	 
	 $("#food").on("click" , function() {
		 fncGetUserList(1);
		
});
});


var page = 1; // ajax로 날려 back단에서 select시 limit옵션을 걸기 위해
var temp = false; // 데이터가 없을때 계속적으로 ajax호출이 되는것을 방지하기 위해
var type = "type1";


var lastScrollTop = 0;
$(window).scroll(function () {
	  console.log($(window).scrollTop());
      console.log($(document).height());
      console.log($(window).height());
	
	
// 	if((window.innerHeight + window.scrollY+1) >= document.body.offsetHeight)
	if($(window).scrollTop()+1 >= $(document).height() - $(window).height()){
      console.log($(window).scrollTop());
      console.log($(document).height());
      console.log($(window).height());
		
		++page; 
      
        select_list();
    }
});

// window.onscroll = function(ev) {
// 	console.log(window.innerHeight)
// 	console.log(window.scrollY)
// 	console.log(document.body.offsetHeight)
//     if ( window.scrollY >= (window.innerHeight + document.body.offsetHeight)) {
    
//         ++page; 
        
//         select_list();
//     }
// };


function select_list() {
	console.log($("#searchKeyword").val());
	
	var searchKeyword = $("#searchKeyword").val();
$.ajax( 

	{
		url : "/diet/rest/getPurchaseFoodList",
		type : 'post',
		data:JSON.stringify({"currentPage":page, "searchKeyword":searchKeyword}),
		dataType : "JSON" ,
		contentType: "application/json; charset=utf-8",
		success : function(data){
			console.log(data.list)
			if(data.list.length > 0 ){
				$.each(data.list, function (idx, val){
					
					var Img = val.foodImg;
					
			var html = '<div class="col-sm-6 col-md-4 p-1"><div class="thumbnail" style="width:100%;height:100%;"> <div class="box" > <img src="'+Img+'" style="width:100%;height:100%;"class="profile"></div>'
        		html+='<br><div class="caption"><h4>'+val.foodName+'</h4>'
            	html+='<p>최저가 : '+val.price+'</p>'
            	html+='<p>판매처 : '+val.storeName+'</p>'
            	html+='<p>브랜드 : '+val.makerName+'</p>'
            	html+='<a href="'+val.purchaseConnLink+'"><button type="button" class="btn btn-primary">구매처 이동</button></a></div></div>'
				
            	$("#rod").append(html);
			});
				
			}else{
			console.log("실패")
            	// 더이상 조회할 데이터가 없을 시 temp를 true로 만들어 더이상의 ajax호출을 막음.
				temp = true;
			}
		}
		,error: function(xhr, status, error) { console.log(error); }
	});
}




</script>	
	<form>
			
<div class="container show-grid">
		<div class="row">
			
			<div class="col-md-10">
			<br>
			<br>
			
			<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px;" class="" >식품 구매 검색</div>
			<br><br>

<!-- 			<img src="../assets/img/dodbogi2.png" style ="height: 60px; width: 20px;"/> -->

				<div align="right">
			    <form class="form-inline" name="detailForm">
			    			
				
									  
			<input type="text" data-min-width="60" data-min-height="30" name="searchKeyword" id="searchKeyword" data-text-content="true" placeholder="내용을 입력해주세요" style="color: rgb(94, 94, 94);"		
			       th:value="${not #strings.isEmpty(search.searchKeyword) ? search.searchKeyword : '' }">
			
<!-- 			<button data-text-content="true" id="button" class="btn btn-sm btn-primary" >검색</button>
 -->			<button data-text-content="true" class="btn btn-primary">검색</button>
			<br>
			
			<a href="#">가격순</a>
			<a href="#">이름순</a>
			</form>
			</div>
			
<div class="container pt-1">
                    <div class="row" id="rod">
                        <div class="col-sm-6 col-md-4 p-1" th:each="data, i : ${list}">
                            <div class="thumbnail"  style="width:100%;height:100%;">
                                <div class="box" >
                                    <img th:src="${data.foodImg}" style="width:100%;height:100%;" class="profile">
                                </div>
                                <br>
                                <div class="caption">
                                    <h4 th:utext="${data.foodName}"></h4>
                                    <p th:text="|최저가 : ${data.price}|"></p>
                                    <p th:text="|판매처 : ${data.storeName}|"></p>
                                    <p th:text="|브랜드 : ${data.makerName}|"></p>
                                    <a th:href="${data.purchaseConnLink}">
                                        <button type="button" class="btn btn-primary">구매처 이동</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


	</div>
	</div>
	</div>
	

	</form>
	<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
	
	
	

</body>
</html>