<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
 

</head>
<body>


<div th:insert="index/toolbar :: toolbar">
	</div>



<script type="text/javascript">
function fncGetUserList(currentPage) {
	//document.getElementById("currentPage").value = currentPage;

   	//document.detailForm.submit();
	$("form").attr("method" , "POST").attr("action" , "/diet/getFood").submit();
}

$(function() {

	 
	 $("#food").on("click" , function() {
		 fncGetUserList(1);
		
});
});

</script>	
	<form>
			
<div class="container show-grid">
		<div class="row">
			<div class="col-md-2">
				<div data-obj-id="PTjxr" data-obj-type="element"
					data- text-editable="true" class="">
					<div data-text-content="true"
						style="border-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 14px; box-shadow: none; background-color: rgba(31, 108, 28, 0.67);"
						class="">오늘의 추천 음식?</div>
				</div>

				<a href="http://item.gmarket.co.kr/Item?goodscode=2042609688"><img src="../assets/img/salad3.jpg" style ="height: 500px; width: 200px;"/></a>
			</div>
			<div class="col-md-10">
			<br>
			<br>
			
			<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px;" class="" >식품 구매 검색</div>
			<br><br>

<!-- 			<img src="../assets/img/dodbogi2.png" style ="height: 60px; width: 20px;"/> -->

				<div align="right">
			    <form class="form-inline" name="detailForm">
			    			
				
									  
			<input type="text" data-min-width="60" data-min-height="30" name="searchKeyword" data-text-content="true" placeholder="내용을 입력해주세요" style="color: rgb(94, 94, 94);"		
			       th:value="${not #strings.isEmpty(search.searchKeyword) ? search.searchKeyword : '' }">
			
<!-- 			<button data-text-content="true" id="button" class="btn btn-sm btn-primary" >검색</button>
 -->			<button data-text-content="true" class="btn btn-primary">검색</button>
			<br>
			
			<a href="#">가격순</a>
			<a href="#">이름순</a>
			</form>
			</div>
			
<div class="container pt-1">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 p-1" th:each="data, i : ${list}">
                            <div class="thumbnail" sytle=">
                                <div >
                                    <img th:src="${data.foodImg}" width="100%" height="100%" alt="…">
                                </div>
                                <div class="caption">
                                    <h4 th:utext="${data.foodName}"></h4>
                                    <p th:text="|최저가 : ${data.price}|"></p>
                                    <p th:text="|판매처 : ${data.storeName}|"></p>
                                    <p th:text="|브랜드 : ${data.makerName}|"></p>
                                    <a th:href="${data.purchaseConnLink}">
                                        <button type="button" class="btn btn-primary">구매처 이동</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


	</div>
	</div>
	</div>
	</form>
	

</body>
</html>