<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

<!--begin::Body-->
<body id="kt_body" class="aside-enabled">
<!-- 공통 SideBar -->
<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>

<form>
    <div class="container show-grid">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>

                <div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px;" class="">음식 레시피
                </div>
                <br><br>
                <!-- 			<img src="../assets/img/dodbogi2.png" style ="height: 60px; width: 20px;"/> -->

                <div align="right">
                    <form class="form-inline" name="detailForm">
                        <select class="form-control" name="searchCondition" style="width: 100px;">
                            <option value="0" th:selected="${search.searchCondition}=='0'">식품명</option>
                            <option value="1" th:selected="${search.searchCondition}=='1'">제조사</option>
                        </select>


                        <input type="text" data-min-width="60" data-min-height="30" id="searchKeyword" name="searchKeyword" data-text-content="true" placeholder="내용을 입력해주세요" style="color: rgb(94, 94, 94);" th:value="${not #strings.isEmpty(search.searchKeyword) ? search.searchKeyword : '' }">

                        <!-- 			<button data-text-content="true" id="button" class="btn btn-sm btn-primary" >검색</button>
                         -->
                        <button data-text-content="true" class="btn btn-primary">검색</button>
                        <br>

                    </form>
                </div>


                <!--  		<table class="table table-hover table-striped" >			 -->
                <!--   		<thead> -->
                <!--           <tr> -->
                <!--             <th style="	background-color: rgba(51, 132, 86, 0.62);"  align="center">번호</th>          -->
                <!--             <th style="	background-color: rgba(51, 132, 86, 0.62);"  align="center">제조사</th>          -->
                <!--             <th style="	background-color: rgba(51, 132, 86, 0.62);" align="center">식품명</th>          -->
                <!--             <th style="	background-color: rgba(51, 132, 86, 0.62);" align="center">식품칼로리</th>            -->
                <!--             <th style="	background-color: rgba(51, 132, 86, 0.62);" align="center">식품탄수화물</th>                        -->
                <!--             <th style="	background-color: rgba(51, 132, 86, 0.62);" align="center">식품단백질</th>                        -->
                <!--             <th style="	background-color: rgba(51, 132, 86, 0.62);" align="center">식품지방</th>                        -->
                <!--           </tr> -->
                <!--         </thead> -->
                <div class="tab-content">
                    <!--begin::Tab panel-->
                    <div id="kt_billing_months" class="card-body p-0 tab-pane fade show active" role="tabpanel" aria-labelledby="kt_billing_months">
                        <!--begin::Table container-->
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table table-row-bordered align-middle gy-4 gs-9">
                                <thead class="border-bottom border-green-200 fs-6 text-green-600 fw-bolder bg-light bg-opacity-75">
                                <tr>
                                    <td class="min-w-80px">번호</td>
                                    <td class="min-w-200px">식품명</td>
                                    <td class="min-w-80px">요리종류</td>
                                    <td class="min-w-100px">태그</td>
                                    <td class="min-w-100px">조리방법</td>
                                    <td class="min-w-100px">식품칼로리</td>
                                    <td class="min-w-100px">이미지</td>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data, i : ${list}">
                                    <td th:text="${i.count}" style="cursor:pointer; text-align: left;"></td>
                                    <td th:attr="data-rcpName=${data.rcpName},data-rcpPartsDtls=${data.rcpPartsDtls}" class="foodName" style="cursor:pointer; text-align: left;">
                                        <a href="#" th:text="${data.rcpName}"></a></td>
                                    <td th:text="${data.rcpPat}" class="foodCarb" style="cursor:pointer; text-align: left;"></td>
                                    <td th:text="${data.HASH_TAG}" style="cursor:pointer; text-align: left;"></td>
                                    <td th:text="${data.rcpWay}" class="foodKcal" style="cursor:pointer; text-align: left;"></td>
                                    <td th:text="${data.rcpKcal}+Kcal" class="foodProtein" style="cursor:pointer; text-align: left;"></td>
                                    <td ><img th:src="${data.rcpMainImg}" class="foodFat" style="width:50%;height:30%;"></td>
                                    <td align="left">
                                    </td>
                                </tr>
                                </tbody>
                                <!-- 	<img th:src="${../assets/img/dodbogi.png}" style ="height: 60px; width: 20px;"/>			 -->

                            </table>
                            <ul class="pagination pagination-circle">
<li th:if="${page}>3" class="page-item previous "><a th:onclick="|javascript:pagenation(${page}-3)|" class="page-link"><i class="previous"></i></a></li>
 	  <li  th:if="${page}>2" class="page-item"><a th:onclick="|javascript:pagenation(${page}-2)|"  class="page-link" th:text="${page}-2"></a></li>
 	  <li  th:if="${page}>2" class="page-item"><a th:onclick="|javascript:pagenation(${page}-1)|"  class="page-link" th:text="${page}-1"></a></li>
 	  <li class="page-item active "><a class="page-link" th:text="${page}"></a></li>
 	  <li th:if="${nextpage}!=0" class="page-item "><a th:onclick="|javascript:pagenation(${page}+1)|"  class="page-link" th:text="${page}+1"></a></li>
 	  <li th:if="${nextpage}!=0" class="page-item"><a th:onclick="|javascript:pagenation(${page}+2)|"  class="page-link" th:text="${page}+2"></a></li>
 	 <li th:if="${nextpage}!=0" class="page-item next"><a th:onclick="|javascript:pagenation(${page}+3)|"   class="page-link"><i class="next"></i></a></li></ul>
 
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div id="mmodalHolder" style="width:200px;"></div>
</form>

<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>

<script type="text/javascript">

function pagenation(cp) {
        $("form").attr("method", "post").attr("action", "/diet/getRcpList?page="+cp).submit();
}






    function fncGetUserList(currentPage) {
        $("form").attr("method", "POST").attr("action", "/diet/getFood").submit();
    }

    $(function () {
        $(".foodName").on("click", function () {
            self.location = "/diet/getRcp?rcpName=" + $(this).attr("data-rcpName")+"&rcpPart="+$(this).attr("data-rcpPartsDtls");
        });
    });




    function openModal() {


        $.ajax({
            url: "/diet/modal",
            success: function (data) {
                $("#mmodalHolder").html(data);
                $("#mmodal").modal("show");

            }

        });

    }
    
    

</script>
</body>
</html>