.battle-lose{
    color:#c6443e;
    background-color:#e2b6b3;
    font-size: 14px;
    border: 1px dashed #e8e5dd;
    box-shadow: none;
    border-bottom: 0;
    border-radius: 0.475rem 0.475rem 0 0;
    font-weight: 800;
}

.battle-win{
    color:#1a78ae;
    background-color: #a3cfec;
    font-size: 14px;
    border: 1px dashed #e8e5dd;
    box-shadow: none;
    border-bottom: 0;
    border-radius: 0.475rem 0.475rem 0 0;
    font-weight: 800;
}

.battle-progress{
    color: #000;
    background: lightgray;
    font-size: 14px;
    border: 1px dashed #e8e5dd;
    box-shadow: none;
    border-bottom: 0;
    border-radius: 0.475rem 0.475rem 0 0;
    font-weight: 800;
}

#kt_header .header-brand p.logo-typo{
    z-index: 10;
    font-weight: bold;
    font-size: 26px;
    font-family: "Arial Black", serif;
}

#kt_header .header-brand img.logo{
    position: absolute;
    width: 52px;
    height: 73px;
    top: 4px;
    left: 146px;
    transform: rotate(0.184336rad);
    z-index: -1;
}

/*PC*/
@media (min-width: 992px) {
    .header .header-brand {
        width: 220px;
    }
    .aside .aside-menu {
        width: 220px;
    }
    .aside {
        width: 220px;
    }
    .wrapper {
        padding-left: 220px;
    }
}

/*Mobile*/
@media (max-width: 991.98px){
    #kt_header .header-brand img.logo{
        width: 32px;
        height: 43px;
        top: 4px;
        left: 145px;
    }
}
