<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>


		<div class="container">
		
			<div class="row mb-3">
			    <div class="col-md-2 themed-grid-col"></div>
			    <div class="col-md-8 themed-grid-col"><div id='calendar'></div></div>
			    <div class="col-md-2 themed-grid-col"></div>
			</div>
			
		</div>


		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
		
		
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/locales-all.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5/locales-all.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5/main.min.css">
		<script>
		      document.addEventListener('DOMContentLoaded', function() {
		        var calendarEl = document.getElementById('calendar');
		        var calendar = new FullCalendar.Calendar(calendarEl, {
		          initialView: 'dayGridMonth'
		        });
		        calendar.render();
		      });
		</script>
		
	</body>
	<!--end::Body-->
</html>