<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<meta charset="utf-8">
<!-- 공통 header -->
<th:block th:replace="layout/fragments/header.html :: header"></th:block>

	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!-- 공통 SideBar -->
		<th:block th:replace="layout/fragments/sidebar.html :: sidebar"></th:block>
<!-- ////////////////////////////////////여기까지 절대 고정 건드리지마셈//////////////////////////////////// -->

				<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Container-->
						<div id="kt_content_container" class="container-fluid">
							<div class="d-flex flex-column flex-lg-row">
								<!--begin::Layout-->
								<div class="flex-md-row-fluid ms-lg-12" style="margin-right: 3rem">
									<!--begin::user_daily_log-->
									<div class="card mb-5 mb-xl-10" id="user_daily_log" data-kt-scroll-offset="{default: 100, md: 125}" tabindex="-1" style="outline: none;">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#user_daily_log">
											<div class="card-title">
												<h2 class="fw-bolder m-0">일별 상세 정보 조회</h2>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Content-->
										<div id="user_daily_log" class="collapse show">
											<!--begin::Card body-->
											<div class="card-body border-top p-9">
												<div class="d-flex align-items-start flex-wrap">
													<div class="d-flex flex-wrap">
														<!--begin::Profile-->
														<div class="d-flex row-fluid">
															<div class="d-flex flex-column">
																<div class="fs-2 fw-bolder mb-1" th:text="${user.userName}"></div>
																<a href="#" class="text-gray-400 text-hover-primary fs-6 fw-bold mb-3" th:text="${user.userId}"></a>
							                                 </div>
															<div class="d-flex flex-column">
							                                    <span class="fs-6 fw-bold text-gray-400">일자 선택</span>
							                                     <input class="form-control form-control-solid" th:placeholder="${date}" id="kt_daterangepicker_3"/>
							                                 </div>
														</div>
														<!--end::Profile-->
													</div>
												</div>
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::user_daily_log-->
									<!--begin::diet_record-->
									<div class="card mb-5 mb-xl-10" th:unless="${userServ.dailyTrgtBurnningKcal == null}">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" id="diet_record_title" role="button" data-bs-toggle="collapse" data-bs-target="#diet_record">
											<div class="card-title">
												<h3 class="fw-bolder m-0">식단 기록</h3>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Content-->
										<div id="diet_record_cntnt" class="collapse show" tabindex="-1" style="outline: none;">
											<!--begin::Card body-->
											<div class="card-body border-top p-9">
												<!--begin::Row-->
												<div class="row mb-7">
													<div class="col-lg-5 text-gray-600 fs-4 mb-6 mb-lg-0">
														<div class="fw-bold mb-1">
														<span class="fw-bolder text-gray-800 me-1" th:text="|${dailyRecord.dailyIntakeKcal}Kcal|"></span></div>
														<div class="fw-bold fs-6 mb-2">일일 총 섭취 칼로리</div>
													</div>
													<!--begin::Status-->
													<div class="col-lg-7">
														<!--begin::Text-->
														<div class="d-flex text-muted fw-bolder fs-4 pb-3">
															<span class="flex-grow-1 text-gray-800" th:text="|${achievement.intakeKcalInPercentage}%|">섭취 칼로리</span>
															<span class="text-gray-800" th:text="|목표 ${userServ.dailyTrgtIntakeKcal}Kcal 중 ${totalRecord.totalIntakeKcal}Kcal 섭취|"></span>
														</div>
														<!--end::Text-->
														<!--begin::Progress-->
														<div class="progress h-8px bg-light-primary mb-3">
															<div class="progress-bar bg-primary" role="progressbar" th:style="|width: ${achievement.intakeKcalInPercentage}%|" th:aria-valuenow="${achievement.intakeKcalInPercentage}" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
														<!--end::Progress-->
														<!--begin::Description-->
														<div class="fw-bold fs-6 text-muted">코멘트</div>
														<!--end::Description-->
													</div>
													<!--end::Status-->
												</div>
												<!--end::Row-->
												<!--begin::Separator-->
												<div class="separator separator-dashed my-6"></div>
												<!--end::Separator-->
												<!--begin::Row-->
												<div class="row mb-7">
													<div class="col-lg-5 text-gray-600 fs-4 mb-6 mb-lg-0">
														<div class="fw-bold mb-1">
														<span class="fw-bolder text-gray-800 me-1" th:text="|${totalRecord.totalIntakeCarb}g|"></span></div>
														<div class="fw-bold fs-6 mb-2">일일 총 섭취 탄수화물</div>
													</div>
													<!--begin::Status-->
													<div class="col-lg-7">
														<!--begin::Text-->
														<div class="d-flex text-muted fw-bolder fs-4 pb-3">
															<span class="flex-grow-1 text-gray-800" th:text="|${achievement.intakeCarbInPercentage}%|">섭취 탄수화물</span>
															<span class="text-gray-800" th:text="|목표 ${userServ.dailyTrgtIntakeCarb}g 중 ${totalRecord.totalIntakeCarb}g 섭취|"></span>
														</div>
														<!--end::Text-->
														<!--begin::Progress-->
														<div class="progress h-8px bg-light-primary mb-3">
															<div class="progress-bar bg-primary" role="progressbar" th:style="|width: ${achievement.intakeCarbInPercentage}%|" th:aria-valuenow="${achievement.intakeCarbInPercentage}" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
														<!--end::Progress-->
														<!--begin::Description-->
														<div class="fw-bold fs-6 text-muted">코멘트</div>
														<!--end::Description-->
													</div>
													<!--end::Status-->
												</div>
												<!--end::Row-->
												<!--begin::Separator-->
												<div class="separator separator-dashed my-6"></div>
												<!--end::Separator-->
												<!--begin::Row-->
												<div class="row mb-7">
													<div class="col-lg-5 text-gray-600 fs-4 mb-6 mb-lg-0">
														<div class="fw-bold mb-1">
														<span class="fw-bolder text-gray-800 me-1" th:text="|${totalRecord.totalIntakeProtein}g|"></span></div>
														<div class="fw-bold fs-6 mb-2">일일 총 섭취 단백질</div>
													</div>
													<!--begin::Status-->
													<div class="col-lg-7">
														<!--begin::Text-->
														<div class="d-flex text-muted fw-bolder fs-4 pb-3">
															<span class="flex-grow-1 text-gray-800" th:text="|${achievement.intakeProteinInPercentage}%|">섭취 단백질</span>
															<span class="text-gray-800" th:text="|목표 ${userServ.dailyTrgtIntakeProtein}g 중 ${totalRecord.totalIntakeProtein}g 섭취|"></span>
														</div>
														<!--end::Text-->
														<!--begin::Progress-->
														<div class="progress h-8px bg-light-primary mb-3">
															<div class="progress-bar bg-primary" role="progressbar" th:style="|width: ${achievement.intakeProteinInPercentage}%|" th:aria-valuenow="${achievement.intakeProteinInPercentage}" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
														<!--end::Progress-->
														<!--begin::Description-->
														<div class="fw-bold fs-6 text-muted">코멘트</div>
														<!--end::Description-->
													</div>
													<!--end::Status-->
												</div>
												<!--end::Row-->
												<!--begin::Separator-->
												<div class="separator separator-dashed my-6"></div>
												<!--end::Separator-->
												<!--begin::Row-->
												<div class="row mb-7">
													<div class="col-lg-5 text-gray-600 fs-4 mb-6 mb-lg-0">
														<div class="fw-bold mb-1">
														<span class="fw-bolder text-gray-800 me-1" th:text="|${totalRecord.totalIntakeFat}g|"></span></div>
														<div class="fw-bold fs-6 mb-2">일일 총 섭취 지방</div>
													</div>
													<!--begin::Status-->
													<div class="col-lg-7">
														<!--begin::Text-->
														<div class="d-flex text-muted fw-bolder fs-4 pb-3">
															<span class="flex-grow-1 text-gray-800" th:text="|${achievement.intakeFatInPercentage}%|"></span>
															<span class="text-gray-800" th:text="|목표 ${userServ.dailyTrgtIntakeFat}g 중 ${totalRecord.totalIntakeFat}g 섭취|"></span>
														</div>
														<!--end::Text-->
														<!--begin::Progress-->
														<div class="progress h-8px bg-light-primary mb-3">
															<div class="progress-bar bg-primary" role="progressbar" th:style="|width: ${achievement.intakeFatInPercentage}%|" th:aria-valuenow="${achievement.intakeFatInPercentage}" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
														<!--end::Progress-->
														<!--begin::Description-->
														<div class="fw-bold fs-6 text-muted">코멘트</div>
														<!--end::Description-->
													</div>
													<!--end::Status-->
												</div>
												<!--end::Row-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::diet_record-->
									<!--begin::diet_record_details-->
									<div class="card mb-5 mb-xl-10" th:unless="${userServ.dailyTrgtIntakeKcal == null}">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" id="diet_record_details_title" role="button" data-bs-toggle="collapse" data-bs-target="#diet_record_details">
											<div class="card-title m-0">
												<h3 class="fw-bolder m-0">오늘 먹은 식단</h3>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Content-->
										<div id="diet_record_details_cntnt" class="collapse show" tabindex="-1" style="outline: none;">
											<!--begin::Card body-->
											<div class="card-body border-top p-9">
												<!--begin::breakfast-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Label-->
													<div id="breakfast">
														<div class="fs-6 fw-bolder mb-1">아침</div>
														<th:block th:if="${#lists.size(breakfast) == 0}">
															<div class="fw-bold text-gray-600">입력한 정보가 없습니다</div>
															<div class="fw-bold text-gray-600"></div>													
														</th:block>
															<div class="fw-bold text-gray-600"><span th:if="${#lists.size(breakfast) > 0}" th:each="item, i : ${breakfast}" th:text="${i.count eq i.size} ? ${item.food.foodName} : |${item.food.foodName}, |" th:value="${item.food.foodCd}"></span></div>
														<div class="fw-bold text-gray-600" th:if="${#lists.size(breakfast) > 0}" th:text="|총 칼로리 ${bfTotal.totalIntakeKcal}Kcal, 탄수화물 ${bfTotal.totalIntakeCarb}g, 단백질 ${bfTotal.totalIntakeProtein}g, 지방 ${bfTotal.totalIntakeFat}g|"></div>
													</div>
													<!--end::Label-->
												</div>
												<!--end::breakfast-->
												<!--begin::Separator-->
												<div class="separator separator-dashed my-6"></div>
												<!--end::Separator-->
												<!--begin::lunch-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Label-->
													<div id="lunch">
														<div class="fs-6 fw-bolder mb-1">점심</div>
														<th:block th:if="${#lists.size(lunch) == 0}">
															<div class="fw-bold text-gray-600">입력한 정보가 없습니다</div>
															<div class="fw-bold text-gray-600"></div>													
														</th:block>
														<div class="fw-bold text-gray-600"><span th:if="${#lists.size(lunch) > 0}" th:each="item, i : ${lunch}" th:text="${i.count eq i.size} ? ${item.food.foodName} : |${item.food.foodName}, |" th:value="${item.food.foodCd}"></span></div>
														<div class="fw-bold text-gray-600" th:if="${#lists.size(lunch) > 0}" th:text="|총 칼로리 ${lunchTotal.totalIntakeKcal}Kcal, 탄수화물 ${lunchTotal.totalIntakeCarb}g, 단백질 ${lunchTotal.totalIntakeProtein}g, 지방 ${lunchTotal.totalIntakeFat}g|"></div>
													</div>
													<!--end::Label-->
												</div>
												<!--end::lunch-->
												<!--begin::Separator-->
												<div class="separator separator-dashed my-6"></div>
												<!--end::Separator-->
												<!--begin::dinner-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Label-->
													<div id="dinner">
														<div class="fs-6 fw-bolder mb-1">저녁</div>
														<th:block th:if="${#lists.size(dinner) == 0}">
															<div class="fw-bold text-gray-600">입력한 정보가 없습니다</div>
															<div class="fw-bold text-gray-600"></div>													
														</th:block>
														<div class="fw-bold text-gray-600"><span th:if="${#lists.size(dinner) > 0}" th:each="item, i : ${dinner}" th:text="${i.count eq i.size} ? ${item.food.foodName} : |${item.food.foodName}, |" th:value="${item.food.foodCd}"></span></div>
														<div class="fw-bold text-gray-600" th:if="${#lists.size(dinner) > 0}" th:text="|총 칼로리 ${dinnerTotal.totalIntakeKcal}Kcal, 탄수화물 ${dinnerTotal.totalIntakeCarb}g, 단백질 ${dinnerTotal.totalIntakeProtein}g, 지방 ${dinnerTotal.totalIntakeFat}g|"></div>
													</div>
													<!--end::Label-->
												</div>
												<!--end::dinner-->
												<!--begin::Separator-->
												<div class="separator separator-dashed my-6"></div>
												<!--end::Separator-->
												<!--begin::snack-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Label-->
													<div id="snack">
														<div class="fs-6 fw-bolder mb-1">간식</div>
														<th:block th:if="${#lists.size(snack) == 0}">
															<div class="fw-bold text-gray-600">입력한 정보가 없습니다</div>
															<div class="fw-bold text-gray-600"></div>													
														</th:block>
														<div class="fw-bold text-gray-600"><span th:if="${#lists.size(snack) > 0}" th:each="item, i : ${snack}" th:text="${i.count eq i.size} ? ${item.food.foodName} : |${item.food.foodName}, |" th:value="${item.food.foodCd}"></span></div>
														<div class="fw-bold text-gray-600" th:if="${#lists.size(snack) > 0}" th:text="|총 칼로리 ${snackTotal.totalIntakeKcal}Kcal, 탄수화물 ${snackTotal.totalIntakeCarb}g, 단백질 ${snackTotal.totalIntakeProtein}g, 지방 ${snackTotal.totalIntakeFat}g|"></div>
													</div>
													<!--end::Label-->
												</div>
												<!--end::snack-->
												<!--begin::Separator-->
												<div class="separator separator-dashed my-6"></div>
												<!--end::Separator-->
												<!--begin::supper-->
												<div class="d-flex flex-wrap align-items-center mb-10">
													<!--begin::Label-->
													<div id="supper">
														<div class="fs-6 fw-bolder mb-1">야식</div>
														<th:block th:if="${#lists.size(supper) == 0}">
															<div class="fw-bold text-gray-600">입력한 정보가 없습니다</div>
															<div class="fw-bold text-gray-600"></div>													
														</th:block>
														<div class="fw-bold text-gray-600"><span th:if="${#lists.size(supper) > 0}" th:each="item, i : ${supper}" th:text="${i.count eq i.size} ? ${item.food.foodName} : |${item.food.foodName}, |" th:value="${item.food.foodCd}"></span></div>
														<div class="fw-bold text-gray-600" th:if="${#lists.size(supper) > 0}" th:text="|총 칼로리 ${supperTotal.totalIntakeKcal}Kcal, 탄수화물 ${supperTotal.totalIntakeCarb}g, 단백질 ${supperTotal.totalIntakeProtein}g, 지방 ${supperTotal.totalIntakeFat}g|"></div>
													</div>
													<!--end::Label-->
												</div>
												<!--end::supper-->
												<!--begin::Notice-->
												<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
													<!--begin::Icon-->
													<!--begin::Svg Icon | path: icons/duotune/general/gen048.svg-->
													<span class="svg-icon svg-icon-2tx svg-icon-primary me-4">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="black"></path>
															<path d="M10.5606 11.3042L9.57283 10.3018C9.28174 10.0065 8.80522 10.0065 8.51412 10.3018C8.22897 10.5912 8.22897 11.0559 8.51412 11.3452L10.4182 13.2773C10.8099 13.6747 11.451 13.6747 11.8427 13.2773L15.4859 9.58051C15.771 9.29117 15.771 8.82648 15.4859 8.53714C15.1948 8.24176 14.7183 8.24176 14.4272 8.53714L11.7002 11.3042C11.3869 11.6221 10.874 11.6221 10.5606 11.3042Z" fill="black"></path>
														</svg>
													</span>
													<!--end::Svg Icon-->
													<!--end::Icon-->
													<!--begin::Wrapper-->
													<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
														<!--begin::Content-->
														<div class="mb-3 mb-md-0 fw-bold">
															<h4 class="text-gray-900 fw-bolder">오늘 섭취한 총 내용 써머리 한고,,</h4>
															<div class="fs-6 text-gray-700 pe-7">Two-factor authentication adds an extra layer of security to your account. To log in, in addition you'll need to provide a 6 digit code</div>
														</div>
														<!--end::Content-->
													</div>
													<!--end::Wrapper-->
												</div>
												<!--end::Notice-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::diet_record_details-->
									<!--begin::exer_record-->
									<div class="card mb-5 mb-xl-10" th:unless="${userServ.dailyTrgtBurnningKcal == null}">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" id="exer_record_title" role="button" data-bs-toggle="collapse" data-bs-target="#exer_record" aria-expanded="true" aria-controls="kt_account_profile_details">
											<!--begin::Card title-->
											<div class="card-title m-0">
												<h3 class="fw-bolder m-0">운동 기록</h3>
											</div>
											<!--end::Card title-->
										</div>
										<!--begin::Card header-->
										<!--begin::Content-->
										<div id="exer_record_cntnt" class="collapse show" tabindex="-1" style="outline: none;">
											<!--begin::Card body-->
											<div class="card-body border-top p-9">													
												<!--begin::Row-->
												<div class="row mb-7">
													<div class="col-lg-5 text-gray-600 fs-4 mb-6 mb-lg-0">
														<div class="fw-bold mb-1">
														<span class="fw-bolder text-gray-800 me-1" th:text="|${dailyRecord.dailyBurnningKcal}Kcal|"></span></div>
														<div class="fw-bold fs-6 mb-2">일일 총 소모 칼로리</div>
													</div>
													<!--begin::Status-->
													<div class="col-lg-7">
														<!--begin::Text-->
														<div class="d-flex text-muted fw-bolder fs-4 pb-3">
															<span class="flex-grow-1 text-gray-800" th:text="|${achievement.burnningKcalInPercentage}%|">총 소모 칼로리</span>
															<span class="text-gray-800" th:text="|목표 ${userServ.dailyTrgtBurnningKcal}Kcal 중 ${dailyRecord.dailyBurnningKcal}Kcal 소모|"></span>
														</div>
														<!--end::Text-->
														<!--begin::Progress-->
														<div class="progress h-8px bg-light-info mb-3">
															<div class="progress-bar bg-info" role="progressbar" th:style="|width: ${achievement.burnningKcalInPercentage}%|" th:aria-valuenow="${achievement.burnningKcalInPercentage}" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
														<!--end::Progress-->
													</div>
													<!--end::Status-->
												</div>
												<!--end::Row-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::exer_record-->
									<!--begin::exer_record_details-->
									<div class="card mb-5 mb-xl-10" th:unless="${userServ.dailyTrgtBurnningKcal == null}">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" id="exer_record_details_title" role="button" data-bs-toggle="collapse" data-bs-target="#exer_record_details" aria-expanded="true" aria-controls="kt_account_connected_accounts">
											<div class="card-title m-0">
												<h3 class="fw-bolder m-0">오늘 한 운동</h3>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Content-->
										<div id="exer_record_details_cntnt" class="collapse show" tabindex="-1" style="outline: none;">
											<!--begin::Card body-->
											<div class="card-body border-top p-9">
												<!--begin::exer_item-->
												<div class="d-flex flex-wrap align-items-center" th:if="${#lists.size(burnningRecordList) == 0}">
													<!--begin::Label-->
													<div class="fs-6 fw-bolder mb-1" id="exer_record_details_cntnt">
														<div class="fw-bold text-gray-600">입력한 정보가 없습니다</div>
													</div>
													<!--end::Label-->
												</div>
												<!--end::exer_item-->
												<th:block th:if="${#lists.size(burnningRecordList) > 0}" th:each="item, i : ${burnningRecordList}">
													<!--begin::exer_item-->
													<div class="d-flex flex-wrap align-items-center" >
														<!--begin::Label-->
														<div class="fs-6 fw-bolder mb-1" id="exer_record_details_cntnt" >
															<div class="fs-6 fw-bolder mb-1" th:text="${item.exerName}" th:value="${item.exer.exerNo}"></div>
															<div class="fw-bold text-gray-600" th:text="${item.anExerTime}"></div>
															<div class="fw-bold text-gray-600" th:text="|${item.userExerBurnning}Kcal 소모|"></div>
														</div>
														<!--end::Label-->
													</div>
													<!--end::exer_item-->
													<!--begin::Separator-->
													<div class="separator separator-dashed my-6" th:unless="${i.count eq i.size}"></div>
													<!--end::Separator-->
												</th:block>
												<!--begin::Notice-->
												<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
													<!--begin::Icon-->
													<!--begin::Svg Icon | path: icons/duotune/general/gen048.svg-->
													<span class="svg-icon svg-icon-2tx svg-icon-primary me-4">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="black"></path>
															<path d="M10.5606 11.3042L9.57283 10.3018C9.28174 10.0065 8.80522 10.0065 8.51412 10.3018C8.22897 10.5912 8.22897 11.0559 8.51412 11.3452L10.4182 13.2773C10.8099 13.6747 11.451 13.6747 11.8427 13.2773L15.4859 9.58051C15.771 9.29117 15.771 8.82648 15.4859 8.53714C15.1948 8.24176 14.7183 8.24176 14.4272 8.53714L11.7002 11.3042C11.3869 11.6221 10.874 11.6221 10.5606 11.3042Z" fill="black"></path>
														</svg>
													</span>
													<!--end::Svg Icon-->
													<!--end::Icon-->
													<!--begin::Wrapper-->
													<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
														<!--begin::Content-->
														<div class="mb-3 mb-md-0 fw-bold">
															<h4 class="text-gray-900 fw-bolder">오늘 운동 총 소모 칼로리 내용 써머리 한고,,</h4>
															<div class="fs-6 text-gray-700 pe-7">오늘 소모한 총 칼로리: 344KCal 총 운동시간 12:30:00</div>
														</div>
														<!--end::Content-->
														<!--begin::Action-->
														<a href="#" class="btn btn-primary px-6 align-self-center text-nowrap" data-bs-toggle="modal" data-bs-target="#kt_modal_two_factor_authentication">Enable</a>
														<!--end::Action-->
													</div>
													<!--end::Wrapper-->
												</div>
												<!--end::Notice-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::exer_record_details-->
									<!--begin::Notifications-->
									<div class="card mb-5 mb-xl-10">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" id="weekly_badge_count_title" role="button" data-bs-toggle="collapse" data-bs-target="#weekly_badge_count" aria-expanded="true" aria-controls="kt_account_notifications">
											<div class="card-title m-0">
												<h3 class="fw-bolder m-0">이주의 획득 뱃지</h3>
											</div>
										</div>
										<!--begin::Card header-->
										<!--begin::Content-->
										<div id="weekly_badge_count_cntnt" class="collapse show" tabindex="-1" style="outline: none;">
											<!--begin::Card body-->
											<div class="card-body border-top px-9 pt-3 pb-4">
												<!--begin::Table-->
												<div class="table-responsive">
													<table class="table table-row-dashed border-gray-300 align-middle gy-6">
														<tbody class="fs-6 fw-bold">
															<!--begin::Table row-->
															<tr>
																<td>식단 뱃지</td>
																<th:block th:if="${userServ.dailyTrgtIntakeKcal == null}">
																	<td>서비스 활성화 전입니다</td>
																	<td></td>
																</th:block>
																<th:block th:unless="${userServ.dailyTrgtIntakeKcal == null}">
																	<td th:text="|총 ${badgeCount.dietBadgeCount}개|"></td>
																	<td>이미지</td>
																</th:block>
															</tr>
															<!--end::Table row-->
															<!--begin::Table row-->
															<tr>
																<td>운동 뱃지</td>
																<th:block th:if="${userServ.dailyTrgtBurnningKcal == null}">
																	<td>서비스 활성화 전입니다</td>
																	<td></td>
																</th:block>
																<th:block th:unless="${userServ.dailyTrgtBurnningKcal == null}">
																	<td th:text="|총 ${badgeCount.exerBadgeCount}개|"></td>
																	<td><img src='../assets/img/exer_badge.png' style='width:45px; height:45px;'/></td>
																</th:block>
															</tr>
															<!--end::Table row-->
															<!--begin::Table row-->
															<tr>
																<td>물 마시기 뱃지</td>
																<td th:text="|총 ${badgeCount.wtrBadgeCount}개|"></td>
																<td>이미지</td>
															</tr>
															<!--end::Table row-->
															<!--begin::Table row-->
															<tr>
																<td>승부 뱃지</td>
																<td th:text="|총 ${badgeCount.bttlBadgeCount}개|"></td>
																<td>이미지</td>
															</tr>
															<!--end::Table row-->
														</tbody>
													</table>
												</div>
												<!--end::Table-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::Notifications-->
									<!--begin::Deactivate Account-->
									<div class="card">
										<!--begin::Card header-->
										<div class="card-header" id="user_event_title" data-bs-toggle="collapse" data-bs-target="#user_event" aria-expanded="true" aria-controls="kt_account_deactivate">
											<div class="card-title m-0">
												<div class="card-title"><h3 class="fw-bolder m-0">나의 이벤트</h3></div>
												<div class="card-toolbar">
													<button class="btn btn-flex btn-primary" id="addUserEvent_bttn" data-kt-calendar="add">
													<!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
													<span class="svg-icon svg-icon-2">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
															<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
														</svg>
													</span>
													<!--end::Svg Icon-->나의 이벤트 등록</button>
												</div>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Content-->
										<div id="user_event_cntnt" class="collapse show" tabindex="-1" style="outline: none;">
											<!--begin::Card body-->
											<div class="card-body border-top p-9" th:unless="${#lists.size(userEventList) == 0}">
												<!--begin::Row-->
												<div class="row row-cols-1 row-cols-lg-3 g-9" th:if="${#lists.size(userEventList) <= 3}">
													<th:block th:each="event, i :${userEventList}">
													<!--begin::Col-->
													<div class="col">
														<!--begin::Card-->
														<div class="card card-bordered">
															<div class="card-header ribbon ribbon-end">
																<div class="card-title test-script cursor-pointer" th:text="${event.eventTitle}" th:data-target="${event.userEventNo}"></div>
																<div class="ribbon-label bg-danger" th:if="${event.keyEventStt == 0}">대표</div>
															</div>
															<div class="card-body" th:text="|${event.eventCntnt}|"></div>
														</div>
														<!--end::Card-->
													</div>
													<!--end::Col-->
													</th:block>
												</div>
												<!--end::Row-->
												<!--begin::Row-->
												<div class="row row-cols-1 row-cols-lg-3 g-9" th:if="${#lists.size(userEventList) >= 4}">
													<th:block th:each="event, i :${userEventList}">
													<!--begin::Col-->
													<div class="col" th:style="${i.count <= 3}? 'hidden:hidden' : 'visible:visible'">
														<!--begin::Card-->
														<div class="card card-bordered">
															<div class="card-header ribbon ribbon-end">
																<div class="card-title test-script cursor-pointer" th:text="${event.eventTitle}" th:data-target="${event.userEventNo}"></div>
																<div class="ribbon-label bg-danger" th:if="${event.keyEventStt == 0}">대표</div>
															</div>
															<div class="card-body" th:text="|${event.eventCntnt}|"></div>
														</div>
														<!--end::Card-->
													</div>
													<!--end::Col-->
													</th:block>
												</div>
												<!--end::Row-->
												
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::Deactivate Account-->
								</div>
								<!--end::Layout-->
								<!--begin::Aside-->
								<div class="flex-column flex-md-row-auto w-100 w-lg-250px w-xxl-275px">
									<!--begin::Nav-->
									<div class="card mb-6 mb-xl-9" data-kt-sticky="true" data-kt-sticky-name="account-settings" data-kt-sticky-offset="{default: false, lg: 300}" data-kt-sticky-width="{lg: '250px', xxl: '275px'}" data-kt-sticky-left="auto" data-kt-sticky-top="100px" data-kt-sticky-zindex="95" style="animation-duration: 0.3s;">
										<!--begin::Card body-->
										<div class="card-body py-10 px-6">
											<!--begin::Menu-->
											<ul id="kt_account_settings" class="nav nav-flush menu menu-column menu-rounded menu-title-gray-600 menu-bullet-gray-300 menu-state-bg menu-state-bullet-primary fw-bold fs-6 mb-2">
												<li class="menu-item px-3 pt-0 pb-1">
													<a href="#diet_record_title" data-kt-scroll-toggle="true" class="menu-link px-3 nav-link active">
														<span class="menu-bullet">
															<span class="bullet bullet-vertical"></span>
														</span>
														<span class="menu-title">식단 기록</span>
													</a>
												</li>
												<li class="menu-item px-3 pt-0 pb-1">
													<a href="#diet_record_details_title" data-kt-scroll-toggle="true" class="menu-link px-3 nav-link">
														<span class="menu-bullet">
															<span class="bullet bullet-vertical"></span>
														</span>
														<span class="menu-title">오늘 먹은 식단</span>
													</a>
												</li>
												<li class="menu-item px-3 pt-0 pb-1">
													<a href="#exer_record_title" data-kt-scroll-toggle="true" class="menu-link px-3 nav-link">
														<span class="menu-bullet">
															<span class="bullet bullet-vertical"></span>
														</span>
														<span class="menu-title">운동 기록</span>
													</a>
												</li>
												<li class="menu-item px-3 pt-0 pb-1">
													<a href="#exer_record_details_title" data-kt-scroll-toggle="true" class="menu-link px-3 nav-link">
														<span class="menu-bullet">
															<span class="bullet bullet-vertical"></span>
														</span>
														<span class="menu-title">오늘 한 운동</span>
													</a>
												</li>
												<li class="menu-item px-3 pt-0">
													<a href="#weekly_badge_count_title" data-kt-scroll-toggle="true" class="menu-link px-3 nav-link">
														<span class="menu-bullet">
															<span class="bullet bullet-vertical"></span>
														</span>
														<span class="menu-title">이주의 획득 뱃지</span>
													</a>
												</li>
												<li class="menu-item px-3 pt-0">
													<a href="#user_event_title" data-kt-scroll-toggle="true" class="menu-link px-3 nav-link">
														<span class="menu-bullet">
															<span class="bullet bullet-vertical"></span>
														</span>
														<span class="menu-title">나의 이벤트</span>
													</a>
												</li>
											</ul>
											<!--end::Menu-->
										</div>
										<!--end::Card body-->
									</div>
									<!--end::Nav-->
								</div>
								<!--end::Aside-->
							</div>
							
							
							<!--begin::Modals-->
							<!--begin::Modal - New Product-->
							<div class="modal fade" id="kt_modal_add_event" tabindex="-1" aria-hidden="true">
								<!--begin::Modal dialog-->
								<div class="modal-dialog modal-dialog-centered mw-650px">
									<!--begin::Modal content-->
									<div class="modal-content">
										<!--begin::Form-->
										<form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#" id="kt_modal_add_event_form">
											<!--begin::Modal header-->
											<div class="modal-header">
												<!--begin::Modal title-->
												<h2 class="fw-bolder" data-kt-calendar="title">나의 이벤트 등록</h2>
												<!--end::Modal title-->
												<!--begin::Close-->
												<div class="btn btn-icon btn-sm btn-active-icon-primary" id="kt_modal_add_event_close" data-dismiss="modal">
													<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
													<span class="svg-icon svg-icon-1">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
															<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
														</svg>
													</span>
													<!--end::Svg Icon-->
												</div>
												<!--end::Close-->
											</div>
											<!--end::Modal header-->
											<!--begin::Modal body-->
											<div class="modal-body py-10 px-lg-17">
												<!--begin::Input group-->
												<div class="fv-row mb-9 fv-plugins-icon-container">
													<!--begin::Label-->
													<label class="fs-6 fw-bold required mb-2">나의 이벤트 제목</label>
													<!--end::Label-->
													<!--begin::Input-->
													<input type="text" class="form-control form-control-solid" placeholder="나의 이벤트 제목을 입력해주세요" name="user_event_title">
													<!--end::Input-->
												<div class="fv-plugins-message-container invalid-feedback"></div></div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="fv-row mb-9">
													<!--begin::Label-->
													<label class="fs-6 fw-bold required mb-2">나의 이벤트 내용</label>
													<!--end::Label-->
													<!--begin::Input-->
													<textarea class="form-control form-control-solid" placeholder="나의 이벤트 내용을 입력해주세요" name="user_event_cntnt"></textarea>
													<!--end::Input-->
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="row row-cols-lg-2 g-10">
													<div class="col">
														<div class="fv-row mb-9 fv-plugins-icon-container">
															<!--begin::Label-->
															<label class="fs-6 fw-bold mb-2 required">나의 이벤트 등록 일자</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input class="form-control form-control-solid flatpickr-input" name="user_event_date" placeholder="" id="kt_calendar_datepicker_start_date" type="text" readonly="readonly">
															<!--end::Input-->
														<div class="fv-plugins-message-container invalid-feedback"></div></div>
													</div>	
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Modal body-->
											<!--begin::Modal footer-->
											<div class="modal-footer flex-center">
												<!--begin::Button-->
												<button type="reset" id="kt_modal_add_event_cancel" class="btn btn-light me-3" data-dismiss="modal">취소</button>
												<!--end::Button-->
												<!--begin::Button-->
												<button type="button" id="kt_modal_add_event_submit" class="btn btn-primary">
													<span class="indicator-label">등록</span>
													<span class="indicator-progress">잠시만 기다려주세요!
													<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
												</button>
												<!--end::Button-->
											</div>
											<!--end::Modal footer-->
										<div></div></form>
										<!--end::Form-->
									</div>
								</div>
							</div>
							<!--end::Modal - New Product-->
							
							<!--begin::Modal - Update Product-->
							<div class="modal fade" id="kt_modal_update_event" tabindex="-1" aria-hidden="true">
								<!--begin::Modal dialog-->
								<div class="modal-dialog modal-dialog-centered mw-650px">
									<!--begin::Modal content-->
									<div class="modal-content">
										<!--begin::Form-->
										<form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#" id="kt_modal_update_event_form">
											<!--begin::Modal header-->
											<div class="modal-header">
												<!--begin::Modal title-->
												<h2 class="fw-bolder" data-kt-calendar="title">나의 이벤트 수정</h2>
												<!--end::Modal title-->
												<!--begin::Close-->
												<div class="btn btn-icon btn-sm btn-active-icon-primary" id="kt_modal_update_event_close" data-dismiss="modal">
													<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
													<span class="svg-icon svg-icon-1">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
															<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
														</svg>
													</span>
													<!--end::Svg Icon-->
												</div>
												<!--end::Close-->
											</div>
											<!--end::Modal header-->
											<!--begin::Modal body-->
											<div class="modal-body py-10 px-lg-17">
												<!--begin::Input group-->
												<div class="fv-row mb-9 fv-plugins-icon-container">
													<!--begin::Label-->
													<label class="fs-6 fw-bold required mb-2">나의 이벤트 제목</label>
													<!--end::Label-->
													<!--begin::Input-->
													<input type="text" class="form-control form-control-solid" name="user_event_title">
													<input type="hidden" name="user_event_no"/>
													<!--end::Input-->
												<div class="fv-plugins-message-container invalid-feedback"></div></div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="fv-row mb-9">
													<!--begin::Label-->
													<label class="fs-6 fw-bold required mb-2">나의 이벤트 내용</label>
													<!--end::Label-->
													<!--begin::Input-->
													<textarea class="form-control form-control-solid" name="user_event_cntnt"></textarea>
													<!--end::Input-->
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="row row-cols-lg-2 g-10">
													<div class="col">
														<div class="fv-row mb-9 fv-plugins-icon-container">
															<!--begin::Label-->
															<label class="fs-6 fw-bold mb-2 required">나의 이벤트 등록 일자</label>
															<!--end::Label-->
															<!--begin::Input-->
															<input class="form-control form-control-solid flatpickr-input" name="user_event_date" id="kt_calendar_datepicker_start_date" type="text" readonly="readonly">
															<!--end::Input-->
														<div class="fv-plugins-message-container invalid-feedback"></div></div>
													</div>	
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Modal body-->
											<!--begin::Modal footer-->
											<div class="modal-footer flex-center">
												<!--begin::Button-->
												<button type="button" id="kt_modal_update_event_submit" class="btn btn-primary">
													<span class="indicator-label">수정</span>
													<span class="indicator-progress">잠시만 기다려주세요!
													<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
												</button>
												<button type="button" id="kt_modal_delete_event_submit" class="btn btn-danger">
													<span class="indicator-label">삭제</span>
													<span class="indicator-progress">잠시만 기다려주세요!
													<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
												</button>
												<!--end::Button-->
											</div>
											<!--end::Modal footer-->
										<div></div></form>
										<!--end::Form-->
									</div>
								</div>
							</div>
							<!--end::Modal - Update Product-->
							<!--end::Modals-->
							
						</div>
						<!--end::Container-->
					</div>

<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 
		<!-- 공통 하단 footer -->
		<th:block th:replace="layout/fragments/footer.html :: footer"></th:block>
<!-- ////////////////////////////////////여기까지 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 		
		<script th:inline="javascript">
		//공통
		var date = [[${date}]];
		
		var trgtHabitList = [[${trgtHabitList}]];
		var badgeCount = [[${badgeCount}]];
		
		//서비스 이용 시
		var dailyRecord = [[${dailyRecord}]];
		var totalRecord = [[${totalRecord}]];
		var userServ = [[${userServ}]];
		var achievement = [[${achievement}]];
		var breakfast = [[${breakfast}]];
		var lunch = [[${lunch}]];
		var dinner = [[${dinner}]];
		var snack = [[${snack}]];
		var supper = [[${supper}]];
		var burnningRecordList = [[${burnningRecordList}]];
		
		console.log(date);
		
		console.log(trgtHabitList);
		console.log(badgeCount);
		console.log(dailyRecord);
		console.log(totalRecord);
		console.log(userServ);
		console.log(achievement);
		console.log(breakfast);
		console.log(lunch);
		console.log(lunch[0]);
		console.log(lunch[0].food);
		console.log(lunch[0].food.foodName);
		console.log(dinner);
		console.log(snack);
		console.log(supper);
		console.log(burnningRecordList);
		
		
		$(function() {
         
			/* ///////////////////Date Picker/////////////////// */

	         
	        $("#kt_daterangepicker_3").daterangepicker({
				singleDatePicker: true,
				showDropdowns: true,
				changeYear: false,
				locale: {
				   format: "YYYY-MM-DD",
				   separator: "-",
				   applyLabel: "선택",
				   cancelLabel: "취소"
				}
	        }, function(start, end, label) {
				var startDate = start.toJSON().substring(0,10);
				var endDate = end.toJSON().substring(0,10);
				console.log(startDate , endDate);
				
				$.ajax({
				    url: "/diary/getUserDailyLog?date="+endDate,
				    type: "GET",
				    data: JSON.stringify({userId : [[${session.user.userId}]],
				                 startDate : endDate,
				                 endDate : endDate}
				                   ),
				    contentType: "application/json"
				 }).done(function(info){
				  self.location = "/diary/getUserDailyLog?date="+info.date;
				 })
	        });
	         
	       /* ///////////////////Date Picker End/////////////////// */
	       
	        /* 사용자 이벤트 등록 모달 열기 */
	        $("#addUserEvent_bttn").on("click", function(){
	        	$("input[name=user_event_date]").attr("placeholder", date);
	        	$("#kt_modal_add_event").modal("show");
	        });
       
			/* 사용자 이벤트 등록 모달 닫기 */
			$("#kt_modal_add_event_close, #kt_modal_add_event_cancel").on("click",function(){
				$("#kt_modal_add_event").modal("hide");
			});
			
			/* 사용자 이벤트 등록 */
			$("#kt_modal_add_event_submit").on("click",function(){
				var userId = [[${session.user.userId}]];
				var eventTitle = $("input[name=user_event_title]").val();
				var eventCntnt = $("textarea[name=user_event_cntnt]").val();
				var eventDate = $("input[name=user_event_date]").attr("placeholder");
				
				console.log(eventDate);
				
				$.ajax({
					url: "/diary/json/addUserEvent",
					type: "POST",
					data: JSON.stringify({userId: userId,
										eventDate: eventDate,
										eventTitle: eventTitle,
										eventCntnt: eventCntnt}
										),
					contentType: "application/json"
				}).done(function(){
					$("#kt_modal_add_event").modal("hide");
				})
				
			});
			
			/* 사용자 이벤트 수정 모달 열기 */
			$(".test-script").on("click",function(){
				
				var target = $(this).attr("data-target");
				
				$.ajax({
					url: "/diary/json/getUserEvent/"+target,
					type: "GET",
					contentType: "application/json"
				}).done(function(userEvent){
					console.log(userEvent);
					
					$("input[name=user_event_no]").val(userEvent.userEventNo);
					$("input[name=user_event_title]").val(userEvent.eventTitle);
					$("textarea[name=user_event_cntnt]").val(userEvent.eventCntnt);
					$("input[name=user_event_date]").val(userEvent.eventDate);
					$("#kt_modal_update_event").modal("show");
					
					
					/* 사용자 이벤트 수정 */
					$("#kt_modal_update_event_submit").on("click",function(){
						var userEventNo = $("input[name=user_event_no]").val();
						var eventTitle = $("input[name=user_event_title]").val();
						var eventCntnt = $("textarea[name=user_event_cntnt]").val();

						$.ajax({
							url: "/diary/json/updateUserEvent",
							type: "POST",
							data: JSON.stringify({userEventNo : userEventNo,
												eventTitle: eventTitle,
												eventCntnt: eventCntnt}
												),
							contentType: "application/json"
						}).done(function(){
							$("#kt_modal_update_event").modal("hide");
						})
						
					});//updateUserEvent
					
					
					/* 사용자 이벤트 삭제 */
					$("#kt_modal_delete_event_submit").on("click",function(){
						var userEventNo = $("input[name=user_event_no]").val();

						$.ajax({
							url: "/diary/json/deleteUserEvent/"+userEventNo,
							type: "GET",
							contentType: "application/json"
						}).done(function(){
							$("#kt_modal_update_event").modal("hide");
						})
						
					});//deleteUserEvent
					
				})//getUserEvent
			});//click event

			/* 사용자 이벤트 수정 모달 닫기 */
			$("#kt_modal_update_event_close").on("click",function(){
				$("#kt_modal_update_event").modal("hide");
			});
			
			
		});
		
		</script>
<!-- ////////////////////////////////////여기부터 다시 절대 고정 건드리지마셈//////////////////////////////////// --> 	
	</body>
	<!--end::Body-->
</html>