<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="index/toolbar :: head">
<meta charset="utf-8">
</head>
<body>
<div th:insert="index/toolbar :: toolbar">
	</div>
<div class="container show-grid">
		<div class="row">
			<div class="col-md-12"><br><br>
			<ins>
			<div align="center" data-text-content="true" style="font-weight: bold; font-size: 33px; color: rgb(41, 96, 47);" class="">신체 정보 추이 조회</div>
			</ins>
			
			<div data-text-content="true" style="font-weight:bold;font-size:24px" class="" spellcheck="false">체중/체지방량/근골격량 입력(선택사항)</div>
			<div data-obj-id="TtfH7" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 487.669px; left: 727.669px; width: 63px; height: 27px;"><div data-text-content="true" style="font-weight:bold;" class="">근육량 : </div>
			<div data-obj-id="Dek9k" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; width: 158px; height: 30px;"><input type="text" data-min-width="60" data-min-height="30" data-text-content="true" value="내용을 입력해주세요" style="color: rgb(94, 94, 94);" class=""></div>
			<div data-obj-id="FoJkR" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 484.669px; left: 967.837px; width: 60px; height: 26px;"><div data-text-content="true" style="font-size: 12px; color: rgb(255, 255, 255); text-align: center; line-height: 2em; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(52, 152, 219);" class="">입력</div></div>
			<div data-obj-id="NZqtD" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 523px; left: 711px; width: 78px; height: 27px;"><div data-text-content="true" style="font-weight:bold;" class="">체지방량 : </div></div>
			<div data-obj-id="n0j6D" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 520.153px; left: 800.694px; width: 158px; height: 30px;"><input type="text" data-min-width="60" data-min-height="30" data-text-content="true" value="내용을 입력해주세요" style="color: rgb(94, 94, 94);" class=""></div>


</div>
</body>
</html>